{% load staticfiles %}


{% if social_login %}
<div style="margin-bottom: 10px;">
	<a style="background-color: #3b5998" class="fb-signup btn btn-primary btn-primary" href="{% url 'social:begin' 'facebook' %}?next={% url "goods:landing" %}">
		<img src="{% static "img/socialicons/fb-white-f.svg" %}" style="height: 20px" /> 
		Login with Facebook
	</a>
</div>
{% endif %}


{% comment %}
<div>
	<div class="fb-login-button" data-max-rows="1" data-size="medium" data-show-faces="false" data-auto-logout-link="false"></div>
</div>
{% endcomment %}
