trouvaay/lib/*
trouvaay/bin/*
trouvaay/include/*
latest.dump
*.pyc
*.log
*.orig
dev_settings.py
staging.py
production.py
dev_config.py
node_modules/*
fixtures/orders.json
fixtures/user.json
fixtures/dumpdata.json
