Django==1.7.1
Pillow==2.6.1
PyYAML==3.11
cloudinary==1.0.19
coverage==3.7.1
dj-database-url==0.3.0
dj-static==0.0.6
django-analytical==0.19.0
django-braces==1.4.0
django-crispy-forms==1.4.0
django-debug-toolbar==1.2.2
django-grappelli==2.6.3
django-localflavor==1.1
django-registration-redux==1.1
django-sslify==0.2.5
django-toolbelt==0.0.1
djorm-pgarray==1.2
gnureadline==6.3.3
gspread==0.2.2
gunicorn==19.1.1
ipython==2.3.1
psycopg2==2.5.4
requests==2.5.0
six==1.8.0
sqlparse==0.1.14
static3==0.5.1
stripe==1.19.1
wsgiref==0.1.2
