{% extends "registration/registration_form.html" %}
{% load crispy_forms_tags %}

{% block registration %}
    <h2>Account Created - Welcome!</h2>
    <div class="form-group col-sm-offset-3 col-sm-6 text-center login"> 
    <div class="text-center">
        <div id="div_id_password" class="form-group">
            <a href="{% url 'goods:landing' %}">
                <button type="button" class="btn btn-success"><b>Go Shop</b></button>
            </a>
        </div>
    </div>
    </div>
    {{ user }}
{% endblock %}
{% block endjs %}
    {{ block.super }}
    <script>
    $(document).ready(function() {
        var email = "{{ user.email }}";
        mixpanel.track(
                "User Signup",
               { "email": email }
            );
    });
    </script>
{% endblock %}
