{% extends '_base.html' %}

{% block content %}
<section class="top-quote" style="background-image: url('{{ STATIC_URL }}/img/picsamps/chairish.jpeg');">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="top-quote-text">
                    <strong>We dress up a room</strong> as best we can.
                    The clients are advised to tidy up, but <strong>we know</strong> what to look out for.
                    Furniture moved back creates a <strong>feeling of space</strong>, newspapers are removed,
                    children's toys tidied away and washing up put away.
                </div>
                <div class="top-quote-author">
                    - John Williams
                </div>
            </div>
        </div>
    </div>
</section>
<section class="tab-container">
    <div class="container">
        <div class="row text-center">
            <ul class="nav nav-tabs">
                <li><a href="#about" data-toggle="tab">About Rare Door</a></li>
                <li><a href="#shipping" data-toggle="tab">Shipping</a></li>
                <li><a href="#returns" data-toggle="tab">Returns & Exchanges</a></li>
                <li><a href="#" data-toggle="tab">Careers</a></li>
            </ul>
            <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
                <div class="tab-content">
                    <div class="tab-pane text-editor active" id="about">
                        <p>
                            ABOUT Vivamus suscipit, quam eu tempor hendrerit, metus nisl porttitor ante, sit amet congue nisl ipsum quis urna. Duis non nisl vitae risus fermentum malesuada. Ut tincidunt sagittis nulla in blandit.
                        </p> 
                        <p>
                            Pellentesque viverra ligula ullamcorper, eleifend massa ultrices, porta lectus. Proin venenatis pellentesque nibh, in dignissim ipsum iaculis et. Aliquam pellentesque nulla elementum adipiscing tempus. Morbi lobortis ligula commodo, blandit sem ultrices, convallis libero. 
                        </p>
                        <p>
                            Nam vitae augue ante. Aenean tellus purus, iaculis sed sapien ut, posuere ornare eros. Vestibulum laoreet arcu turpis, vel condimentum sapien accumsan sed. Donec in enim tempus, suscipit nunc in, pellentesque turpis. Nullam semper tempus odio, vel vehicula nunc. 
                        </p>
                        <h2>
                            Morbi non ipsum arcu.
                        </h2>
                        <br/>
                    </div>
                    <div class="tab-pane text-editor" id="shipping">
                        <p>
                             SHIPPING - Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vestibulum porta ut ligula at congue. Maecenas venenatis ligula lectus, at viverra diam venenatis nec. Vestibulum luctus, turpis nec lobortis tempor, justo diam accumsan arcu, sed eleifend risus lorem ac felis. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
                        </p>

                        <p>
                            Praesent ultricies vulputate dui. Nulla nibh est, gravida a elit non, bibendum sodales neque. Maecenas eu adipiscing augue. Nullam scelerisque vitae ligula ut porta. Aliquam dignissim felis leo, quis condimentum lorem molestie aliquet. Nulla malesuada cursus turpis scelerisque varius. Aenean pulvinar neque a nisl vestibulum iaculis. Pellentesque nunc nisl, venenatis sit amet augue in, vestibulum hendrerit ante. Sed consequat commodo risus, eget tincidunt est rhoncus id. Pellentesque at turpis ut ipsum rhoncus aliquam non pretium lectus. 
                        </p>
                        <h2>
                            Integer eu gravida.
                        </h2>
                        <br />
                    </div>
                    <div class="tab-pane text-editor" id="returns">
                        <p>
                             RETURNS - Sed at pulvinar nisi, vel sollicitudin quam. Vestibulum quam nibh, vestibulum ac arcu in, varius pellentesque quam. Cras non euismod urna. Vestibulum vel diam ac justo fermentum placerat. Sed venenatis semper augue et molestie. Proin pretium purus nec eros consectetur tempor. Maecenas congue libero vehicula est iaculis, eget molestie ante bibendum. Cras eu pellentesque purus, at condimentum nisi. 
                        </p>
                        <h2>
                            Vivamus vehicula nisi.
                        </h2>
                        <br />
                        <p>
                             Nunc ligula massa, sollicitudin sed sagittis a, viverra eu lectus. Sed in tincidunt metus. Vestibulum sem odio, blandit quis egestas non, porta eget nisl. Proin porta tortor et velit dignissim tempus. Praesent eleifend vitae tellus eleifend aliquet. Duis tempus eros sed quam sodales aliquam. Nulla scelerisque ornare lorem, sit amet tempus nisi mollis sit amet. Morbi auctor erat sed lectus porta aliquam. Sed dignissim nunc ut metus tempus auctor. 
                        </p>
                        <p>
                             Aliquam iaculis dapibus tellus dignissim congue. Pellentesque et ullamcorper mi, ac commodo magna. Integer ut magna dolor. Aliquam rutrum egestas nisi vitae condimentum. Integer accumsan nisi tincidunt, vehicula diam id, feugiat tellus. Donec sollicitudin euismod mattis. Maecenas pretium non orci placerat pellentesque. Sed congue felis porta consequat auctor. Vivamus porttitor tempor pellentesque. Vivamus eget orci urna. Etiam non arcu a velit dapibus fringilla a consectetur quam. Quisque aliquet nulla eros, sit amet tempus lectus tempus vitae. Cras a tincidunt enim. Integer ultrices justo a tortor pretium, non accumsan nibh ullamcorper. 
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}