{% extends '_base.html' %}

{% block content %}
<section class="top-quote" style="background-image: url('{{ STATIC_URL }}/img/picsamps/chairish.jpeg'); padding-top:300px">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <!-- <div class="top-quote-text">
                    live well, live much, laugh often.
                </div>
                <div class="top-quote-author">
                    - Elisabeth-Anne "Bessie" Anderson Stanley
                </div> -->
            </div>
        </div>
    </div>
</section>
<section class="tab-container">
    <div class="container">
        <div class="row text-center">
            <ul class="nav nav-tabs">
                <li><a href="#about" data-toggle="tab">About Rare Door</a></li>
                <li><a href="#shipping" data-toggle="tab">Shipping</a></li>
                <li><a href="#returns" data-toggle="tab">Returns & Exchanges</a></li>
                <li><a href="#careers" data-toggle="tab">Careers</a></li>
            </ul>
            <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
                <div class="tab-content">
                    <div class="tab-pane text-editor active" id="about">
                        <p>
                            Founded in 2014, in the heart of Silicon Valley, our mission is to make it easier for people to find home furnishings that are aligned with their unique tastes. Today, Rare Door carries home decor from independent retailers in the Bay, enabling you to find that one of kind piece without having to wander from store to store, sifting through inventory. Better yet, once you’ve found that piece, you don’t have to be concerned about getting it home.
                        </p> 
                        <p>
                            So why the name ‘Rare Door'? Door is derived from d’or, which is French for gold. Let us introduce you to rare gold. More treasure, less hunting.
                        </p>
                    </div>
                    <div class="tab-pane text-editor" id="shipping">
                        <p>
                             We know the disappointment that comes with finding a great piece of furniture and then realizing that shipping cost more than the item itself. Even worse, sometimes you have to coordinate the delivery on your own. We want to remove all that hassle. That’s why we have simple, 3 tier pricing for delivery: $5, $20, $50 based on the size of the purchase.
                        </p>
                        <p>
                            After you’ve placed your order, we’ll call you and coordinate a delivery time that is convenient for you.
                        </p>
                    </div>
                    <div class="tab-pane text-editor" id="returns">
                        <p>
                             Our return policy varies based on each individual item and is listed at the bottom of each detailed product page.
                        </p>
                        <p>
                            Since we want our customers to be happy with their purchase, we created the ‘Buy & Try’ feature for larger purchases. This feature enables you to touch, see, and feel the item in store, before it’s delivered to your door. So, you’ll have 48 hours from the time of purchase to check out the item and cancel your order — no cost, no questions asked. If you still want it, do nothing and we’ll deliver it as scheduled.
                        </p>
                    </div>
                    <div class="tab-pane text-editor" id="careers">
                        <p>
                             We're changing the sleepy home decor industry to make finding that perfect piece more fun and convenient.  Shoot us an <a href="mailto:careers@raredoor.com">email</a> if you'd like to join the mission!
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}