{% extends '_base.html' %}

{% block content %}
{% include '_tab_nav.html' %}
<section class="main-container" id="first-content-after-nav">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
                    <div class="post">
                        <h2>
                            Quisque fermentum sapien in<br/>
                            mollis auctor. Ut auctor
                        </h2>
                        <div class="post-info">
                            <ul>
                                <li>November 20th, 2013 by Octavian Munteanu</li>
                                <li><hr/></li>
                                <li>
                                    <a href="#"></a>
                                </li>
                            </ul>
                        </div>
                        <figure>
                            <img src="content/single-product01.jpg" alt=""/>
                        </figure>
                        <div class="post-content text-editor">
                            <p>
                                Nulla vestibulum consequat libero id viverra. Vivamus sodales feugiat rutrum.
                                Proin ullamcorper, ante sed vulputate ultrices, risus orci facilisis turpis,
                                at lacinia nunc dolor eget est. Integer congue gravida ultrices. Nam tellus nisl,
                                eleifend quis molestie a, malesuada adipiscing risus. Cras vitae metus commodo,
                                mattis elit at, congue arcu. Class aptent taciti sociosqu ad litora torquent
                                per conubia nostra, per inceptos himenaeos. Duis ullamcorper turpis ut sodales imperdiet.
                                Quisque et congue tellus. Morbi a ullamcorper nisl. Morbi tincidunt, ligula in
                                euismod placerat, odio justo iaculis neque, vel tincidunt risus elit ac leo.
                            </p>
                            <p>
                                Nulla non sodales erat, in vehicula enim. Quisque massa metus,
                                sollicitudin nec justo eu, condimentum cursus tortor. Phasellus
                                luctus nisl ac sapien tincidunt vestibulum. Sed et ullamcorper lacus.
                                Fusce nec aliquam elit. Quisque non sollicitudin orci. Maecenas quam
                                lorem, consectetur id rutrum ac, auctor vel dui. Aliquam et viverra enim.
                                Cras et tortor vehicula, cursus libero faucibus, aliquam nulla. Ut vitae
                                mauris ac elit commodo pretium ut at eros. Interdum et malesuada fames ac
                                ante ipsum primis in faucibus. Integer euismod rhoncus felis, sit amet
                                tristique mi lacinia nec.
                            </p>
                            <hr/>
                            <div class="fb-likes">
                                <img src="content/fb-like.jpg" alt=""/>
                            </div>
                        </div>
                    </div>
                    <div class="comments">
                        <h3>3 comments</h3>
                        <ul>
                            <li class="comment">
                                <figure>
                                    <a href="#">
                                        <img src="content/face1.jpg" alt=""/>
                                    </a>
                                </figure>
                                <div class="user">
                                    <a href="#">Jean Willes</a>
                                    says:
                                </div>
                                <div class="content">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean suscpit metus quis leo cod sit amet viverra turpis tincidunt.
                                </div>
                                <div class="date">September 20th, 2013</div>
                            </li>
                            <ul>
                                <li class="comment">
                                    <figure>
                                        <a href="#">
                                            <img src="content/face2.jpg" alt=""/>
                                        </a>
                                    </figure>
                                    <div class="user">
                                        <a href="#">Jean Willes</a>
                                        says:
                                    </div>
                                    <div class="content">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean suscpit metus quis leo cod sit amet viverra turpis tincidunt.
                                    </div>
                                    <div class="date">September 20th, 2013</div>
                                </li>
                                <ul>
                                    <li class="comment">
                                        <figure>
                                            <a href="#">
                                                <img src="content/face3.jpg" alt=""/>
                                            </a>
                                        </figure>
                                        <div class="user">
                                            <a href="#">Jean Willes</a>
                                            says:
                                        </div>
                                        <div class="content">
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean suscpit metus quis leo cod sit amet viverra turpis tincidunt.
                                        </div>
                                        <div class="date">September 20th, 2013</div>
                                    </li>
                                </ul>
                            </ul>
                            <li class="comment">
                                <figure>
                                    <a href="#">
                                        <img src="content/face4.jpg" alt=""/>
                                    </a>
                                </figure>
                                <div class="user">
                                    <a href="#">Madeleine Sherwood</a>
                                    says:
                                </div>
                                <div class="content">
                                    Realy awesome article.
                                </div>
                                <div class="date">September 20th, 2013</div>
                            </li>
                            <li class="comment">
                                <figure>
                                    <a href="#">
                                        <img src="content/face5.jpg" alt=""/>
                                    </a>
                                </figure>
                                <div class="user">
                                    <a href="#">Ronnie Spector</a>
                                    says:
                                </div>
                                <div class="content">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean suscpit metus quis leo cod sit amet viverra turpis tincidunt.
                                </div>
                                <div class="date">September 20th, 2013</div>
                            </li>
                        </ul>
                    </div>
                    <div class="write-comments">
                        <h3>Write comment</h3>
                        <form role="form">
                            <div class="col-sm-6">
                                <label for="name">Your Name*</label>
                                <input type="text" class="form-control" id="name" name="name">
                                <label for="email">Your Email*</label>
                                <input type="email" class="form-control" id="email" name="email">
                                <label for="url">URL</label>
                                <input type="text" class="form-control" id="url" name="url">
                            </div>
                            <div class="col-sm-6">
                                <textarea class="form-control" name="message"></textarea>
                                <button type="submit" class="btn btn-default">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>



{% endblock %}