{% extends '_base.html' %}

{% block content %}
<section class="filters-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <ul class="categories">
                        <li>Categories:</li>
                        <li>
                            <a class="active" href="#" data-filter="*">All</a>
                        </li>
                        <li>
                            <a href="#" data-filter=".filter-news">Announcements & news</a>
                        </li>
                        <li>
                            <a href="#" data-filter=".filter-trends">Trends</a>
                        </li>
                        <li>
                            <a href="#" data-filter=".filter-tips">Tips & Tricks</a>
                        </li>
                        <li>
                            <a href="#" data-filter=".filter-video">Video</a>
                        </li>
                    </ul>
                    <hr/>
                    <ul class="archive">
                        <li>Archive:</li>
                        <li>
                            <a href="#" data-filter=".filter-2013">2013</a>
                        </li>
                        <li>
                            <a href="#" data-filter=".filter-2012">2012</a>
                        </li>
                        <li>
                            <a href="#" data-filter=".filter-2011">2011</a>
                        </li>
                        <li>
                            <a href="#" data-filter=".filter-2010">2010</a>
                        </li>
                        <li>
                            <a href="#" data-filter=".filter-2009">2009</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section class="products-wrapper">
        <div class="container">
            <div class="row">
                <div class="isotope-products">
                    <div class="col-sm-6 filter-news filter-2011">
                        <article>
                            <figure>
                                <a href="post.html">
                                    <img src="content/home_product01.jpg" alt=""/>
                                </a>
                            </figure>
                            <div class="article-content">
                                <h3>
                                    <a href="post.html">
                                        Aliquam suscipit eleifend ligula. Nunc ac posuere tellus
                                    </a>
                                </h3>
                                <div class="content">
                                    Quisque et congue tellus. Urbi a ullamcorper nisl.
                                    Morbi tincidunt...
                                </div>
                                <a class="read-more" href="post.html">Read more</a>
                                <a class="link" href="post.html"></a>
                            </div>
                        </article>
                    </div>
                    <div class="col-sm-6 filter-video filter-2013">
                        <article class="video">
                            <figure>
                                <iframe width="420" height="315" src="//www.youtube.com/embed/dAa6bOWB8qY" frameborder="0" allowfullscreen></iframe>
                            </figure>
                            <div class="article-content">
                                <h3>
                                    <a href="post.html">
                                        post with youtube video embedded
                                    </a>
                                </h3>
                                <div class="content">
                                    Aenean vitae purus commodo,
                                    malesuada massa sit amet, lacinia sem...
                                </div>
                                <a class="read-more" href="post.html">Read more</a>
                                <a class="link" href="post.html"></a>
                            </div>
                        </article>
                    </div>
                    <div class="col-sm-6 filter-tips filter-trends filter-news filter-2010">
                        <article>
                            <figure>
                                <a href="post.html">
                                    <img src="content/home_product02.jpg" alt=""/>
                                </a>
                            </figure>
                            <div class="article-content">
                                <h3>
                                    <a href="post.html">
                                        Vivamus semper
                                    </a>
                                </h3>
                                <div class="content">
                                    Aenean vitae purus commodo, malesuada massa sit amet, lacinia sem.
                                    Nam in interdum mi. Vivamus facilisis
                                </div>
                                <a class="read-more" href="post.html">Read more</a>
                                <a class="link" href="post.html"></a>
                            </div>
                        </article>
                    </div>
                    <div class="col-sm-6 filter-trends filter-tips filter-2009">
                        <article>
                            <figure>
                                <a href="post.html">
                                    <img src="content/home_product03.jpg" alt=""/>
                                </a>
                            </figure>
                            <div class="article-content">
                                <h3>
                                    <a href="post.html">
                                        massa consequat tristique at in erat
                                    </a>
                                </h3>
                                <div class="content">
                                    Praesent lacus turpis, rhoncus quis sapien ut, porta malesuada nulla.
                                    Suspendisse feug...
                                </div>
                                <a class="read-more" href="post.html">Read more</a>
                                <a class="link" href="post.html"></a>
                            </div>
                        </article>
                    </div>
                    <div class="col-sm-6 filter-news filter-2012">
                        <article>
                            <figure>
                                <a href="post.html">
                                    <img src="content/home_product04.jpg" alt=""/>
                                </a>
                            </figure>
                            <div class="article-content">
                                <h3>
                                    <a href="post.html">
                                        Quisque ermentum sapien in mollis rtristique uctus
                                    </a>
                                </h3>
                                <div class="content">
                                    Quisque et congue tellus. Urbi a ullamcorper nisl. Morbi tincidunt,
                                    ligula...
                                </div>
                                <a class="read-more" href="post.html">Read more</a>
                                <a class="link" href="post.html"></a>
                            </div>
                        </article>
                    </div>
                    <div class="col-sm-6 filter-news filter-tips filter-2011">
                        <article>
                            <figure>
                                <a href="post.html">
                                    <img src="content/home_product05.jpg" alt=""/>
                                </a>
                            </figure>
                            <div class="article-content">
                                <h3>
                                    <a href="post.html">
                                        Ut auctor orci a tristique luctus. Pellentesque
                                    </a>
                                </h3>
                                <div class="content">
                                    Aenean vitae purus commodo, malesuada massa sit amet, lacinia sem. Nam in interdum mi.
                                </div>
                                <a class="read-more" href="post.html">Read more</a>
                                <a class="link" href="post.html"></a>
                            </div>
                        </article>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="load-more-wrapper text-center">
                        <a class="load-more" href="#">Load more posts</a>
                    </div>
                </div>
            </div>
        </div>
</section>

{% endblock %}