{% extends '_base.html' %}

{% block content %}
<section class="map-container">
    <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.ro/maps?f=q&amp;source=s_q&amp;hl=ro&amp;geocode=&amp;q=455+Larkspur+Drive,+San+Jos%C3%A9,+California,+Statele+Unite+ale+Americii&amp;aq=0&amp;oq=+455+Larkspur+San+Jos%C3%A9,+California,+Statele+Unite+ale+Americii+&amp;sll=37.339386,-121.894956&amp;sspn=0.489688,1.056747&amp;ie=UTF8&amp;hq=&amp;hnear=Larkspur+Dr,+San+Jose,+Santa+Clara+County,+California+95125,+Statele+Unite+ale+Americii&amp;t=m&amp;z=14&amp;ll=37.278689,-121.896325&amp;output=embed"></iframe>
    <div class="address-info-wrap">
        <div class="address-info">
            <div class="name">Trendy Room</div>
            <address>
                455 Larkspur DR
                <br/>
                San Jose CS 92926 4601
            </address>
            <div class="phone">+1-354-895-4592 or +1-745-442-2708</div>
            <div class="overlay-map"></div>
        </div>
    </div>
</section>
<section class="main-container">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
                <div class="contact-info text-editor">
                    <h2>
                        Are you a designer?
                    </h2>
                    <p>
                        Nulla vestibulum consequat libero id viverra.
                        Vivamus sodales feugiat rutrum. Proin ullamcorper,
                        ante sed vulputate ultrices, risus orci facilisis turpis,
                        at lacinia nunc dolor eget est. Integer congue gravida <a href="#">designer@trendyroom.com</a>
                    </p>
                    <hr/>
                    <h2>
                        Be social
                    </h2>
                    <p>
                        Nulla vestibulum consequat libero id viverra.
                        Vivamus sodales feugiat rutrum. Proin ullamcorper,
                        ante sed vulputate ultrices.
                    </p>
                    <ul class="social-icons">
                        <li><a href="#" class="social-icon twitter"></a></li>
                        <li><a href="#" class="social-icon instagram"></a></li>
                        <li><a href="#" class="social-icon facebook"></a></li>
                        <li><a href="#" class="social-icon flickr"></a></li>
                        <li><a href="#" class="social-icon dribble"></a></li>
                        <li><a href="#" class="social-icon picasa"></a></li>
                        <li><a href="#" class="social-icon googleplus"></a></li>
                        <li><a href="#" class="social-icon rss"></a></li>
                    </ul>
                    <hr/>
                    <h2>
                        Departments
                    </h2>
                    <ul>
                        <li><a href="#">Webshop</a></li>
                        <li><a href="#">Wholesale</a></li>
                        <li><a href="#">Press</a></li>
                        <li><a href="#">Office</a></li>
                        <li><a href="#">Finance</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}