{% extends '_base.html' %}
{% load static %}

{% block title %} Returns | Rare Door | One-of-a-kind Furniture & Home Decor{% endblock title %}
{% block bodyclass %}{% endblock %}

{% block content %}
<section class="info-page">
  <div class="container">
    <div class="info">
      <p>
      <strong>OUR RETURN POLICY VARIES</strong> based on each individual item and is listed at the bottom of each detailed product page.
      </p>
      <p>
      <strong>BECAUSE WE'RE LOCALLY FOCUSED</strong>, we give you the opportunity to experience the product before you pay for it.  You'll have <strong>48 hours</strong> to go touch, feel, and see your item in-store & then make your purchase.
    </p>
    <h2>The convenience of online shopping without the regret.</h2>

  </div>
</div>
<div class="container-fluid more-questions-container">
  <div class="row-fluid">
    <header class="col-xs-12">Have more questions? email us: <a href="mailto:help@raredoor.com">help@raredoor.com</a></header>
  </div>
</div>
</section>
<div class="container want-join-container">
  <div class="row">
    <div class="col-md-4 col-xs-12"><h3>Want to join us?</h3></div>
    <div class="col-md-8 col-xs-12">If you want to join our mission to make finding that perfect piece more fun and convenient, shoot us an email!</div>
  </div>
</div>

{% endblock %}
