{% extends '_base.html' %}
{% load static %}

{% block title %} Returns | Rare Door | One-of-a-kind Furniture & Home Decor{% endblock title %}
{% block bodyclass %}{% endblock %}

{% block content %}
<section class="info-page">
  <div class="container">
    <div class="info">
      <p>
        <strong>BECAUSE WE'RE LOCALLY FOCUSED</strong>, we want you to be able to get to know the product before you pay for it.  Go touch, feel, and see your item in-store & then make your purchase.  </br> If you are still on the fence about an item, return policies will vary the item and retailer so email us if you have a question about a particular piece.
      </p>
      <h2 style="text-align: center">The convenience of online shopping without the regret.</h2>
    </div>
  </div>
  <div class="container-fluid more-questions-container">
    <div class="row-fluid">
      <header class="col-xs-12">Have more questions? email us: <a href="mailto:help@raredoor.com">help@raredoor.com</a></header>
    </div>
  </div>
</section>
{% endblock %}
