
<input id="display-how-it-works" type="checkbox" name="">
<div class="container hidden" id="how-it-works-mobile" style="border-bottom: solid black 2px">
	<div class="row-fluid">
        <div class="col-md-12 statement">
            <h3>Great Items Available Locally</h3>
            <h5>Want that great statement piece but don't know where to go? We partner with independent furniture stores in the Bay to bring the best vintage, unique, and floor model deals in one place.</h5>
        </div>
        <div class="col-md-12 statement">
            <h3>See Your Item Before Paying</h3>
            <h5>You have 48 hours to go touch and see your item before your reservation is cancelled. The convenience of online shopping without the regret.</h5>
        </div>
        <div class="col-md-12 statement">
            <h3>Affordable Delivery</h3>
            <h5>We charge $5 for small items, $65 for bulk items. Good huh?</h5>
            <h5>After you’ve placed your order, we’ll call you to provide the delivery price and coordinate a delivery time that is convenient for you.</h5>
        </div>
        <div class="col-md-12 statement">
            <h3 style="text-align:center">More treasure, less hunting.</h3>
        </div>
    </div><!-- end row -->
</div>