
<input id="display-how-it-works" type="checkbox" name="">
<div class="container hidden" id="how-it-works-mobile">
	<div class="row">
		<div class="col-sm-4 info">
			<div class="browse">
				<header>Browse</header>
				<p>A curated selection of new and vintage furniture — all available locally — at <i>Raredoor.com.</i></p>
			</div>
		</div>
		<div class="col-sm-4 info">
			<div class="reserve">
				<header>Reserve</header>
				<p>Your perfect pieces online and take a few days to see the items in a store nearby.</p>
			</div>
		</div>
		<div class="col-sm-4 info">
			<div class="purchase">
				<header>Purchase</header>
				<p>Through us and receive great deals, as well as affordable delivery.</p>
			</div>
		</div>
	</div>
</div>
