{% load crispy_forms_tags %}
<div class="modal" id="buy_precheckout-modal">
	<div class="modal-dialog">
		<div class="modal-content col-xs-12">
			<div class="modal-body">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
				<div class="form-group text-center">
					<div class="text-center">
						<fieldset>
							<legend>
								{% if buy_notavailable_message %}
									<h2>{% if buy_notavailable_header %}{{ buy_notavailable_header }}{% else %}Item not available{% endif %}</h2>
								{% endif %}
							</legend>
							<div class="row">
								<div class="col-xs-12" id="reservation-status-message" class="text-center">
		                            <h5>
		                            {% if buy_notavailable_message %}
		                            	{{ buy_notavailable_message }}
		                            {% endif %}
		                            </h5>
	                        	</div>
							</div>
						</fieldset>
					</div>
				</div>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.researvation-modal -->
