{% extends '_base.html' %}

{% block content %}
<section class="checkout-steps-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
                <div class="checkout-steps">
                    <ul>
                        <li>
                            <div class="checkbox-wrap checked">
                                <i class="fa fa-check"></i>
                            </div>
                            <div class="checkout-step checked">Shipping Info</div>
                        </li>
                        <li>
                            <div class="checkbox-wrap checked">
                            </div>
                            <div class="checkout-step">Payment Info</div>
                        </li>
                        <li>
                            <div class="checkbox-wrap"></div>
                            <div class="checkout-step">Review Order</div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="main-container">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
                <div class="payment-form">
                    <form role="form">
                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label for="card-number">Name</label>
                                <input type="text" class="form-control" id="name" name="name">
                            </div>
                            <div class="form-group col-sm-6">
                                <label for="card-name">Street</label>
                                <input type="text" class="form-control" id="street" name="street">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label for="card-date">City</label>
                                <input type="text" class="form-control" id="city" name="city">
                            </div>
                            <div class="form-group col-sm-2">
                                <label for="card-cvv">State</label>
                                <input type="text" class="form-control" id="state" name="state">
                            </div>
                            <div class="form-group col-sm-3">
                                <label for="card-cvv">Zip Code</label>
                                <input type="text" class="form-control" id="zipcd" name="zipcd">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label for="card-cvv">Phone</label>
                                <input type="text" class="form-control" id="phone" name="phone">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-12">
                                <button type="submit" class="btn btn-default">Submit</button>
                            </div>
                        </div>
                    </form>
                       <!--  <div class="row">
                            <div class="form-group col-xs-12">
                                    <form action="{% url 'members:payment' %}" method="POST">
                                    {% csrf_token %}
                                      <script
                                        src=https://checkout.stripe.com/checkout.js class="stripe-button"
                                        data-key="pk_test_LaznDX4YQ97iS5tAZBKGcRnN"
                                        data-amount="2000"
                                        data-name="Demo Site"
                                        data-description="2 widgets ($20.00)"
                                        data-image="/128x128.png">
                                      </script>
                                    </form>
                            </div>
                        </div> -->
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}