{% load staticfiles %}
<div class="modal" id="pre-checkout-modal">
	<div class="modal-dialog">
		<div class="modal-content col-xs-12">
			<div class="modal-body">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
				<div class="form-group text-center">	
					<div class="text-center">
						<fieldset>
							<legend>
								<h2>Purchase Details</h2>
							</legend>
							<div class="row">
							{% if order_type == 'reserve' %}
								<div class="col-xs-12">
									<div class="alert alert-info" role="alert" style="margin-bottom:5px; height:100%">
			                            <p class="text-center"><span id="pre-checkout-capture-date-try">
			                            Your card won't be charged. </br>You're one step away from getting the location of your</span>
			                            </br>
			                            <b>{{ product.short_name }}</b>
			                            </p>
		                        	</div>
								</div>
							{% else %}
							<!-- Buy options -->
							<div class="col-xs-12">
								<div class="alert alert-info" role="alert" style="margin-bottom:5px; height:100%">
		                            <p class="text-center">
		                            You're one step away from your</br>
		                            <b>{{ product.short_name }}</b>
		                            </p>
	                        	</div>
	                        {% endif %}
							</div>
							</div>
							<div class="row">
							<div class="col-xs-12">
								<table class="table">
							      	<thead>
							        	<tr>
							          		<th>Product</th>
							          		<td align="right"><strong>Price</strong></td>
							        	</tr>
							      	</thead>
							      	<tbody>
										<tr>
											<th scope="row">{{ product.short_name }}</td>
											<td align="right">${{ product.current_price|floatformat:2 }}</td>
										</tr>
										{% for discount in discounts %}
										<tr>
											<th scope="row">Discount ({{ discount.name }})</td>
											<td align="right">(${{ discount.dollar_value|floatformat:2 }})</td>
											{% if discount.promo_code %}
											<span style="display: none;" class="promo-code-pass-through">{{ discount.promo_code }}</span>
											{% endif %}
										</tr>
										{% endfor %}
										<tr>
											<th scope="row">Subtotal</td>
											<td align="right">${{ subtotal_dollar_value|floatformat:2 }}</td>
										</tr>
										{% if not promo_is_valid %}
										<tr>
											<th scope="row">
												{% if promo_code_message %}<label style="color:red" for="input-promo-code"><b>{{ promo_code_message }}</b></label>{% endif %}
												<input type="text" name="promo_code" id="input-promo-code" placeholder="Promo code" /></td>
											<td align="right"><button id="{% if order_type == "buy" %}buy{% else %}reserve{% endif %}_withpromocode_{{ product.id }}" 
													type="button" class="btn btn-primary btn-xs apply-promo-code">Apply</button></td>
										</tr>
										{% endif %}
										{% if can_enter_promo_code %}
										{% endif %}
										{% if taxes %}
										<tr>
											<th scope="row">Taxes ({{ taxes.percentage|floatformat:2 }}%)</td>
											<td align="right">${{ taxes.dollar_value|floatformat:2 }}</td>
										</tr>
										{% endif %}
										<tr class="success">
											<th scope="row"><strong>Total</strong></td>
											<td align="right">${{ total.in_dollars|floatformat:2 }}</td>
										</tr>										
							      	</tbody>
							    </table>
							    <button id="button-precheckout-submit" type="button" class="btn btn-success">
								    {% if order_type == 'reserve' %}
										Reserve
									{% else %}
										Purchase
		                        	{% endif %}
	                        	</button>		
							</div>
							</div>
						</fieldset>
					</div>
				</div>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.pre-checkout-modal -->

<script>
$(document).ready(function() {
	
	var productName = "{{ product.short_name }}";
	var productPrice = {{ total.in_cents }};
	var orderType = "{{ order_type }}";
	
	console.log('pre-checkout is loaded');
	console.log('productPrice: ' + productPrice);
	console.log('total_purchase_price: ' + {{ total.in_cents }});
	
	$('.btn.apply-promo-code').on('click', handleBuyButtonClick);
	
	$('#button-precheckout-submit').on('click', function(e) {
		if (orderType == 'buy') {
			mixpanel.track(
	                "Buy Pre-checkout Submitted",
	                { "product": productName }
	            );
		}
		else if (orderType == 'reserve') {
			mixpanel.track(
	                "Reserve Pre-checkout Submitted",
	                { "product": productName }
	            );
		}

		if(productName != '' && !(typeof productName === 'undefined') && productPrice != '' && !(typeof productPrice === 'undefined')){

			var promoCodesArray = [];
			$(".promo-code-pass-through").each(function() {
				promoCodesArray.push($(this).text());
			});
			console.log('promoCodesArray: '+promoCodesArray);
			
			var promoCodes = promoCodesArray.join(",");
			console.log('promoCodes: '+promoCodes);
		
		
	  		$('#pre-checkout-modal').modal('hide');
	  		console.log('pre-checkout modal hidden');
	  		
			var handler = StripeCheckout.configure({
				key: '{{ stripe_publishable_key }}',
				image: "{% static 'img/logos/Raredoor-R-icon-gold.png' %}",
				name: '{{ site_name }}',
				description: productName,
				amount: productPrice,
				shippingAddress: "true",
				token: function(token, args) {
					$.ajax({
						type: "POST",
						url: {% url "members:reserve_callback" %},
						data: {
							token: token,
							args: args,
							total_amount: productPrice,
							order_type: orderType,
							product_id: {{ product.id }},
							promo_codes: promoCodes
						},
						success: function(data){
							console.log('checkout callback returned: ' + data['status']);
						
						  	if(data['status'] == "ok"){
						  	
						  		$("#reserved-product-name").text(data['product_name']);
						  		$("#reserved-product-store-name").text(data['store_name']);
						  		var storeAddress = data['store_street'];
						  		if(data['store_street2'] != ""){
						  			storeAddress += ("<br>" + data['store_street2']);
						  		}
						  		storeAddress += ("<br>" + data['store_city'] + " " + data['store_state'] + " " + data['store_zipcode']);
								$("#reserved-product-store-address").html(storeAddress);
								
								console.log('capture date: '+data['capture_date']);
								if(data['capture_date']){
									$("#reserved-product-capture-date").append(' ' + data['capture_date']);
									$("#reserved-product-capture-date").show();
								}
								else{
									$("#reserved-product-capture-date").hide();
									$("#product-purchase-try").hide();
									$("#product-purchase-buy").show();
								}
								
								$("#reserved-product-image").attr('src', (data['image_src']));
								$("#post-checkout-modal").modal({
									show: true,
									keyboard: true
								});
								
								if(data['ask_phone']){
									console.log('we have a post checkout form');
									$("#id_email").val(data['email'])
									$("#id_post_checkout_hash").val(data['post_checkout_hash'])
									$("#post-checkout-form-contents").show();
									$('#button-id-post-checkout').on('click', handlePostCheckoutClick);
								}
								else{
									$("#post-checkout-form-contents").hide();
									console.log('no post checkout form');
								}
						  	}
						},
						error: function(error) {
							console.log(error.responseText);
						},
						dataType: "json"
					});
				}
			});				
		
		  	handler.open({
				panelLabel: "Checkout {% verbatim %}{{amount}}{% endverbatim %}"
			});
		}
	});
});
</script>