{% load crispy_forms_tags %}
<div class="modal" id="reserve_precheckout-modal">
	<div class="modal-dialog">
		<div class="modal-content col-xs-12">
			<div class="modal-body">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
				<div class="form-group text-center">
					<div class="text-center">
						<fieldset>
							<legend>
								<h2>Reservation</h2>
							</legend>
							<div class="row">
								<div class="col-xs-12" class="text-center">
		                            <h5>
		                            Please provide the following info to reserve the item and we'll tell you where you can see this piece in person.
		                            </h5>
		                            <br />
									{% crispy form %}
	                        	</div>
							</div>
						</fieldset>
					</div>
				</div>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.researvation-modal -->

<script>
$(document).ready(function() {
	
	var productId = "{{ product.id }}";
	var productName = "{{ product.short_name }}";
	$('#button-id-button-reserve').on('click', function(e) {

		//reserve event tracking

		//fire mixpanel event
		mixpanel.track(
	                "Reserve Pre-checkout Submitted",
	                { "product": productName }
	            );

		//fire google adwords event
		window.google_trackConversion({
		    google_conversion_id: 956335221,
		    google_conversion_language: "en",
			google_conversion_format: "3",
			google_conversion_color: "ffffff",
			google_conversion_label: "V56HCLDa6FkQ9YiCyAM",
		    google_remarketing_only: false,
		});
		
		console.log('clicked on submit reservation');
		if(productId && !(typeof productId === 'undefined')){
			$.ajax({
				type: "POST",
				url: "/reserve/"+productId+"/",
				data: $("#form-reserve").serialize(),
				dataType: "html",
				success: function(response, status){
					$("#pre-checkout-modal-container").html(response);
					$("#reservation-modal").modal({
						show: true,
						keyboard: true
					});
					mixpanel.track(
	                "Reservation Completed",
	                { "product": productName }
	            	);
					FBReservationEvent();
				},
			});
		}        

	});
});
</script>