{% if is_buy %}
    <h1>Thank you for your purchase!</h1>  

    <p>
    We will be in touch shortly to coordinate pickup/delivery of your <b>{{ product.short_name }}</b>
    </p>

{% else %}
    <h1>Thank you for your reservation!</h1>  

    <p>
    We're confirming the availability of your {{ product.short_name }} (these things move fast!).  Once confirmed, we'll send you an email with the name and location of the store that carries your piece.</p>
    <br>
    <p> You can track your reservation from your profile page.</p> 
{% endif %}


{% if uid and token %}
        <p>
        Your account has been created from the email you have provided.  To access this page, you need to first reset your password by following this link:</p>
        <a href="{{ protocol }}://{{ domain }}{% url 'auth_password_reset_confirm' uid token %}">
        {{ protocol }}://{{ domain }}{% url 'auth_password_reset_confirm' uid token %}</a></p>
{% endif %}

<p>Sincerely,<br />

Rare Door</br>
help@raredoor.com</br>
650.603.0386
</p>