{% load crispy_forms_tags %}
<div class="modal" id="reservation-modal">
	<div class="modal-dialog">
		<div class="modal-content col-xs-12">
			<div class="modal-body">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
				<div class="form-group text-center">
					<div class="text-center">
						<fieldset>
							<legend>
								{% if reservation_message %}
									<h2>Reservation</h2>
								{% else %}
									<h2>Thank you for your reservation</h2>
								{% endif %}
							</legend>
							<div class="row">
								<div class="col-xs-12" id="reservation-status-message" class="text-center">
		                            <h5>
		                            {% if reservation_message %}
		                            	{{ reservation_message }}
		                            {% else %}
		                            	Your item has been added to your profile page.  You have {{ order_user.get_number_of_reservations_left }} reservtions left.<br />
		                            	You're receive an email to schedule a time to see your piece shortly.
		                            {% endif %}
		                            </h5>
	                        	</div>
							</div>
						</fieldset>
					</div>
				</div>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.researvation-modal -->
