@charset "UTF-8";
/* Colors */
a:focus {
  text-decoration: none;
}

.arrow-link {
  font-family: "Ostrich Sans";
  font-weight: 800;
  letter-spacing: 1px;
}
.arrow-link:before {
  content: 'i';
  font-size: 33px;
  display: inline-block;
  position: relative;
  top: 6px;
  margin-right: 11px;
  font-family: "raredoor" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.arrow-link:hover {
  text-decoration: none;
}

.social-icons a span {
  display: none;
}

html, body {
  height: 100%;
  -webkit-font-smoothing: antialiased;
}

.wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -150px;
}
@media (max-width: 992px) {
  .wrap {
    margin: 0 auto -70px;
  }
}
@media (max-width: 480px) {
  .wrap {
    margin: 0 auto -130px;
  }
}

.like-btn span {
  display: none;
}

@font-face {
  font-family: 'Ostrich Sans';
  src: url("../fonts/ostrich-black-webfont.eot");
  src: url("../fonts/ostrich-black-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/ostrich-black-webfont.woff2") format("woff2"), url("../fonts/ostrich-black-webfont.woff") format("woff"), url("../fonts/ostrich-black-webfont.ttf") format("truetype"), url("../fonts/ostrich-black-webfont.svg#ostrich_sansblack") format("svg");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'Ostrich Sans';
  src: url("../fonts/ostrich-bold-webfont.eot");
  src: url("../fonts/ostrich-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/ostrich-bold-webfont.woff2") format("woff2"), url("../fonts/ostrich-bold-webfont.woff") format("woff"), url("../fonts/ostrich-bold-webfont.ttf") format("truetype"), url("../fonts/ostrich-bold-webfont.svg#ostrich_sansblack") format("svg");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Droid Serif';
  src: url("../fonts/DroidSerif-Bold-webfont.eot");
  src: url("../fonts/DroidSerif-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/DroidSerif-Bold-webfont.woff") format("woff"), url("../fonts/DroidSerif-Bold-webfont.ttf") format("truetype"), url("../fonts/DroidSerif-Bold-webfont.svg#droid_serifbold") format("svg");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Droid Serif';
  src: url("../fonts/DroidSerif-BoldItalic-webfont.eot");
  src: url("../fonts/DroidSerif-BoldItalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/DroidSerif-BoldItalic-webfont.woff") format("woff"), url("../fonts/DroidSerif-BoldItalic-webfont.ttf") format("truetype"), url("../fonts/DroidSerif-BoldItalic-webfont.svg#droid_serifbold") format("svg");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'Droid Serif';
  src: url("../fonts/DroidSerif-Italic-webfont.eot");
  src: url("../fonts/DroidSerif-Italic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/DroidSerif-Italic-webfont.woff") format("woff"), url("../fonts/DroidSerif-Italic-webfont.ttf") format("truetype"), url("../fonts/DroidSerif-Italic-webfont.svg#droid_serifbold") format("svg");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Droid Serif';
  src: url("../fonts/DroidSerif-Regular-webfont.eot");
  src: url("../fonts/DroidSerif-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/DroidSerif-Regular-webfont.woff") format("woff"), url("../fonts/DroidSerif-Regular-webfont.ttf") format("truetype"), url("../fonts/DroidSerif-Regular-webfont.svg#droid_serif") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "raredoor";
  src: url("../fonts/raredoor.eot");
  src: url("../fonts/raredoor.eot?#iefix") format("embedded-opentype"), url("../fonts/raredoor.woff") format("woff"), url("../fonts/raredoor.ttf") format("truetype"), url("../fonts/raredoor.svg#raredoor") format("svg");
  font-weight: normal;
  font-style: normal;
}
[data-icon]:before {
  font-family: "raredoor" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "raredoor" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow:before {
  content: "a";
}

.icon-left-arrow:before {
  content: "b";
}

.icon-raredoor-logo:before {
  content: "c";
}

.icon-facebook:before {
  content: "d";
}

.icon-instagram:before {
  content: "e";
}

.icon-pinterest:before {
  content: "f";
}

.icon-purchase-icon:before {
  content: "g";
}

.icon-reserve-icon:before {
  content: "h";
}

.icon-shop-now-icon:before {
  content: "i";
}

.icon-twitter:before {
  content: "j";
}

.icon-eye-icon:before {
  content: "k";
}

.icon-question-mark:before {
  content: "l";
}

.icon-hamburger-icon:before {
  content: "m";
}

.icon-down-arrow:before {
  content: "n";
}

/* Ion.RangeSlider, Flat UI Skin
// css version 2.0.3
// © Denis Ineshin, 2014    https://github.com/IonDen
// ===================================================================================================================*/
/* =====================================================================================================================
// Skin details */
.irs-line-left,
.irs-line-right,
.irs-line-mid {
  background: #c7c8ca;
}

.irs-bar,
.irs-bar-edge {
  background: #636466;
}

.irs-slider {
  background: #000;
  border: 1px solid #FFF;
  /*background: url(../img/sprite-skin-flat.png) repeat-x;*/
}

.irs-line-left {
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.irs {
  height: 40px;
}

.irs-with-grid {
  height: 60px;
}

.irs-line {
  height: 4px;
  top: 17px;
}

.irs-line-left {
  height: 4px;
}

.irs-line-mid {
  height: 4px;
}

.irs-line-right {
  height: 4px;
}

.irs-bar {
  height: 4px;
  top: 17px;
}

.irs-bar-edge {
  top: 12px;
  height: 8px;
  width: 8px;
}

.irs-shadow {
  height: 3px;
  top: 34px;
  background: #000;
  opacity: 0.25;
}

.lt-ie9 .irs-shadow {
  filter: alpha(opacity=25);
}

.irs-slider {
  width: 11px;
  height: 11px;
  top: 13px;
  border-radius: 6px;
}

.irs-min, .irs-max {
  color: #999;
  font-size: 11px;
  line-height: 1.333;
  text-shadow: none;
  top: 24px;
  padding: 1px 3px;
  font-family: "Ostrich Sans";
  letter-spacing: 1px;
}

.irs-from, .irs-to, .irs-single {
  color: #000;
  font-size: 11px;
  line-height: 1.333;
  font-family: "Ostrich Sans";
  letter-spacing: 1px;
  text-shadow: none;
}

.info-page {
  background: #dcddde;
  font-family: "Droid Serif";
}
.info-page .info {
  background: #FFF;
  border: 40px solid #000;
  margin: 70px 34px 40px;
  /*padding: 40px;*/
  padding: 10px 20px;
  font-size: 17px;
}
@media (max-width: 992px) {
  .info-page .info {
    margin-top: 90px;
  }
}
@media (max-width: 767px) {
  .info-page .info {
    border: 10px solid #000;
  }
}
.info-page .info p {
  margin: 0px 0px 40px;
}
.info-page .info h2 {
  font-family: "Droid Serif";
  font-size: 30px;
  font-style: italic;
  font-weight: bold;
  text-transform: uppercase;
  color: #e6be46;
}
@media (max-width: 992px) {
  .info-page .info h2 {
    font-size: 24px;
  }
}

.more-questions-container {
  padding: 0px;
}
.more-questions-container header {
  background: #91c3c3;
  color: #FFF;
  font-family: "Droid Serif";
  font-size: 23px;
  font-weight: bold;
  line-height: 25px;
  padding: 22px 0px;
  text-align: center;
  text-transform: uppercase;
}
@media (max-width: 992px) {
  .more-questions-container header {
    background: #91c3c3;
    font-size: 17px;
  }
}
.more-questions-container a {
  color: #FFF;
}
.more-questions-container a:hover {
  color: #FFF;
}

.want-join-container {
  margin-top: 10%;
  margin-bottom: 20px;
  font-family: "Droid Serif";
}
.want-join-container .row > div {
  color: #FFF;
  min-height: 80px;
  font-size: 20px;
}
@media (max-width: 992px) {
  .want-join-container .row > div {
    padding: 0px;
    margin-bottom: 20px;
  }
}
.want-join-container .row > div:nth-child(2) {
  padding: 10px 20px;
  background: #989190;
}
.want-join-container h3 {
  background: #e6be46;
  line-height: 80px;
  color: #FFF;
  margin-top: 0px;
  margin-bottom: 40px;
  margin-bottom: 0px;
  font-family: "Droid Serif";
  font-weight: bold;
  font-size: 28px;
  font-style: italic;
  text-transform: uppercase;
  text-align: center;
}

#logo {
  height: 28px;
}
@media (max-width: 767px) {
  #logo {
    height: 20px;
    margin-top: 10px;
  }
}

header.top-bar {
  background: #333;
  line-height: 60px;
  height: 60px;
  position: fixed;
  width: 100%;
  top: 0px;
  z-index: 2;
  left: 0px;
}
@media (max-width: 992px) {
  header.top-bar {
    height: 50px;
    position: fixed;
    z-index: 2;
  }
  header.top-bar + div {
    margin-top: 50px;
  }
}
header.top-bar a {
  color: #FFF;
}
header.top-bar a:hover {
  color: #FFF;
  text-decoration: none;
}
header.top-bar .logo-div {
  height: 60px;
  padding-left: 20px;
}
header.top-bar .logo-div img {
  vertical-align: top;
  margin-top: 16px;
}
@media (max-width: 992px) {
  header.top-bar .logo-div {
    height: 50px;
  }
  header.top-bar .logo-div img {
    margin-top: 11px;
  }
}
@media (max-width: 767px) {
  header.top-bar .logo-div {
    text-align: center;
    height: 50px;
  }
  header.top-bar .logo-div img {
    margin-top: 10px;
  }
}
header.top-bar #logo {
  margin-right: 25px;
}
@media (max-width: 767px) {
  header.top-bar #logo {
    margin-right: 0px;
  }
}
header.top-bar a {
  font-family: "Ostrich Sans";
}
header.top-bar a.btn {
  font-size: 17px;
  font-weight: 800;
  line-height: 17px;
  text-transform: uppercase;
  padding: 5px 13px;
  border: 1px solid #FFF;
  border-radius: 0px;
  transition: all 0.1s;
  -webkit-transition: all 0.1s;
  -moz-transition: all 0.1s;
  -o-transition: all 0.1s;
}
@media (max-width: 992px) {
  header.top-bar a.btn {
    margin-top: -10px;
  }
}
header.top-bar a.btn:focus {
  color: #FFF;
}
header.top-bar a.btn:hover {
  border-color: #e6be46;
}
header.top-bar a.btn + a.btn {
  margin-left: 10px;
}
header.top-bar #filter-btn:before {
  position: relative;
  font-size: 21px;
  line-height: 15px;
  vertical-align: top;
  top: 0px;
  margin-right: 9px;
  left: -2px;
}
header.top-bar .right-bottom-buttons-cnt {
  position: absolute;
  right: 0px;
  bottom: 0px;
  line-height: 25px;
}
header.top-bar .right-bottom-buttons-cnt a {
  display: inline-block;
}
header.top-bar a.white-right-button {
  background-color: #FFF;
  color: #000;
  font-weight: 800;
  padding: 0px 8px;
  line-height: 25px;
  width: 91px;
  text-align: center;
  margin-right: 0px;
}
header.top-bar .mobile-about label, header.top-bar .mobile-menu label {
  color: #FFF;
  display: block;
  text-align: center;
  margin-top: 10px;
  cursor: pointer;
}
header.top-bar .mobile-about label:before, header.top-bar .mobile-menu label:before {
  line-height: 28px;
  vertical-align: top;
}
@media (max-width: 767px) {
  header.top-bar .mobile-about label:before, header.top-bar .mobile-menu label:before {
    font-size: 24px;
    line-height: 24px;
    vertical-align: top;
    font-size: 11px;
  }
}
header.top-bar .mobile-about label span, header.top-bar .mobile-menu label span {
  display: none;
}
header.top-bar .icon-question-mark, header.top-bar a.icon-question-mark {
  background: #FFF;
  border-radius: 14px;
  color: #000;
  width: 28px;
  height: 28px;
  min-width: 28px;
  position: relative;
}
header.top-bar .icon-question-mark:before, header.top-bar a.icon-question-mark:before {
  position: absolute;
  left: 0px;
  display: inline-block;
  text-align: center;
  width: 28px;
  color: #000;
}
@media (max-width: 767px) {
  header.top-bar .icon-question-mark, header.top-bar a.icon-question-mark {
    width: 24px;
    height: 24px;
    min-width: 24px;
  }
  header.top-bar .icon-question-mark:before, header.top-bar a.icon-question-mark:before {
    width: 24px;
  }
}
header.top-bar .icon-question-mark:focus, header.top-bar a.icon-question-mark:focus {
  color: #000;
}
header.top-bar .icon-question-mark span, header.top-bar a.icon-question-mark span {
  display: none;
}
header.top-bar .mobile-menu label {
  text-align: right;
}
header.top-bar .mobile-menu label:before {
  font-size: 32px;
}
@media (max-width: 767px) {
  header.top-bar .mobile-menu label:before {
    font-size: 27px;
  }
}
header.top-bar .social-icons a {
  font-size: 25px;
  line-height: 40px;
  margin-right: 10px;
}
header.top-bar .social-icons a:before {
  line-height: 40px;
}
header.top-bar .links a {
  font-size: 18px;
}
header.top-bar .links a:not(:last-child) {
  border-right: 1px solid #000;
  padding-right: 10px;
  margin-right: 10px;
}

@media (max-width: 767px) {
  #how-it-works-mobile {
    background: #FFF;
    position: fixed;
    top: 50px;
    width: 100%;
    z-index: 2;
    padding-top: 30px;
  }
}
#how-it-works-mobile .statement {
  text-align: center;
}
#how-it-works-mobile .statement h3 {
  font-size: 18px;
}

input#display-how-it-works {
  display: none;
}
@media (max-width: 767px) {
  input#display-how-it-works + #how-it-works {
    display: none;
  }
  input#display-how-it-works:checked + #how-it-works-mobile {
    display: block !important;
    visibility: visible !important;
  }
}

input#mobile-menu-switch {
  display: none;
}
input#mobile-menu-switch + #mobile-menu {
  display: none;
}
input#mobile-menu-switch:checked + #mobile-menu {
  display: block;
}

#mobile-menu {
  position: fixed;
  top: 50px;
  left: 0px;
  background: #FFF;
  line-height: 30px;
  padding: 10px 0px 10px;
  z-index: 2;
}
#mobile-menu a {
  color: #000;
  font-weight: 800;
}

#index-banner {
  position: relative;
  margin-top: 60px;
  padding: 0px;
  max-height: 375px;
  height: auto;
  overflow: hidden;
  /*background: url('../static/img/index-banner-photo.jpg');*/
}
@media (max-width: 767px) {
  #index-banner {
    margin-bottom: 0px;
    min-height: 282px;
  }
}
@media (max-width: 992px) {
  #index-banner {
    margin-top: 50px;
  }
}
#index-banner img {
  width: 100%;
}
@media (max-width: 767px) {
  #index-banner img {
    width: 766px;
    position: absolute;
    left: 50%;
    margin-left: -383px;
  }
}
#index-banner a {
  color: #FFF;
  text-transform: uppercase;
}
#index-banner .arrow-link {
  background-color: #333;
  border: 3px solid #E6BE46;
  font-size: 30px;
  line-height: 40px;
  margin-top: -28px;
  padding: 0px 11px;
  top: 60%;
  left: 22%;
  margin-left: -93px;
  position: absolute;
}
@media (max-width: 767px) {
  #index-banner .arrow-link {
    left: 50%;
    top: auto;
    /*bottom: 35px;*/
    position: absolute;
    margin-top: 18px;
  }
}
#index-banner .text-container {
  position: absolute;
  /*left: 50%;*/
  top: 0px;
  width: 100%;
  height: 100%;
  padding-left: 35px;
  /*margin-left: -585px;*/
}
#index-banner .text-container.landingtest {
  margin-top: 30px;
}
@media (min-width: 992px) {
  #index-banner .text-container {
    /*margin-left: -485px;*/
  }
}
@media (max-width: 992px) {
  #index-banner .text-container {
    /*margin-left: -375px;*/
  }
}
@media (max-width: 767px) {
  #index-banner .text-container {
    padding-left: 0px;
    margin-left: 0px;
    left: 0%;
    width: 100%;
    background: #faf7f7;
  }
}
@media (min-width: 1200px) {
  #index-banner .text-container {
    /*margin-left: -585px;*/
  }
}
#index-banner .text {
  font-family: "Droid Serif";
  font-size: 24px;
  color: #FFF;
  top: 25%;
  position: relative;
}
#index-banner .text > * {
  background: #e6be46;
  padding: 0px 10px;
}
@media (max-width: 767px) {
  #index-banner .text {
    font-size: 18px;
    text-align: center;
    margin-top: 25px;
    top: auto;
    padding: 10px;
  }
}
#index-banner .text strong {
  /*color: $gold;*/
  font-family: "Droid Serif";
  text-transform: uppercase;
  font-weight: normal;
  font-size: 36px;
  line-height: 65px;
  font-style: italic;
}
@media (max-width: 767px) {
  #index-banner .text strong {
    font-size: 60px;
    line-height: 49px;
  }
}

#how-it-works {
  background: #91c3c3;
}

#how-it-works, #how-it-works-mobile {
  padding-top: 35px;
}
@media (max-width: 767px) {
  #how-it-works, #how-it-works-mobile {
    padding-top: 0px;
  }
}
#how-it-works .info, #how-it-works-mobile .info {
  text-align: center;
  font-size: 15px;
  font-family: "Droid Serif";
  font-weight: bold;
  margin-top: 30px;
}
@media (min-width: 769px) {
  #how-it-works .info, #how-it-works-mobile .info {
    float: none;
    display: table-cell;
  }
}
@media (max-width: 767px) {
  #how-it-works .info, #how-it-works-mobile .info {
    font-size: 12px;
  }
}
@media (max-width: 767px) {
  #how-it-works .info:not(:last-child), #how-it-works-mobile .info:not(:last-child) {
    padding-right: 15px;
  }
}
#how-it-works .info > div, #how-it-works-mobile .info > div {
  background: #91c3c3;
  border: 2px solid #91c3c3;
  color: #FFF;
  padding: 28px 18px 5px;
  position: relative;
}
@media (min-width: 769px) {
  #how-it-works .info > div, #how-it-works-mobile .info > div {
    height: 100%;
    display: inline-table;
  }
}
@media (max-width: 767px) {
  #how-it-works .info > div, #how-it-works-mobile .info > div {
    margin-bottom: 30px;
    padding: 16px 18px 6px;
  }
}
#how-it-works .info > div:before, #how-it-works-mobile .info > div:before {
  content: 'a';
  color: #91c3c3;
  display: block;
  position: absolute;
  background: #FFF;
  border-radius: 22px;
  border: 2px solid #91c3c3;
  width: 44px;
  height: 44px;
  line-height: 40px;
  top: -22px;
  left: 50%;
  margin-left: -22px;
  font-family: "raredoor";
  text-align: center;
}
@media (max-width: 767px) {
  #how-it-works .info > div:before, #how-it-works-mobile .info > div:before {
    width: 30px;
    height: 30px;
    line-height: 27px;
    top: -15px;
    margin-left: -15px;
  }
}
#how-it-works .info > div.browse:before, #how-it-works-mobile .info > div.browse:before {
  content: 'k';
  font-size: 26px;
}
@media (max-width: 767px) {
  #how-it-works .info > div.browse:before, #how-it-works-mobile .info > div.browse:before {
    font-size: 19px;
  }
}
#how-it-works .info > div.purchase:before, #how-it-works-mobile .info > div.purchase:before {
  content: 'g';
  font-size: 20px;
}
@media (max-width: 767px) {
  #how-it-works .info > div.purchase:before, #how-it-works-mobile .info > div.purchase:before {
    font-size: 18px;
  }
}
#how-it-works .info > div.reserve:before, #how-it-works-mobile .info > div.reserve:before {
  font-size: 19px;
  content: 'h';
}
@media (max-width: 767px) {
  #how-it-works .info > div.reserve:before, #how-it-works-mobile .info > div.reserve:before {
    font-size: 16px;
  }
}
#how-it-works .info header, #how-it-works-mobile .info header {
  border-bottom: 1px solid #FFF;
  font-size: 20px;
  font-style: italic;
  text-transform: uppercase;
  margin-bottom: 5px;
}
@media (max-width: 767px) {
  #how-it-works .info header, #how-it-works-mobile .info header {
    font-size: 16px;
  }
}

#products {
  padding: 0px;
}
#products header {
  background: #979391;
  color: #FFF;
  font-family: "Droid Serif";
  font-size: 23px;
  font-weight: bold;
  line-height: 25px;
  padding: 10px 0px;
  text-align: center;
  text-transform: uppercase;
}
@media (max-width: 767px) {
  #products header {
    font-size: 17px;
    font-weight: normal;
    margin-bottom: 10px;
  }
}
#products .see-more {
  float: right;
  background: #91c3c3;
  color: #FFF;
  font-size: 30px;
  padding: 0px 20px;
  height: 50px;
  line-height: 53px;
  margin-bottom: 25px;
  margin-top: -10px;
}
@media (max-width: 767px) {
  #products .see-more {
    background: #e6be46;
    width: 100%;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 10px;
  }
}
#products .see-more:before {
  font-size: 30px;
}

@media (max-width: 767px) {
  .grid {
    padding: 0px;
  }
}
.grid img {
  width: 100%;
}
.grid .grid-item img {
  border-radius: 25%;
  width: 100%;
  margin-bottom: 20px;
}
@media (max-width: 767px) {
  .grid .grid-item img {
    border-radius: 0px;
    margin-bottom: 10px;
  }
}
.grid .grid-item a {
  display: block;
}
.grid .grid-item {
  margin-bottom: 35px;
}
@media (max-width: 767px) {
  .grid .grid-item {
    margin-bottom: 10px;
  }
  .grid .grid-item:nth-child(even) {
    padding-right: 0px;
    padding-left: 5px;
  }
  .grid .grid-item:nth-child(odd) {
    padding-left: 0px;
    padding-right: 5px;
  }
}
@media (max-width: 767px) {
  .grid .grid-item .name-container {
    text-align: left;
  }
  .grid .grid-item:nth-child(odd) .name-container {
    text-align: right;
  }
}
.grid .image-container {
  padding: 0px 10px;
}
@media (max-width: 767px) {
  .grid .image-container {
    padding: 0px;
  }
}
.grid .name-container {
  border: 3px solid #7f7f7f;
  font-family: "Droid Serif";
  font-weight: bold;
  text-align: center;
  padding: 13px;
  height: 100%;
  min-height: 72px;
}
@media (max-width: 767px) {
  .grid .name-container {
    background: #7f7f7f;
    color: #FFF;
  }
}
.grid .name-container .name {
  font-family: "Ostrich Sans";
  font-size: 30px;
  font-weight: 800;
  line-height: 40px;
  letter-spacing: 1px;
}
@media (max-width: 767px) {
  .grid .name-container .name {
    font-size: 20px;
    line-height: 20px;
  }
}
.grid .name-container .name a {
  color: #000;
}
@media (max-width: 767px) {
  .grid .name-container .name a {
    color: #FFF;
  }
}
.grid .name-container .name a:hover {
  text-decoration: none;
}
.grid .name-container .subline {
  font-size: 14.5px;
}
@media (max-width: 767px) {
  .grid .name-container .subline {
    font-size: 12px;
  }
}

#quotes {
  background: #989190;
  color: #FFF;
  margin-bottom: 120px;
  padding: 20px;
  position: relative;
  text-align: center;
}
@media (max-width: 767px) {
  #quotes {
    margin-bottom: 0px;
  }
}
#quotes:after {
  content: '';
  display: block;
  position: absolute;
  width: 75px;
  height: 80px;
  border-left: 75px solid transparent;
  border-right: 0px solid transparent;
  border-top: 80px solid #524b48;
  left: 0px;
  bottom: -80px;
}
@media (max-width: 767px) {
  #quotes:after {
    content: none;
  }
}
#quotes q {
  display: block;
  font-family: "Droid Serif";
  font-style: italic;
  font-size: 17px;
  margin-bottom: 10px;
}
@media (max-width: 992px) {
  #quotes q {
    font-size: 15px;
  }
}
#quotes .author-name {
  display: block;
  font-family: "Ostrich Sans";
  font-weight: 800;
  font-size: 20px;
  letter-spacing: 1px;
}
#quotes .author-name:before {
  content: '—';
  margin-right: 5px;
}
#quotes .quote:not(:last-child) {
  border-right: 1px solid #FFF;
  height: 135px;
}
@media (max-width: 767px) {
  #quotes .quote:not(:last-child) {
    border-right: 0px;
    height: auto;
    margin-bottom: 15px;
  }
  #quotes .quote:not(:last-child):after {
    content: '';
    width: 52%;
    height: 1px;
    display: block;
    background: #FFF;
    margin: 15px auto 0px;
  }
}
#quotes header {
  background: #e6be46;
  font-size: 30px;
  font-family: "Droid Serif";
  font-style: italic;
  line-height: 60px;
  text-transform: uppercase;
  height: 60px;
  width: 100%;
}
#quotes .header-container {
  width: 100%;
  position: absolute;
  padding-left: 93px;
  bottom: -80px;
  right: 0px;
}

.team-members-container {
  padding: 0px;
}
.team-members-container header {
  background: #91c3c3;
  color: #FFF;
  font-family: "Droid Serif";
  font-size: 23px;
  font-weight: bold;
  line-height: 25px;
  padding: 22px 0px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 40px;
}
@media (max-width: 992px) {
  .team-members-container header {
    background: #91c3c3;
    font-size: 17px;
    margin-bottom: 10px;
  }
}
.team-members-container .name-container {
  padding: 15px;
}
.team-members-container .name-container .name {
  font-size: 20px;
  line-height: 25px;
}
@media (max-width: 767px) {
  .team-members-container .name-container .name {
    font-size: 22px;
    line-height: 22px;
  }
}
.team-members-container .name-container .subline {
  font-size: 14px;
}
.team-members-container .grid-item {
  margin-bottom: 40px;
  padding-left: 20px;
  padding-right: 20px;
}

.rslides img {
  float: none;
  max-width: 100%;
  margin: 0 auto;
  width: auto;
}

#filter-container {
  margin-top: 60px;
}

.grid-products-wrapper {
  padding-top: 20px;
  background: transparent;
}
.grid-products-wrapper .row {
  margin-left: 0px;
  margin-right: 0px;
}
@media (max-width: 767px) {
  .grid-products-wrapper .row {
    margin-left: -15px;
    margin-right: -15px;
  }
}
.grid-products-wrapper .product-container {
  padding-bottom: 10px;
  margin-bottom: 20px;
}
@media (max-width: 767px) {
  .grid-products-wrapper .product-container {
    padding-bottom: 0px;
  }
  .grid-products-wrapper .product-container:nth-child(odd) {
    padding-right: 10px;
    padding-left: 0px;
  }
  .grid-products-wrapper .product-container:nth-child(even) {
    padding-left: 10px;
    padding-right: 0px;
  }
}
.grid-products-wrapper .product-container:hover {
  background: #FFF;
  box-shadow: #AAA 0px 0px 5px;
}
.grid-products-wrapper .product-container:hover .main-image {
  /* Remove with main_old.css */
  opacity: 1;
}
.grid-products-wrapper .product-container:hover .actions {
  display: block;
}
.grid-products-wrapper .grid-product {
  padding: 10px 15px;
}
@media (max-width: 767px) {
  .grid-products-wrapper .grid-product {
    height: 330px;
    padding: 0px;
  }
}
@media (max-width: 480px) {
  .grid-products-wrapper .grid-product {
    height: 165px;
    padding: 0px;
  }
}
.grid-products-wrapper .grid-product .centered-child {
  display: block;
}
.grid-products-wrapper .grid-product .centered-child img {
  max-height: 100%;
}
@media (max-width: 767px) {
  .grid-products-wrapper .grid-product .centered-child img {
    padding-bottom: 15px;
  }
}
@media (max-width: 480px) {
  .grid-products-wrapper .grid-product .centered-child img {
    max-height: 165px;
  }
}
.grid-products-wrapper .pic-detail-home {
  text-align: center;
  margin: 2px 0px 3px;
  clear: both;
  float: none;
}
@media (max-width: 480px) {
  .grid-products-wrapper .pic-detail-home {
    padding-top: 15px;
    margin-top: 10px;
  }
}
.grid-products-wrapper .price {
  font-family: "Droid Serif";
  font-size: 13px;
  margin-bottom: 3px;
}
.grid-products-wrapper .name {
  font-family: "Droid Serif";
  font-size: 9px;
  font-style: italic;
}
.grid-products-wrapper .name a {
  color: #000;
}
.grid-products-wrapper .name a:hover {
  text-decoration: none;
}
.grid-products-wrapper .neighborhood-like-container {
  position: relative;
}
.grid-products-wrapper .neighborhood {
  border-top: 1px solid #636466;
  border-top: 1px solid rgba(99, 100, 102, 0.25);
  font-family: "Droid Serif";
  font-size: 13px;
  font-style: italic;
  text-transform: uppercase;
  text-align: center;
}
.grid-products-wrapper .neighborhood, .grid-products-wrapper .actions {
  padding-top: 4px;
  line-height: 20px;
}
.grid-products-wrapper .actions {
  display: none;
  position: absolute;
  top: 0px;
  width: 100%;
}
.grid-products-wrapper .actions a {
  text-decoration: none;
}
.grid-products-wrapper .actions .like-btn {
  display: block;
  color: #e6be46;
  font-size: 15px;
  line-height: inherit;
}
.grid-products-wrapper .actions .like-btn.active {
  color: red;
}
.grid-products-wrapper .actions .like-btn:hover {
  text-decoration: none;
}

#display-categories {
  display: none;
}
@media (max-width: 767px) {
  #display-categories + ul {
    display: none;
  }
  #display-categories:checked + ul {
    display: block;
  }
}

#close-filter {
  color: #000;
  font-family: "Ostrich Sans";
  text-decoration: none;
  position: absolute;
  top: 80px;
}
#close-filter:before {
  content: '×';
  display: inline-block;
  font-size: 20px;
}
#close-filter span {
  display: none;
}

#searchfilter-form {
  width: 245px;
  background: #e6e7e8;
  color: #000;
  position: fixed;
  padding: 90px 20px 35px 35px;
  overflow: auto;
  height: 100%;
  top: 0px;
  z-index: 1;
  left: -245px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  /* Category */
}
#searchfilter-form + .wrap {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  margin-left: 0px;
}
@media (max-width: 767px) {
  #searchfilter-form + .wrap {
    margin-left: auto;
    margin-top: 50px;
  }
}
#searchfilter-form + .wrap .container {
  width: 925px;
}
@media (max-width: 992px) {
  #searchfilter-form + .wrap .container {
    width: 725px;
  }
}
@media (max-width: 767px) {
  #searchfilter-form + .wrap .container {
    width: 505px;
  }
}
#searchfilter-form.open {
  left: 0px;
}
#searchfilter-form.open + .wrap {
  margin-left: 245px;
}
@media (max-width: 767px) {
  #searchfilter-form.open + .wrap {
    margin-left: 0px;
  }
}
#searchfilter-form b {
  font-family: "Droid Serif";
  font-weight: bold;
  font-size: 11px;
}
#searchfilter-form .filters-container {
  position: relative;
  overflow: auto;
}
#searchfilter-form .filters-container li {
  padding-left: 10px;
}
@media (max-width: 767px) {
  #searchfilter-form .filters-container li {
    padding-left: 0px;
  }
}
#searchfilter-form #filter-container-furnituretype label {
  width: 100%;
}
@media (max-width: 767px) {
  #searchfilter-form {
    width: 100%;
    height: auto;
    padding: 0px;
    overflow: visible;
    z-index: 2;
    left: 0px;
  }
  #searchfilter-form #filter-container-furnituretype header, #searchfilter-form #refine {
    border: 1px solid #939598;
    color: #939598;
    display: inline-block;
    cursor: pointer;
    width: 130px;
    position: relative;
  }
  #searchfilter-form #filter-container-furnituretype header label, #searchfilter-form #refine label {
    cursor: pointer;
    display: block;
    padding: 4px 11px;
  }
  #searchfilter-form #filter-container-furnituretype header label:after, #searchfilter-form #refine label:after {
    position: absolute;
    right: 11px;
    font: normal normal normal 18px/1 FontAwesome;
    top: 7px;
  }
  #searchfilter-form #filter-container-furnituretype {
    display: inline-block;
    float: left;
    position: relative;
  }
  #searchfilter-form #filter-container-furnituretype header {
    margin-left: 76px;
  }
}
@media (max-width: 767px) and (max-width: 480px) {
  #searchfilter-form #filter-container-furnituretype header {
    margin-left: 25px;
  }
}
@media (max-width: 767px) {
  #searchfilter-form #filter-container-furnituretype header label:after {
    content: '\f107';
  }
  #searchfilter-form #filter-container-furnituretype ul {
    position: absolute;
    z-index: 3;
    left: 76px;
    top: 37px;
    z-index: 3;
    background: #e6e7e8;
    border: 1px solid #939598;
    border-top: 0px;
  }
  #searchfilter-form #filter-container-furnituretype ul li {
    padding: 4px 11px;
    font-size: 14px;
  }
  #searchfilter-form #refine {
    background: #939598;
    color: #FFF;
    float: right;
    margin-right: 76px;
  }
}
@media (max-width: 767px) and (max-width: 480px) {
  #searchfilter-form #refine {
    margin-right: 25px;
  }
}
@media (max-width: 767px) {
  #searchfilter-form #refine label:after {
    content: '\f105';
  }
}
#searchfilter-form ul {
  padding-left: 0px;
}
#searchfilter-form li {
  list-style: none;
  padding-left: 30px;
  text-overflow: ellipsis;
  max-width: 100%;
  white-space: nowrap;
  line-height: 17px;
}
@media (max-width: 767px) {
  #searchfilter-form li {
    padding-left: 0px;
  }
}
#searchfilter-form label {
  width: auto;
  float: none;
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
  letter-spacing: inherit;
  margin-bottom: 0px;
  height: auto;
}
#searchfilter-form header {
  font-family: "Ostrich Sans";
  font-size: 20px;
  font-weight: 800;
  margin-bottom: 15px;
  border-bottom: 1px solid black;
}
#searchfilter-form .category {
  margin-bottom: 50px;
}
@media (max-width: 767px) {
  #searchfilter-form .category {
    margin-bottom: 0px;
  }
}
#searchfilter-form .category header a.reset {
  color: #000;
  float: right;
}
#searchfilter-form .category header a.reset:hover {
  text-decoration: none;
}
#searchfilter-form .category header a.reset:after {
  content: '×';
  font-weight: normal;
}
#searchfilter-form .category header a.reset span {
  display: none;
}
#searchfilter-form .category.filters div header {
  border-bottom: 1px dotted #939598;
  padding-bottom: 2px;
}
#searchfilter-form .category.filters div a {
  font-family: "Droid Serif";
  color: #000;
  font-size: 11px;
  font-weight: bold;
  display: block;
}
#searchfilter-form .category.filters div a:hover {
  text-decoration: none;
}
#searchfilter-form .category.filters div a i {
  float: right;
  font-size: 20px;
  margin-top: -3px;
}
#searchfilter-form .category.filters div a i:before {
  content: "\f106";
}
#searchfilter-form .category.filters div header {
  position: relative;
}
#searchfilter-form .category.filters div header a.reset {
  position: absolute;
  left: -20px;
  top: -3px;
  font-size: 16px;
}
#searchfilter-form .category.filters div a.collapsed i:before {
  content: "\f107";
}
#searchfilter-form .category.filters > div {
  padding-left: 30px;
}
@media (max-width: 767px) {
  #searchfilter-form .category.filters > div {
    padding-left: 70px;
    padding-right: 36px;
  }
}
#searchfilter-form .category.filters .mobile {
  padding-bottom: 15px;
}
#searchfilter-form .category.filters .mobile .col-xs-6:nth-child(odd) {
  padding-right: 10px;
}
#searchfilter-form .category.filters .mobile .col-xs-6:nth-child(even) {
  padding-left: 10px;
}
#searchfilter-form .category.filters .mobile input {
  width: 100%;
  font-family: "Ostrich Sans";
  font-size: 11px;
  letter-spacing: 1px;
}
#searchfilter-form .category.filters .mobile label {
  font-family: "Ostrich Sans";
  font-size: 11px;
  letter-spacing: 1px;
  display: block;
}
#searchfilter-form .category.filters .fold .c-checkbox .checkbox-pseudocheckbox {
  width: 6px;
  height: 6px;
  border: 1px solid #939598;
  display: inline-block;
  vertical-align: middle;
  margin-top: 0px;
  margin-right: 4px;
}
@media (max-width: 767px) {
  #searchfilter-form .category.filters .fold .c-checkbox .checkbox-pseudocheckbox {
    display: none;
  }
}
#searchfilter-form .category.filters .fold .c-checkbox input:checked + .checkbox-pseudocheckbox {
  background: #939598;
}
@media (max-width: 767px) {
  #searchfilter-form .category.filters .fold .c-checkbox .checkbox-label {
    height: 20px;
    line-height: 20px;
    background: #91c3c3;
    color: #FFF;
    width: 100%;
    text-align: center;
    margin-bottom: 5px;
    border-radius: 3px;
    font-family: "Ostrich Sans";
    text-transform: uppercase;
    font-weight: 800;
    font-size: 15px;
    letter-spacing: 1px;
  }
}
#searchfilter-form #filter-container-color li {
  display: inline-block;
  padding-left: 0px;
}
#searchfilter-form .color-checkbox {
  display: inline-block;
}
#searchfilter-form .color-checkbox input {
  display: none;
}
#searchfilter-form .color-checkbox input:checked + label {
  border: 2px solid #939598;
}
#searchfilter-form .color-checkbox .checkbox-pseudocheckbox {
  width: 15px;
  height: 15px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  background: #000;
}
@media (max-width: 767px) {
  #searchfilter-form .color-checkbox .checkbox-pseudocheckbox {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    margin-right: 30px;
    margin-bottom: 10px;
  }
}
#searchfilter-form .c-checkbox {
  font-family: "Droid Serif";
  font-weight: bold;
  font-size: 11px;
  color: #000;
}
#searchfilter-form .c-checkbox input {
  display: none;
}
#searchfilter-form .c-checkbox .checkbox-label {
  position: relative;
}
#searchfilter-form .c-checkbox input:checked + .checkbox-label:before {
  content: '×';
  font-size: 16px;
  display: block;
  position: absolute;
  top: 0px;
  left: -20px;
}
@media (max-width: 767px) {
  #searchfilter-form .c-checkbox input:checked + .checkbox-label:before {
    content: none;
  }
}
#searchfilter-form .c-checkbox input:checked + label {
  color: #000;
}
#searchfilter-form .c-checkbox label {
  cursor: pointer;
}

#searchfilter-form #display-filters {
  display: none;
}
@media (max-width: 767px) {
  #searchfilter-form #display-filters + .filters-container > * {
    display: none;
  }
  #searchfilter-form #display-filters + .filters-container > header {
    display: block;
  }
  #searchfilter-form #display-filters:checked + .filters-container > .category {
    display: block;
  }
  #searchfilter-form #display-filters:checked + .filters-container {
    background: #FFF;
    height: 100%;
    width: 100%;
    top: 50px;
    position: fixed;
    z-index: 3;
    padding-bottom: 80px;
  }
  #searchfilter-form #display-filters:checked + .filters-container #refine {
    background: #000;
    float: none;
    width: 100%;
    padding-left: 70px;
    border: 0px;
  }
  #searchfilter-form #display-filters:checked + .filters-container #refine label {
    padding: 6px 0px;
  }
  #searchfilter-form #display-filters:checked + .filters-container #refine label:after {
    background: #e6be46;
    border: 2px solid #FFF;
    content: 'Done';
    font-family: "Ostrich Sans";
    font-size: 12px;
    padding: 6px 17px;
    font-weight: 800;
    top: 6px;
    margin-right: 25px;
  }
}

/* Override main_old.css */
@media (max-width: 767px) {
  .collapse {
    display: none;
  }
}

@media (max-width: 767px) {
  .row {
    margin-left: -15px;
    margin-right: -15px;
  }
}

footer {
  background: #000;
  color: #FFF;
  font-family: "Droid Serif";
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding-top: 10px;
  padding-bottom: 10px;
}
@media (max-width: 992px) {
  footer {
    height: 130px;
  }
}
footer .social-icons {
  line-height: 100px;
  font-size: 45px;
}
footer .help-info {
  line-height: 100px;
}
@media (max-width: 992px) {
  footer .help-info {
    text-align: center;
    line-height: 30px;
    padding-top: 5px;
  }
}
@media (min-width: 481px) {
  footer .help-info .row > * {
    float: none;
    width: auto;
    padding-left: 0px;
  }
}
footer .help-info .row > *:not(:last-child) {
  margin-right: 50px;
  padding-right: 50px;
  border-right: 1px solid #FFF;
}
@media (max-width: 992px) {
  footer .help-info .row > *:not(:last-child) {
    padding-right: 10px;
    margin-right: 10px;
  }
}
@media (max-width: 480px) {
  footer .help-info .row > *:not(:last-child) {
    border-right: 0px;
  }
}
footer .copyright {
  font-size: 11px;
  text-align: center;
  border-top: 1px solid #FFF;
  padding-top: 10px;
  padding-bottom: 10px;
}
@media (max-width: 992px) {
  footer .copyright {
    border-top: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
  }
}
footer a {
  color: #FFF;
}
footer a:hover {
  text-decoration: none;
  color: #FFF;
}

footer, .push {
  height: 150px;
}
@media (max-width: 992px) {
  footer, .push {
    height: 70px;
  }
}
@media (max-width: 480px) {
  footer, .push {
    height: 130px;
  }
}

/*# sourceMappingURL=main.css.map */
