{% load staticfiles %}
    <div class="col-xs-12 pic-detail-home">
        <div class="price">
        {% if product.is_sold %}             
        {% elif product.current_price %}
            {% if product.is_reserved %}
                <span class="reserved">{{ 'Reserved' }}</span>                
            {% elif product.is_discounted %}
                <strike>{{' - $'}}{{ product.original_price|floatformat:"0" }}</strike>
                <span class="discount">{{' - $'}}{{ product.current_price|floatformat:"0" }}<span>
            {% else %}
                {{'$'}}{{ product.current_price|floatformat:"0" }} 
            {% endif %}
        {% else %}
          Call for details
        {% endif %}
        
        </div>
      <div class="name">
         {{ product.short_name|truncatechars:30 }}</br>
         <img src="{% static 'img/loco_pin.svg' %}" style="height:18px"> in <span class="detail-neighborhood"><b>{{ product.store.city }} ({{ product.store.neighborhood }})</b></span>
       </div>
        <!-- need these so that we can pass product name and price to stripe checkout -->
        <span style="display: none;" id="product-name-{{ product.id }}">{{ product.short_name }}</span>
        <span style="display: none;" id="product-price-in-cents-{{ product.id }}">{{ product.get_price_in_cents_for_checkout }}</span>
    </div>
    <!-- Like funtionality on hold until ProfileView implemented -->
    <div class="row" style="margin: 5% 0">
        <span style="display: none;" id="product-name-{{ product.id }}">{{ product.short_name }}</span>
        <span style="display: none;" id="product-price-in-cents-{{ product.id }}">{{ product.get_price_in_cents_for_checkout }}</span>
        
        <div class="col-xs-12 pic-detail-home" style="text-align: center">
            <!-- need these so that we can pass product name and price to stripe checkout -->
            <div class="row">
                {% if product.is_sold %}
                    <div class="col-xs-12">
                        <span class="sold">{{ 'Sold' }}</span>
                    </div>
                {% else %}

                    <div class="col-xs-12 col-sm-12">
                        <button type="button" class="btn btn-primary buy buy profile" id="buy_{{ product.id }}">
                            Buy
                        </button>
                    </div>
                   <!--  <div class="col-xs-6 col-sm-6">
                        <button type="button" class="btn btn-danger buy reserve profile" id="cancel_reserve_{{ product.id }}">
                            Cancel
                        </button>
                    </div> -->
                {% endif %}
               <!--  <div class="col-xs-12 col-lg-6">                      
                    {% if OFFER_IS_ENABLED %}
                      <button type="button" class="btn btn-primary buy offer profile" id="offer_{{ product.id }}" data-toggle="tooltip" href="#" title="{{ FEATURE_TOOLTIP_OFFER }}">
                          Make an Offer
                      </button>
                    {% endif %}
                </div> -->
            </div>
        </div>                   
    </div>