{% load staticfiles %}
{% load cloudinary %}
<div class="col-xs-6 col-sm-6 col-md-4 product-container" id="reserved-product-container_{{ product.id }}">
    <!--    <div class="vintage-label" style="text-align:center; margin-top: 5px; margin-bottom:-10px;"></div> -->
    <div class="grid-product centered-parent {% if product.is_vintage %}vintage-product{% endif %}">
        <!-- <img class="img-responsive" src="{{ product.productimage_set.first.image.url }}"> -->

            <div class="hover-text hidden-sm hidden-md hidden-lg" style="left:22%; padding-bottom:10px; display:block"><span class="details-label"><h4 style="font-size:12px">click to view</h4></span></div>
            <!-- <div class="background"></div> -->
    <div class="centered-child">
        <picture>
            <!--[if IE 9]><video style="display: none;"><![endif]-->
            <!-- <source srcset="{% cloudinary_url product.productimage_set.first.image width=350 height=300 crop='fit' overlay='text:arial_35_bold:test' %}" media="(min-width: 992px)"> -->
            <source srcset="{% cloudinary_url product.productimage_set.first.image width=350 height=300 crop='fit' %}" media="(min-width: 992px)">
            <source srcset="{% cloudinary_url product.productimage_set.first.image width=275 height=275 crop='fit'  %}" media="(max-width: 413px)">
            <!--[if IE 9]></video><![endif]-->
            <img class="main-image" srcset='{% cloudinary_url product.productimage_set.first.image width=300 height=300 crop="fit" %}' alt="">
        </picture>

    </div>
    <a href="{% url 'goods:detail' product.slug  %}" target="_blank" class="view-product hidden-xs" style="height: 100%; position:absolute"></a>
    <a href="{% url 'goods:detail' product.slug  %}" class="view-product hidden-sm hidden-md hidden-lg" style="height: 100%; position:absolute"></a>        <!--
    <a href="{% url 'goods:detail' product.slug  %}" target="_blank" class="view-product" style="height:100%">
            <div class="hover-text" style="left:22%; top: 30%;"><span class="details-label"><h4>click to view</h4></span></div>
            
    </a>-->
    </div>
        {% include 'members/closet/_reservedproductlabel.html' %}
</div>