{% extends '_base.html' %}
{% load staticfiles %}
{% load cloudinary %}
{% load goods_extras %}


{% block content %}
    {% if user_orders %}
       <div class="container-fluid featured-icons">        
          <div class="span7 text-center" style="padding-top:30px">
              <h3>Reservations</h3>
          </div>
      </div>
      <div class="container pic-tabs main">        
          <div class="row">
              <div class="col-sm-12">
                  <div class="tab-content">
                      <div class="tab-pane fade in active">
                          <div class="grid-products-wrapper">
                              <div class="row">
                                  {% for order in user_orders %}
                                    <!-- for now there is only 1 orderitem per order -->
                                    {% with order.authuserorderitem_set.first.product as product %}
                                      {% include 'members/closet/_closet_for_loop.html' %}
                                    {% endwith %}
                                  {% endfor %}
                              </div>
                          </div>
                      </div><!-- end tab1 -->
                  </div>
              </div>
          </div>
      </div>
    {% endif %}
    <div class="container-fluid featured-icons">        
        <div class="span7 text-center" style="padding-top:30px">
            <h3>Saved Items</h3>
        </div>
    </div>
    <div class="container pic-tabs main">        
        <div class="row">
            <div class="col-sm-12">
                <div class="tab-content">
                    <div class="tab-pane fade in active">
                        <div class="grid-products-wrapper">
                            <div class="row">
                                {% for product in user_activity.saved_items.all %}
                                    {% include 'members/closet/_closet_for_loop.html' %}
                                {% endfor %}
                            </div>
                        </div>
                    </div><!-- end tab1 -->
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
{% block endjs %}
    {% include 'js/addlikeditems.html' %}
{% endblock endjs %}