{% load staticfiles %}
    <div class="col-xs-12 pic-detail-home" style="text-align:left; margin: 3px 0px 5px;">
        <p style="margin-bottom: 3px">{{ product.short_name|truncatechars:28 }}<em>
        {% if product.current_price %}
            {% if product.is_discounted %}
                <strike>{{' - $'}}{{ product.original_price|floatformat:"0" }}</strike>
                <span class="discount">{{' - $'}}{{ product.current_price|floatformat:"0" }}<span>
            {% else %}
                {{' - $'}}{{ product.current_price|floatformat:"0" }}
            {% endif %}
        {% endif %}</em></p>

        <!-- need these so that we can pass product name and price to stripe checkout -->
        <span style="display: none;" id="product-name-{{ product.id }}">{{ product.short_name }}</span>
        <span style="display: none;" id="product-price-in-cents-{{ product.id }}">{{ product.get_price_in_cents_for_checkout }}</span>
    </div>
    <div class="col-xs-12 col-sm-7 pic-detail-home" style="margin-bottom: 5px">
            {% if product.is_sold %}
                <button type="button" class="btn btn-default sold disabled" id="buy_{{ product.id }}" title="{{ FEATURE_TOOLTIP_RESERVE }}">
                    <span class="sold">{{ 'Sold' }}</span>
                </button>
            {% elif product.current_price %}
                <button type="button" class="btn btn-primary buy try" id="buy_{{ product.id }}" title="{{ FEATURE_TOOLTIP_RESERVE }}">
                    {{ FEATURE_NAME_RESERVE }}
                </button>
            {% else %}
                <button type="button" class="btn btn-primary request" id="buy_{{ product.id }}">
                Request Price
                </button>
            {% endif %}
    </div>
    <!-- Like funtionality on hold until ProfileView implemented -->
    <div class="col-xs-12 col-sm-5 neighborhood" style="line-height: 15px; margin-top: 12px">
        {{ product.store.neighborhood }}
    </div>
        <!-- <div class="col-xs-3 pull-right text-right">
            <button type="button" class="btn btn-default glyphs" id="heart_{{ product.id }}">
                <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
            </button>
        </div> -->
