{% load staticfiles %}
    <div class="col-xs-12 pic-detail-home">
        <div class="price">
        {% if product.current_price %}
            {% if product.is_sold %}
                <span class="sold">{{ 'Sold' }}</span>                
            {% elif product.is_reserved %}
                <span class="reserved">{{ 'Reserved' }}</span>                
            {% elif product.is_discounted %}
                <strike>{{' - $'}}{{ product.original_price|floatformat:"0" }}</strike>
                <span class="discount">{{' - $'}}{{ product.current_price|floatformat:"0" }}<span>
            {% else %}
                {{'$'}}{{ product.current_price|floatformat:"0" }}
            {% endif %}
        {% endif %}</div>
      <div class="name">
	<a href="{% url 'goods:detail' product.slug  %}" target="_blank" >
	{{ product.short_name|truncatechars:26 }}
	</a>
      </div>

        <!-- need these so that we can pass product name and price to stripe checkout -->
        <span style="display: none;" id="product-name-{{ product.id }}">{{ product.short_name }}</span>
        <span style="display: none;" id="product-price-in-cents-{{ product.id }}">{{ product.get_price_in_cents_for_checkout }}</span>
    </div>
    <!-- Like funtionality on hold until ProfileView implemented -->
    <div class="neighborhood-like-container">
      <div class="neighborhood">
	  {{ product.store.neighborhood }}
      </div>
      <div class="actions hidden-xs">
	<a href="https://www.pinterest.com/pin/create/button/
        ?url=https://www.raredoor.com/piece/{{ product.slug }}&media={{ product.productimage_set.first.image.url }}&description={{ product.short_name }} | Rare Door"
        data-pin-do="buttonPin"
        data-pin-config="hide">
        <img src="//assets.pinterest.com/images/pidgets/pin_it_button.png" />
  </a>
	<a href="#" id="heart_{{ product.id }}" class="glyphicon glyphicon-heart like-btn pull-right"><span>Like</span></a>

      </div>
    </div>
    <!--
    <div class="col-xs-12" style="text-align: center; line-height: 15px; margin-top: 6px">
       <button type="button" class="btn btn-default glyphs" id="heart_{{ product.id }}" title="{{ TOOLTIP_HEART }}">
            <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
        </button>
    </div>-->
