{% extends '_base.html' %}
{% load staticfiles %}
{% load cloudinary %}
{% load goods_extras %}
{% load endless %}

{% block beginjs %}
<link rel="stylesheet" href="{% static 'css/ion.rangeSlider.css' %}">
{% endblock beginjs %}

{% block content %}
<div class="container-fluid" id="index-banner">
    <ul class="rslides">
        <li>
        <!--	   <picture>
    [if IE 9]><video style="display: none;"><![endif]
    <source srcset="https://res.cloudinary.com/trouvaay/image/upload/c_fill,w_1000,h_375/v1422902656/shutterstock_160709951_hsvzx9.jpg" media="(min-width: 992px)">
    [if IE 9]></video><![endif]
    <img srcset='https://res.cloudinary.com/trouvaay/image/upload/c_fill,w_766,h_282/v1422902656/shutterstock_160709951_hsvzx9.jpg' alt="">
    <img srcset="{% static 'img/landing image_MAP_NO_PIN2.jpg' %}" alt="">
    </picture>-->

        <img src="{% static 'img/landing-header.jpg' %}" alt="">
        <div class="row-fluid text-container">
            <div class="text "><div style="display: inline-block; letter-spacing: 1px;'">The best vintage and one-of-a-kind furniture </div><br /><strong>available in Bay Area stores</strong></div>
        </div>

        <div id="how-it-works">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-4 info">
                        <div class="browse">
                            <header>Hidden Gems</header>
                            <p>We scour the Bay for the best furniture pieces & bring that awesome inventory online here</p>
                        </div>
                    </div>
                    <div class="col-sm-4 info">
                        <div class="purchase">
                            <header>Updated Daily</header>
                            <p>Each piece gets 30 days to sell. Things move quickly.  Get it first.</p>
                        </div>
                    </div>
                    <div class="col-sm-4 info">
                        <div class="reserve">
                            <header>Buy or Reserve</header>
                            <p>Buy outright through us or reserve for 48 hrs to go see in person while taking it off the market</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </li>
    </ul>

</div>

<div class="container-fluid pic-tabs main" id="products">        
    <div class="row-fluid">
        <div class="container-fluid" id="products-grid">
            <div class="tab-content">
                <div class="tab-pane fade in active">
                    <div class="grid-products-wrapper">
                        <div id="ajax-product-container" class="row">
                            {% include 'goods/main/landing_ajax_page.html' %}
                        </div>
                    </div>
                </div><!-- end tab1 -->
            </div>
        </div>
    </div>
</div>
{% endblock content %}
{% block endjs %}
    {{ block.super }}
    {% include 'js/addlikeditems.html' %}
    <script src="{{ STATIC_URL }}endless_pagination/js/endless-pagination.js"></script>
    <script>
            $.endlessPaginate({
                paginateOnScroll: true,
                paginateOnScrollMargin: 300
            });
    </script>
    {% if show_referral_first_modal or show_referral_second_modal  %}
        <script type="text/javascript">
                $(document).ready(function () {
                
                    // ajax call to load referral
                    $.ajax({
                        type: "GET",
                        dataType: "html",
                        url: "{% if show_referral_first_modal %}{% url "members:referral_signup" %}{% else %}{% url "members:referral_info" %}{% endif %}",
                        success: function(response, status){
                            console.log('status ['+status+']');
                            if(status == 'success'){
                                $("#referral-modal-container").html(response);
                                $("#referral-signup-modal").modal({
                                    show: true,
                                    keyboard: true
                                });                 
                            }           
                        }
                    });
                    
                });
        </script>
    {% endif %}


    {% if promotion_offer and not request.user.is_authenticated %}
        <script type="text/javascript">
            $(document).ready(function () {
                $('#promotion-offer-modal').modal({"show": true});
            });
        </script>
    {% endif %}


{% if promotion_offer and not request.user.is_authenticated %}
<script type="text/javascript">
$(document).ready(function () {
        $('#promotion-offer-modal').modal({"show": true});
        });
</script>
{% endif %}


<link rel="stylesheet" href="{% static 'css/bootstrap-slider.min.css' %}">
<script src="{% static 'js/vendor/bootstrap-slider.min.js' %}"></script>
<script src="{% static 'js/vendor/ion.rangeSlider.min.js' %}"></script>
<script>
//var slider = new Slider('#filter-price-slider', {});
//var slider = new Slider('#filter-height-slider', {});
//var slider = new Slider('#filter-width-slider', {});
//var slider = new Slider('#filter-depth-slider', {});

function colourNameToHex(colour)
{
    var colours = {"aliceblue":"#f0f8ff","antiquewhite":"#faebd7","aqua":"#00ffff","aquamarine":"#7fffd4","azure":"#f0ffff",
        "beige":"#f5f5dc","bisque":"#ffe4c4","black":"#000000","blanchedalmond":"#ffebcd","blue":"#0000ff","blueviolet":"#8a2be2","brown":"#a52a2a","burlywood":"#deb887",
        "cadetblue":"#5f9ea0","chartreuse":"#7fff00","chocolate":"#d2691e","coral":"#ff7f50","cornflowerblue":"#6495ed","cornsilk":"#fff8dc","crimson":"#dc143c","cyan":"#00ffff",
        "darkblue":"#00008b","darkcyan":"#008b8b","darkgoldenrod":"#b8860b","darkgray":"#a9a9a9","darkgreen":"#006400","darkkhaki":"#bdb76b","darkmagenta":"#8b008b","darkolivegreen":"#556b2f",
        "darkorange":"#ff8c00","darkorchid":"#9932cc","darkred":"#8b0000","darksalmon":"#e9967a","darkseagreen":"#8fbc8f","darkslateblue":"#483d8b","darkslategray":"#2f4f4f","darkturquoise":"#00ced1",
        "darkviolet":"#9400d3","deeppink":"#ff1493","deepskyblue":"#00bfff","dimgray":"#696969","dodgerblue":"#1e90ff",
        "firebrick":"#b22222","floralwhite":"#fffaf0","forestgreen":"#228b22","fuchsia":"#ff00ff",
        "gainsboro":"#dcdcdc","ghostwhite":"#f8f8ff","gold":"#ffd700","goldenrod":"#daa520","gray":"#808080","green":"#008000","greenyellow":"#adff2f",
        "honeydew":"#f0fff0","hotpink":"#ff69b4",
        "indianred ":"#cd5c5c","indigo":"#4b0082","ivory":"#fffff0","khaki":"#f0e68c",
        "lavender":"#e6e6fa","lavenderblush":"#fff0f5","lawngreen":"#7cfc00","lemonchiffon":"#fffacd","lightblue":"#add8e6","lightcoral":"#f08080","lightcyan":"#e0ffff","lightgoldenrodyellow":"#fafad2",
        "lightgrey":"#d3d3d3","lightgreen":"#90ee90","lightpink":"#ffb6c1","lightsalmon":"#ffa07a","lightseagreen":"#20b2aa","lightskyblue":"#87cefa","lightslategray":"#778899","lightsteelblue":"#b0c4de",
        "lightyellow":"#ffffe0","lime":"#00ff00","limegreen":"#32cd32","linen":"#faf0e6",
        "magenta":"#ff00ff","maroon":"#800000","mediumaquamarine":"#66cdaa","mediumblue":"#0000cd","mediumorchid":"#ba55d3","mediumpurple":"#9370d8","mediumseagreen":"#3cb371","mediumslateblue":"#7b68ee",
        "mediumspringgreen":"#00fa9a","mediumturquoise":"#48d1cc","mediumvioletred":"#c71585","midnightblue":"#191970","mintcream":"#f5fffa","mistyrose":"#ffe4e1","moccasin":"#ffe4b5",
        "navajowhite":"#ffdead","navy":"#000080",
        "oldlace":"#fdf5e6","olive":"#808000","olivedrab":"#6b8e23","orange":"#ffa500","orangered":"#ff4500","orchid":"#da70d6",
        "palegoldenrod":"#eee8aa","palegreen":"#98fb98","paleturquoise":"#afeeee","palevioletred":"#d87093","papayawhip":"#ffefd5","peachpuff":"#ffdab9","peru":"#cd853f","pink":"#ffc0cb","plum":"#dda0dd","powderblue":"#b0e0e6","purple":"#800080",
        "red":"#ff0000","rosybrown":"#bc8f8f","royalblue":"#4169e1",
        "saddlebrown":"#8b4513","salmon":"#fa8072","sandybrown":"#f4a460","seagreen":"#2e8b57","seashell":"#fff5ee","sienna":"#a0522d","silver":"#c0c0c0","skyblue":"#87ceeb","slateblue":"#6a5acd","slategray":"#708090","snow":"#fffafa","springgreen":"#00ff7f","steelblue":"#4682b4",
        "tan":"#d2b48c","teal":"#008080","thistle":"#d8bfd8","tomato":"#ff6347","turquoise":"#40e0d0",
        "violet":"#ee82ee",
        "wheat":"#f5deb3","white":"#ffffff","whitesmoke":"#f5f5f5",
        "yellow":"#ffff00","yellowgreen":"#9acd32"};

    if (typeof colours[colour.toLowerCase()] != 'undefined')
        return colours[colour.toLowerCase()];

    return false;
}

$(document).ready(function() {        

        $('#filter-btn').click(function() {
            $('#searchfilter-form').toggleClass('open');
            });

        var searchFilterTimer;
        $(".searchfilter-control" ).change(function(e) {
            console.log("searchfilter-control changed: "+e.target.id);

            // wait for other changes before we search
            // if user is clicking on filter we don't
            // want to make a request instantly after every click
            // clear any previous timer and start a new one
            if(searchFilterTimer && typeof searchFilterTimer != 'undefined'){ 
            clearTimeout(searchFilterTimer);
            console.log('timer is cleared');
            }

            searchFilterTimer = setTimeout(function() {
                // make ajax request to update the products
                console.log("ajax request: "+{% url "goods:searchfilter" %});

                $.ajax({
type: "GET",
url: "{% url "goods:searchfilter" %}",
dataType: "html",
data: $("#searchfilter-form").serialize(),
success: function(response, status){
console.log('status from searchfilter call: '+status);
$("#ajax-product-container").html(response);
},
});					
                }, 2000);

console.log('timer is set: ');
console.log(searchFilterTimer);
});

$('.slider').ionRangeSlider({'prettify_enabled': false, 'force_edges': true});

$('#filter-container-color').find('.checkbox-label').each(function() {
        color_hex = colourNameToHex($(this).text());
        console.log(color_hex);
        console.log($(this).closest('.checkbox-pseudocheckbox'));
        $(this).closest('.color-checkbox').find('.checkbox-pseudocheckbox').css('background-color', color_hex);

        });

$('.category .reset').click(function(event) {
        if ($(event.target).parent().hasClass("header-group")) {
        $(this).parent().parent().find('.filter-group .reset').addClass('hidden');

        }
        $(this).parent().parent().find('input[type="checkbox"]').attr('checked', false);
        $(this).parent().parent().find('.slider').each(function() {
            $(this).data("ionRangeSlider").reset();
            });

        $(this).closest('.filter-group').find('header .reset').addClass('hidden');

        });

$('.filter-group input').change(function() {
        if ($(this).closest('.filter-group').find('input:checked').length) {
        $(this).closest('.filter-group').find('header .reset').removeClass('hidden');
        /*$(this).parent('.filter-group').css( "background", "yellow" );*/
        /*$(this).parent('.filter-group').hide();*/
        }
        else if ($(this).closest('.filter-group').find('input[type="text"]').val() != "") {
        $(this).closest('.filter-group').find('header .reset').removeClass('hidden');

        } else {
        ($(this).closest('.filter-group').find('input:checked').length);
        }

        });
});
</script>

<script src="{% static 'js/vendor/responsiveslides.min.js' %}"></script>
<script>
$(function() {
        $(".rslides").responsiveSlides({
auto: false,
nav: true,
prevText: 'b',
nextText: 'a',

});
        });
</script>
{% endblock endjs %}

