
{% extends '_base.html' %}
{% load staticfiles %}
{% load cloudinary %}
{% load goods_extras %}
{% load endless %}

{% block beginjs %}
<link rel="stylesheet" href="{% static 'css/ion.rangeSlider.css' %}">
{% endblock beginjs %}

{% block bodyid %}thehuntsf{% endblock %}

{% block content %}
<div class="container-fluid" id="promo-hunt">
    <div class="row-fluid">
        <div class="col-xs-12 col-md-3" id="solve-the-clues">
            Solve the clues and<br class="hidden-sm hidden-xs" /> win free<br  class="hidden-sm hidden-xs" /> <span class="gold-text">furniture</span>
        </div>
        <div class="col-xs-12 col-md-9" id="the-hunt">
            <div class="content">
                <img src="{% static 'img/thehuntsf.svg' %}" />
                <div class="social">
                    <div class="social-icons">
                      <a href="https://www.facebook.com/RareDoor" class="icon-facebook"><span>Facebook</span></a>
                      <a href="https://www.twitter.com/RareDoor" class="icon-twitter"><span>Twitter</span></a>
                      <a href="https://www.pinterest.com/raredoor/" class="icon-instagram"><span>Instagram</span></a>
                    </div>
                </div>
                <div class="call">follow our posts or stop by participating retailers for clues</div>
            </div>
        </div>
    </div>
    <div class="row-fluid">
        <div id="hunt-image">
            <img src="{% static 'img/thehunt-bg.jpg' %}" />

            <div class="text">
                <h1><span>March 28th-29th</span></h1>
                <span>There's a golden egg hidden in <i>San Francisco</i>.</span><br />
                <span><strong>Solve the clues. Find the egg.  Win an iconic piece of furniture.</strong></span><br />
                <span>Finders Keepers...</span>
            </div>
        </div>
        <div id="find-clues">
            <div class="container">
                <span><strong>Visit Participating Retailers For Clues:</strong></span><br />
               <!--  <strong>10% OFF</strong><span style="font-size: 13px"> (up to $50)</span><br />
            featured items from these<br />
            <span style="font-size: 22px;">participating retailers</span> -->
            </div>
        </div>
        <div id="stores" class="col-xs-12">
            <ul>
                <li><h3>Bernal Heights</h3></li>
                <li>
                    <a target="_blank" href="https://www.google.com/maps/dir//Grand+Central+Station+Antiques,+360+Bayshore+Boulevard,+San+Francisco,+CA+94124/@37.7418568,-122.480307,12z/data=!3m1!4b1!4m8!4m7!1m0!1m5!1m1!1s0x808f7e284f8b7875:0x99497ef1bbd44a5b!2m2!1d-122.406661!2d37.741744">
                    Grand Central Antiques
                    </a>
                </li>
                <li><h3>Castro</h3></li>
                <li>
                    <a target="_blank" href="https://www.google.com/maps/dir//A+%26+G+Merch+-+SF,+2279+Market+Street,+San+Francisco,+CA+94114/@37.7646368,-122.505776,12z/data=!4m8!4m7!1m0!1m5!1m1!1s0x808f7e1c5e158d63:0x2c879e84bb60d5f1!2m2!1d-122.43213!2d37.764524">
                        A&G Merch
                    </a>
                </li>
                <li>
                    <a target="_blank" href="https://www.google.com/maps/place/Kenneth+Wingard/@37.763601,-122.433418,15z/data=!4m2!3m1!1s0x0:0xe8c0d2e381212759?sa=X&ei=piUUVZfrBcG5ogTurIDABA&ved=0CH4Q_BIwDg">
                        Kenneth Wingard
                    </a>
                </li>
                <li><h3>East Bay</h3></li>
                <li>
                    <a target="_blank" href="https://www.google.com/maps/dir//Erin+Lane+Estate,+1635+20th+Street,+Oakland,+CA+94607/@37.8159727,-122.3652919,12z/data=!3m1!4b1!4m8!4m7!1m0!1m5!1m1!1s0x80857e216336cee3:0xd2320b63fc040baa!2m2!1d-122.291646!2d37.81586">
                        Erin Lane
                    </a>
                </li>
                <li>
                    <a target="_blank" href="https://www.google.com/maps/place/Mignonne/@37.861373,-122.289454,15z/data=!4m2!3m1!1s0x0:0x1290b7da6d91c352">
                        Mignonne
                    </a>
                </li>
                <li>
                    <a target="_blank" href="https://www.google.com/maps/dir//Therapy+Store,+2951+College+Avenue,+Berkeley,+CA+94705/@37.8575385,-122.3267546,12z/data=!3m1!4b1!4m8!4m7!1m0!1m5!1m1!1s0x80857dcdec07d7c3:0x9873aca4132cded3!2m2!1d-122.252937!2d37.857426">
                        Therapy
                    </a>
                </li>
                <li>
                    <a target="_blank" href="https://www.google.com/maps/dir//The+Wooden+Duck,+1823+Eastshore+Hwy,+Berkeley,+CA+94710/@37.9216175,-122.422195,12z/data=!4m13!1m4!3m3!1s0x80857edbf0edd34f:0x4ef3575617c129ea!2sThe+Wooden+Duck!3b1!4m7!1m0!1m5!1m1!1s0x80857edbf0edd34f:0x4ef3575617c129ea!2m2!1d-122.303616!2d37.868861">
                        Wooden Duck
                    </a>
                </li>
                <li><h3>Hayes Valley</h3></li>
                <li>
                    <a target="_blank" href="https://www.google.com/maps/dir//Maker+%26+Moss,+364+Hayes+Street,+San+Francisco,+CA+94102/@37.7772268,-122.496038,12z/data=!3m1!4b1!4m8!4m7!1m0!1m5!1m1!1s0x80858098c1e78109:0x19e57d5ec13fce99!2m2!1d-122.422392!2d37.777114">
                        Maker & Moss
                    </a>
                </li>
                <li>
                    <a target="_blank" href="https://www.google.com/maps/dir//Tazi+Designs,+Linden+Street,+San+Francisco,+CA/@37.7763897,-122.4973556,12z/data=!3m1!4b1!4m8!4m7!1m0!1m5!1m1!1s0x80858098a57ccbf7:0xabf9c782557a1187!2m2!1d-122.423538!2d37.776277">
                        Tazi Designs
                    </a>
                </li>
                <li><h3>Lower Nob Hill</h3></li>
                <li>
                    <a target="_blank" href="https://www.google.com/maps/dir//Cavalier+by+Jay+Jeffers,+1035+Post+Street,+San+Francisco,+CA+94109/@37.7869367,-122.4925689,12z/data=!3m1!4b1!4m8!4m7!1m0!1m5!1m1!1s0x8085809402f88e29:0xb64c97b68f711534!2m2!1d-122.418923!2d37.786824">
                        Cavalier Goods
                    </a>
                </li>
                <li><h3>Mission</h3></li>
                <li>
                    <a target="_blank" href="https://www.google.com/maps/dir//Accident+and+Artifact,+381+Valencia+Street,+San+Francisco,+CA+94103/@37.7670418,-122.495522,12z/data=!3m1!4b1!4m8!4m7!1m0!1m5!1m1!1s0x808f7e218f117db1:0x535ae3b9e2372e7f!2m2!1d-122.421876!2d37.766929">
                        Accident & Artifact
                    </a>
                </li>
                <li>
                    <a target="_blank" href="https://www.google.com/maps/dir//Aldea+Home,+Valencia+Street,+San+Francisco,+CA/@37.7588048,-122.495169,12z/data=!3m1!4b1!4m8!4m7!1m0!1m5!1m1!1s0x808f7e2318c483b9:0xebab8481cf095527!2m2!1d-122.421523!2d37.758692">
                        Aldea Home
                    </a>
                </li>
                <li>
                    <a target="_blank" href="https://www.google.com/maps/dir//Carousel+Consignment+SF,+2391+Mission+Street,+San+Francisco,+CA+94110/@37.7589768,-122.492609,12z/data=!3m1!4b1!4m8!4m7!1m0!1m5!1m1!1s0x808f7e3c0dce37b9:0x92771024e7cf840e!2m2!1d-122.418963!2d37.758864">
                        Carousel Consignment
                    </a>
                </li>
                <li>
                    <a target="_blank" href="https://www.google.com/maps/dir//Monument,+572+Valencia+Street,+San+Francisco,+CA+94110/@37.7638618,-122.495794,12z/data=!3m1!4b1!4m8!4m7!1m0!1m5!1m1!1s0x808f7e22fb72ec81:0x4cf2469af09bcd20!2m2!1d-122.422148!2d37.763749">
                        Deangelis
                    </a>
                </li>
                <li>
                    <a target="_blank" href="https://www.google.com/maps/dir//Farnsworth,+393+Valencia+Street,+San+Francisco,+CA+94103/@37.7668808,-122.495523,12z/data=!3m1!4b1!4m8!4m7!1m0!1m5!1m1!1s0x808f7e2186212c4d:0xe244bfb3eb4d8bf7!2m2!1d-122.421877!2d37.766768">
                        Farnsworth
                    </a>
                </li>
                <li>
                    <a target="_blank" href="https://www.google.com/maps/dir//Gingko+Home+Furnishings,+Valencia+Street,+San+Francisco,+CA/@37.7599138,-122.495412,12z/data=!3m1!4b1!4m8!4m7!1m0!1m5!1m1!1s0x808f7e3d01141f75:0xddcd693de24e16c8!2m2!1d-122.421766!2d37.759801">
                        Gingko
                    </a>
                </li>
                <li>
                    <a target="_blank" href="https://www.google.com/maps/dir/''/599+Valencia+St,+San+Francisco,+CA+94110/@37.7634856,-122.423701,17z/data=!3m1!4b1!4m8!4m7!1m0!1m5!1m1!1s0x808f7e22e24b668b:0x9633b1bae01218e2!2m2!1d-122.4215552!2d37.7634856">
                        Harrington Galleries
                    </a>
                </li>
                <li>
                    <a target="_blank" href="https://www.google.com/maps/dir//Stuff,+150+Valencia+St,+San+Francisco,+CA+94103/@37.773251,-122.410647,13z/data=!4m13!1m4!3m3!1s0x808580a71057705d:0xca041c945cd22020!2sStuff!3b1!4m7!1m0!1m5!1m1!1s0x808580a71057705d:0xca041c945cd22020!2m2!1d-122.422753!2d37.770544">
                        Stuff
                    </a>
                </li>
                <li>
                    <a target="_blank" href="https://www.google.com/maps/place/The+Touch/@37.761465,-122.419187,17z/data=!3m1!4b1!4m2!3m1!1s0x808f7e3cbd5eb703:0x70562550cf55083e">
                        The Touch
                    </a>
                </li>
                <li><h3>Pac Heights</h3></li>
                <li>
                    <a target="_blank" href="https://www.google.com/maps/dir//Zinc+Details,+1905+Fillmore+Street,+San+Francisco,+CA+94115/@37.7873466,-122.5075856,12z/data=!3m1!4b1!4m8!4m7!1m0!1m5!1m1!1s0x808580c78ef46b9b:0x306c9e5cfe423e13!2m2!1d-122.433768!2d37.787234">
                        Zinc Details
                    </a>
                </li>
                <li><h3>Potrero Hill</h3></li>
               <li>
                    <a target="_blank" href="https://www.google.com/maps/dir//Big+Daddy's+Antiques,+1550+17th+Street,+San+Francisco,+CA+94107/@37.7654448,-122.473141,12z/data=!3m1!4b1!4m8!4m7!1m0!1m5!1m1!1s0x808f7fccec4b5e5f:0x23a95e5262246f2c!2m2!1d-122.399495!2d37.765332">
                        Big Daddys
                    </a>
                </li>
                <li><h3>SOMA</h3></li>
                <li>
                    <a target="_blank" href="https://www.google.com/maps/dir//Jeremiah+Collection,+1608+Harrison+Street,+San+Francisco,+CA+94110/@37.7699798,-122.487096,12z/data=!3m1!4b1!4m8!4m7!1m0!1m5!1m1!1s0x808f7e261aeb671d:0xa7ec7eb5e4dd9384!2m2!1d-122.41345!2d37.769867">
                        Jeremiah Collection
                    </a>
                </li>
                <li>
                    <a target="_blank" href="https://www.google.com/maps/place/Nomadic+Arts/@37.773251,-122.410647,17z/data=!3m1!4b1!4m2!3m1!1s0x808f7e2841a73793:0x5b9ef884ccbfa8eb">
                        Nomadic Arts
                    </a>
                </li>
                <li><h3>Sunset/Richmond</h3></li>
                <li>
                    <a target="_blank" href="https://www.google.com/maps/place/mixed+nuts/@37.775626,-122.49376,15z/data=!4m2!3m1!1s0x0:0x1a8c0bf2e9bb3b9b">
                        Mixed Nuts
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <!-- <div class="row-fluid">
        <div id="featured-item" class="col-xs-offset-3 col-xs-6">
                <span><strong>Want to hunt from home?  For this weekend only we're featuring our <b>favorite</b> item from each Hunt retailer.  10% OFF - go.local.shopping</strong></span><br />
               <!--  <strong>10% OFF</strong><span style="font-size: 13px"> (up to $50)</span><br />
            featured items from these<br />
            <span style="font-size: 22px;">participating retailers</span> -->
        <!-- </div>
    </div> -->
</div>

<div class="container-fluid pic-tabs main" id="products" style="display:none">        
    <div class="row-fluid">
        <div class="container-fluid" id="products-grid">
            <div class="tab-content">
                <div class="tab-pane fade in active">
                    <div class="grid-products-wrapper">
                        <div id="ajax-product-container" class="row">
                            {% include 'goods/main/landing_ajax_page.html' %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
{% block endjs %}
    {{ block.super }}
    {% include 'js/addlikeditems.html' %}
    <script src="{{ STATIC_URL }}endless_pagination/js/endless-pagination.js"></script>
    <script>
            $.endlessPaginate({
                paginateOnScroll: true,
                paginateOnScrollMargin: 300
            });
    </script>
    {% if show_referral_first_modal or show_referral_second_modal  %}
        <script type="text/javascript">
                $(document).ready(function () {
                
                    // ajax call to load referral
                    $.ajax({
                        type: "GET",
                        dataType: "html",
                        url: "{% if show_referral_first_modal %}{% url "members:referral_signup" %}{% else %}{% url "members:referral_info" %}{% endif %}",
                        success: function(response, status){
                            console.log('status ['+status+']');
                            if(status == 'success'){
                                $("#referral-modal-container").html(response);
                                $("#referral-signup-modal").modal({
                                    show: true,
                                    keyboard: true
                                });                 
                            }           
                        }
                    });
                    
                });
        </script>
    {% endif %}
    {% if show_login_modal %}
        <script type="text/javascript">
            $(document).ready(function () {
                console.log('clicking login modal');
               $('.nav-login-button').click();
            });
        </script>
    {% endif %}


    {% if promotion_offer and not request.user.is_authenticated %}
        <script type="text/javascript">
            $(document).ready(function () {
                $('#promotion-offer-modal').modal({"show": true});
            });
        </script>
    {% endif %}


{% if promotion_offer and not request.user.is_authenticated %}
<script type="text/javascript">
$(document).ready(function () {
        $('#promotion-offer-modal').modal({"show": true});
        });
</script>
{% endif %}


<link rel="stylesheet" href="{% static 'css/bootstrap-slider.min.css' %}">
<script src="{% static 'js/vendor/bootstrap-slider.min.js' %}"></script>
<script src="{% static 'js/vendor/ion.rangeSlider.min.js' %}"></script>
<script>
//var slider = new Slider('#filter-price-slider', {});
//var slider = new Slider('#filter-height-slider', {});
//var slider = new Slider('#filter-width-slider', {});
//var slider = new Slider('#filter-depth-slider', {});

// function colourNameToHex(colour)
// {
//     var colours = {"aliceblue":"#f0f8ff","antiquewhite":"#faebd7","aqua":"#00ffff","aquamarine":"#7fffd4","azure":"#f0ffff",
//         "beige":"#f5f5dc","bisque":"#ffe4c4","black":"#000000","blanchedalmond":"#ffebcd","blue":"#0000ff","blueviolet":"#8a2be2","brown":"#a52a2a","burlywood":"#deb887",
//         "cadetblue":"#5f9ea0","chartreuse":"#7fff00","chocolate":"#d2691e","coral":"#ff7f50","cornflowerblue":"#6495ed","cornsilk":"#fff8dc","crimson":"#dc143c","cyan":"#00ffff",
//         "darkblue":"#00008b","darkcyan":"#008b8b","darkgoldenrod":"#b8860b","darkgray":"#a9a9a9","darkgreen":"#006400","darkkhaki":"#bdb76b","darkmagenta":"#8b008b","darkolivegreen":"#556b2f",
//         "darkorange":"#ff8c00","darkorchid":"#9932cc","darkred":"#8b0000","darksalmon":"#e9967a","darkseagreen":"#8fbc8f","darkslateblue":"#483d8b","darkslategray":"#2f4f4f","darkturquoise":"#00ced1",
//         "darkviolet":"#9400d3","deeppink":"#ff1493","deepskyblue":"#00bfff","dimgray":"#696969","dodgerblue":"#1e90ff",
//         "firebrick":"#b22222","floralwhite":"#fffaf0","forestgreen":"#228b22","fuchsia":"#ff00ff",
//         "gainsboro":"#dcdcdc","ghostwhite":"#f8f8ff","gold":"#ffd700","goldenrod":"#daa520","gray":"#808080","green":"#008000","greenyellow":"#adff2f",
//         "honeydew":"#f0fff0","hotpink":"#ff69b4",
//         "indianred ":"#cd5c5c","indigo":"#4b0082","ivory":"#fffff0","khaki":"#f0e68c",
//         "lavender":"#e6e6fa","lavenderblush":"#fff0f5","lawngreen":"#7cfc00","lemonchiffon":"#fffacd","lightblue":"#add8e6","lightcoral":"#f08080","lightcyan":"#e0ffff","lightgoldenrodyellow":"#fafad2",
//         "lightgrey":"#d3d3d3","lightgreen":"#90ee90","lightpink":"#ffb6c1","lightsalmon":"#ffa07a","lightseagreen":"#20b2aa","lightskyblue":"#87cefa","lightslategray":"#778899","lightsteelblue":"#b0c4de",
//         "lightyellow":"#ffffe0","lime":"#00ff00","limegreen":"#32cd32","linen":"#faf0e6",
//         "magenta":"#ff00ff","maroon":"#800000","mediumaquamarine":"#66cdaa","mediumblue":"#0000cd","mediumorchid":"#ba55d3","mediumpurple":"#9370d8","mediumseagreen":"#3cb371","mediumslateblue":"#7b68ee",
//         "mediumspringgreen":"#00fa9a","mediumturquoise":"#48d1cc","mediumvioletred":"#c71585","midnightblue":"#191970","mintcream":"#f5fffa","mistyrose":"#ffe4e1","moccasin":"#ffe4b5",
//         "navajowhite":"#ffdead","navy":"#000080",
//         "oldlace":"#fdf5e6","olive":"#808000","olivedrab":"#6b8e23","orange":"#ffa500","orangered":"#ff4500","orchid":"#da70d6",
//         "palegoldenrod":"#eee8aa","palegreen":"#98fb98","paleturquoise":"#afeeee","palevioletred":"#d87093","papayawhip":"#ffefd5","peachpuff":"#ffdab9","peru":"#cd853f","pink":"#ffc0cb","plum":"#dda0dd","powderblue":"#b0e0e6","purple":"#800080",
//         "red":"#ff0000","rosybrown":"#bc8f8f","royalblue":"#4169e1",
//         "saddlebrown":"#8b4513","salmon":"#fa8072","sandybrown":"#f4a460","seagreen":"#2e8b57","seashell":"#fff5ee","sienna":"#a0522d","silver":"#c0c0c0","skyblue":"#87ceeb","slateblue":"#6a5acd","slategray":"#708090","snow":"#fffafa","springgreen":"#00ff7f","steelblue":"#4682b4",
//         "tan":"#d2b48c","teal":"#008080","thistle":"#d8bfd8","tomato":"#ff6347","turquoise":"#40e0d0",
//         "violet":"#ee82ee",
//         "wheat":"#f5deb3","white":"#ffffff","whitesmoke":"#f5f5f5",
//         "yellow":"#ffff00","yellowgreen":"#9acd32"};

//     if (typeof colours[colour.toLowerCase()] != 'undefined')
//         return colours[colour.toLowerCase()];

//     return false;
// }

// $(document).ready(function() {        

//         $('#filter-btn').click(function() {
//             $('#searchfilter-form').toggleClass('open');
//             });

//         var searchFilterTimer;
//         $(".searchfilter-control" ).change(function(e) {
//             console.log("searchfilter-control changed: "+e.target.id);

//             // wait for other changes before we search
//             // if user is clicking on filter we don't
//             // want to make a request instantly after every click
//             // clear any previous timer and start a new one
//             if(searchFilterTimer && typeof searchFilterTimer != 'undefined'){ 
//             clearTimeout(searchFilterTimer);
//             console.log('timer is cleared');
//             }

//             searchFilterTimer = setTimeout(function() {
//                 // make ajax request to update the products
//                 console.log("ajax request: "+{% url "goods:searchfilter" %});

//                 $.ajax({
// type: "GET",
// url: "{% url "goods:searchfilter" %}",
// dataType: "html",
// data: $("#searchfilter-form").serialize(),
// success: function(response, status){
// console.log('status from searchfilter call: '+status);
// $("#ajax-product-container").html(response);
// },
// });					
//                 }, 2000);

// console.log('timer is set: ');
// console.log(searchFilterTimer);
// });

// $('.slider').ionRangeSlider({'prettify_enabled': false, 'force_edges': true});

// $('#filter-container-color').find('.checkbox-label').each(function() {
//         color_hex = colourNameToHex($(this).text());
//         console.log(color_hex);
//         console.log($(this).closest('.checkbox-pseudocheckbox'));
//         $(this).closest('.color-checkbox').find('.checkbox-pseudocheckbox').css('background-color', color_hex);

//         });

// $('.category .reset').click(function(event) {
//         if ($(event.target).parent().hasClass("header-group")) {
//         $(this).parent().parent().find('.filter-group .reset').addClass('hidden');

//         }
//         $(this).parent().parent().find('input[type="checkbox"]').attr('checked', false);
//         $(this).parent().parent().find('.slider').each(function() {
//             $(this).data("ionRangeSlider").reset();
//             });

//         $(this).closest('.filter-group').find('header .reset').addClass('hidden');

//         });

// $('.filter-group input').change(function() {
//         if ($(this).closest('.filter-group').find('input:checked').length) {
//         $(this).closest('.filter-group').find('header .reset').removeClass('hidden');
//         /*$(this).parent('.filter-group').css( "background", "yellow" );*/
//         /*$(this).parent('.filter-group').hide();*/
//         }
//         else if ($(this).closest('.filter-group').find('input[type="text"]').val() != "") {
//         $(this).closest('.filter-group').find('header .reset').removeClass('hidden');

//         } else {
//         ($(this).closest('.filter-group').find('input:checked').length);
//         }

//         });
// });
// </script>

<script src="{% static 'js/vendor/responsiveslides.min.js' %}"></script>
<script>
$(function() {
        $(".rslides").responsiveSlides({
auto: false,
nav: true,
prevText: 'b',
nextText: 'a',

});
        });
</script>
{% endblock endjs %}

