{% extends '_base_old.html' %}
{% load staticfiles %}
{% load cloudinary %}
{% load goods_extras %}
{% load endless %}

{% block beginjs %}
<link rel="stylesheet" href="{% static 'css/ion.rangeSlider.css' %}">
{% endblock beginjs %}
{% block content %}
    </div>
    
   
    {% if searchfilter %}
    <form id="searchfilter-form" action="." method="post">
	    <div id="filter-container"><!-- searchfilters -->
	
	      
			{% if searchfilter.furnituretypes %}
			<div id="filter-container-furnituretype" class="category">
				<header>Categories <a href="#" class="reset"><span>Reset</span></a></header>
				
				<ul>
					{% for furnituretype in searchfilter.furnituretypes %}
					<li>
					
						<div class="c-checkbox">
						    <input type="checkbox" class="checkbox searchfilter-control" name="filter-furnituretype" value="{{ segment.id }}" id="filter-furnituretype-{{ furnituretype.id }}">
						    <label for="filter-furnituretype-{{ furnituretype.id }}" class="checkbox-label">
						      {{ furnituretype.select }}
						    </label>
						</div>

					</li>
					{% endfor %}
				</ul>
			</div>
			{% endif %}
			{% comment %}
			{% if searchfilter.segments %}
			<div id="filter-segment-segment" class="category">
				<header>Segment</header>
				<ul>
					{% for segment in searchfilter.segments %}
					<li>
					
						<div class="c-checkbox">
						    <input type="checkbox" class="checkbox searchfilter-control" name="filter-segment" value="{{ segment.id }}" id="filter-segment-{{ segment.id }}">
						    <label for="filter-segment-{{ segment.id }}" class="checkbox-label">
						      {{ segment.select }}
						    </label>
						</div>
					</li>
					{% endfor %}
				</ul>
			</div>
			{% endif %}
			{% endcomment %}
	
			<div class="category filters">
			  <header>Filters <a href="#" class="reset"><span>Reset</span></a></header>
			<div id="filter-container-price" class="filter-group">
			  <header><a data-toggle="collapse" href="#collapsePrice" aria-expanded="true" aria-controls="collapsePrice" class="collapsed">Price <i class="fa"></i></a><a href="#" class="reset hidden"><span>Reset</span></a></header>
				<div id="collapsePrice" class="collapse fold" role="tabpanel" aria-labelledby="headingPrice">
				<input type="text" id="filter-price" name="filter-price-min" data-min="500" data-max="5000" data-from="0" data-to="5000" data-type="double" data-prefix="$" class="searchfilter-control slider" value="" />
			      </div>
				<!--<input type="text" name="filter-price-max" class="searchfilter-control" value="" />-->
				
				{% comment %}
				<span id="filter-price-slider-min" style="margin-right:20px;">{{ searchfilter.price_slider_min }}</span>
				<input id="filter-price-slider" type="text" class="span2 searchfilter-control-price" value="" 
					data-slider-min="{{ searchfilter.price_slider_min }}"
					data-slider-max="{{ searchfilter.price_slider_max }}" 
					data-slider-step="100" 
					data-slider-value="[{{ searchfilter.price_slider_min }},{{ searchfilter.price_slider_max }}]"/> 
				<span id="filter-price-slider-max" style="margin-left:20px;">{{ searchfilter.price_slider_max }}</span>
				{% endcomment %}
			</div>
			
			{% if searchfilter.colors %}
			<div id="filter-container-color" class="filter-group">
			  <header><a data-toggle="collapse" href="#collapseColor" aria-expanded="true" aria-controls="collapseColor" class="collapsed">Color <i class="fa"></i></a><a href="#" class="reset hidden"><span>Reset</span></a></header>
				<div id="collapseColor" class="collapse fold" role="tabpanel" aria-labelledby="headingColor">
				<ul>
					{% for color in searchfilter.colors %}
					<li>
					<div class="color-checkbox">
						<input id="filter-color-{{ color.id }}" class="searchfilter-control" type="checkbox" name="filter-color" value="{{ color.id }}" />

						<label for="filter-color-{{ color.id }}" class="checkbox-pseudocheckbox"></label>
						<label for="filter-color-{{ color.id }}" class="checkbox-label hidden">{{ color.select }}</label>
					      </div>
					</li>
					{% endfor %}
				</ul>
				</div>
			</div>
			{% endif %}
			
			{% if searchfilter.styles %}
			<div id="filter-container-style" class="filter-group">
				<header><a data-toggle="collapse" href="#collapseStyle" aria-expanded="true" aria-controls="collapseStyle" class="collapsed">
				    Style <i class="fa"></i></a><a href="#" class="reset hidden"><span>Reset</span></a></header>
	
	<div id="collapseStyle" class="collapse fold" role="tabpanel" aria-labelledby="headingStyle">
	  
				<ul>
					{% for style in searchfilter.styles %}
					<li>
					<div class="c-checkbox">
					  <input class="searchfilter-control checkbox" type="checkbox" name="filter-style" id="filter-style-{{style.id}}" value="{{ style.id }}" />
						<label for="filter-style-{{ style.id }}" class="checkbox-pseudocheckbox"></label>
						<label for="filter-style-{{ style.id }}" class="checkbox-label">{{ style.select }}</label>
                    </div>
						
					</li>
					{% endfor %}
				</ul>
		  </div>

			</div>
			{% endif %}
			{% comment %}
			{% endcomment %}
			
			<div id="filter-container-dimensions" class="filter-group">
				<header><a data-toggle="collapse" href="#collapseDimensions" aria-expanded="true" aria-controls="collapseDimensions" class="collapsed">Dimensions <i class="fa"></i></a><a href="#" class="reset hidden"><span>Reset</span></a></header>
				<div id="collapseDimensions" class="collapse fold" role="tabpanel" aria-labelledby="headingDimensions">

				<b>height</b>
				<input type="text" name="filter-height-min" id="filter-height" class="searchfilter-control slider" data-min="{{ searchfilter.height_slider_min }}" data-max="{{ searchfilter.height_slider_max }}" data-from="{{ searchfilter.height_slider_min }}" data-to="{{ searchfilter.height_slider_max }}" data-type="double" data-prefix="" value="" />
				
				{% comment %}
				<span id="filter-height-slider-min" style="margin-right:20px;">{{ searchfilter.height_slider_min }}</span>
				<input id="filter-height-slider" type="text" class="span2" value="" 
					data-slider-min="{{ searchfilter.height_slider_min }}" 
					data-slider-max="{{ searchfilter.height_slider_max }}" 
					data-slider-step="5" 
					data-slider-value="[{{ searchfilter.height_slider_min }},{{ searchfilter.height_slider_max }}]"/> 
				<span id="filter-height-slider-max" style="margin-left:20px;">{{ searchfilter.height_slider_max }}</span>
				{% endcomment %}
				
				<b>width</b>
				
				<input type="text" name="filter-width-min" id="filter-width" class="searchfilter-control slider" data-min="{{ searchfilter.width_slider_min }}" data-max="{{ searchfilter.width_slider_max }}" data-from="{{ searchfilter.width_slider_min }}" data-to="{{ searchfilter.width_slider_max }}" data-type="double" data-prefix="" value="" />
				
				{% comment %}
				<span id="filter-width-slider-min" style="margin-right:20px;">{{ searchfilter.width_slider_min }}</span>
				<input id="filter-width-slider" type="text" class="span2" value="" 
					data-slider-min="{{ searchfilter.width_slider_min }}" 
					data-slider-max="{{ searchfilter.width_slider_max }}" 
					data-slider-step="5" 
					data-slider-value="[{{ searchfilter.width_slider_min }},{{ searchfilter.width_slider_max }}]"/> 
				<span id="filter-width-slider-max" style="margin-left:20px;">{{ searchfilter.width_slider_max }}</span>
				{% endcomment %}
	
				<b>depth</b>
				<input type="text" name="filter-depth-min" id="filter-depth" class="searchfilter-control slider" data-min="{{ searchfilter.depth_slider_min }}" data-max="{{ searchfilter.depth_slider_max }}" data-from="{{ searchfilter.depth_slider_min }}" data-to="{{ searchfilter.depth_slider_max }}" data-type="double" data-prefix="" value="" />
				
				{% comment %}
				<span id="filter-depth-slider-min" style="margin-right:20px;">{{ searchfilter.depth_slider_min }}</span>
				<input id="filter-depth-slider" type="text" class="span2" value="" 
					data-slider-min="{{ searchfilter.depth_slider_min }}" 
					data-slider-max="{{ searchfilter.depth_slider_max }}" 
					data-slider-step="5" 
					data-slider-value="[{{ searchfilter.depth_slider_min }},{{ searchfilter.depth_slider_max }}]"/> 
				<span id="filter-depth-slider-max" style="margin-left:20px;">{{ searchfilter.depth_slider_max }}</span>
				{% endcomment %}
			      </div>
			</div>
			
			
			{% if searchfilter.neighborhoods %}
			<div id="filter-container-neighborhood" class="filter-group">
				<header><a data-toggle="collapse" href="#collapseNeighborhood" aria-expanded="true" aria-controls="collapseNeighborhood" class="collapsed">Neighborhood <i class="fa"></i></a><a href="#" class="reset hidden"><span>Reset</span></a></header>
				<div id="collapseNeighborhood" class="collapse fold" role="tabpanel" aria-labelledby="headingNeighborhood">
				<ul>
					{% for neighborhood_id, neighborhood_name in searchfilter.neighborhoods %}
					<li>
					<div class="c-checkbox">
					  <input class="searchfilter-control checkbox" type="checkbox" name="filter-neighborhood" id="filter-neighborhood-{{neighborhood_id}}" value="{{ neighborhood_id }}" />
						<label for="filter-neighborhood-{{ neighborhood_id }}" class="checkbox-pseudocheckbox"></label>
						<label for="filter-neighborhood-{{ neighborhood_id }}" class="checkbox-label">{{ neighborhood_name }}</label>
                    </div>

					</li>
					{% endfor %}
				</ul>
			      </div>
			</div>
			{% endif %}
	
	    </div><!-- end searchfilters -->
	  </div>
	</form>
    {% endif %} 
    <div class="pic-tabs main">        
            <div class="col-sm-12">
	      
        <div class="container-fluid main">        
        <div class="row-fluid">
                <div class="tab-content">
                    <div class="tab-pane fade in active">
                        <div class="grid-products-wrapper">
                            <div id="ajax-product-container" class="row">
				    {% include 'goods/main/main_ajax_page.html' %}
                            </div>
                        </div>
                    </div><!-- end tab1 -->
                </div>
            </div>
    </div>
    <!--
    <div class="row" style="margin: 0px">
        <div class="col-md-6 col-md-offset-3" style="text-align:center">
            <nav>
              <ul class="pagination">
                {% if page_obj.has_previous %}
                <li>
                  <a href="?{% url_replace request 'page' page_obj.previous_page_number %}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                  </a>
                </li>
                {% endif %}
                {% if page_obj.has_other_pages %}
                    {% for page in page_obj.paginator.page_range %}
                        {% if page_obj.number == page %}
                            <li><a id="current-page" href="?{% url_replace request 'page' page %}">{{ page }}</a></li>
                        {% else %}
                        <li><a href="?{% url_replace request 'page' page %}">{{ page }}</a></li>
                        {% endif %}
                    {% endfor %}
                {% endif %}
                {% if page_obj.has_next %}
                <li>
                  <a href="?{% url_replace request 'page' page_obj.next_page_number %}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                  </a>
                </li>
                {% endif %}
              </ul>
            </nav>
        </div>
    </div>--><!-- end pagination div -->
    
{% endblock content %}
{% block endjs %}

{{ block.super }}

<link rel="stylesheet" href="{% static 'css/bootstrap-slider.min.css' %}">
<script src="{% static 'js/vendor/bootstrap-slider.min.js' %}"></script>
<script src="{% static 'js/vendor/ion.rangeSlider.min.js' %}"></script>
<script>
   	//var slider = new Slider('#filter-price-slider', {});
   	//var slider = new Slider('#filter-height-slider', {});
	//var slider = new Slider('#filter-width-slider', {});
	//var slider = new Slider('#filter-depth-slider', {});

function colourNameToHex(colour)
{
    var colours = {"aliceblue":"#f0f8ff","antiquewhite":"#faebd7","aqua":"#00ffff","aquamarine":"#7fffd4","azure":"#f0ffff",
    "beige":"#f5f5dc","bisque":"#ffe4c4","black":"#000000","blanchedalmond":"#ffebcd","blue":"#0000ff","blueviolet":"#8a2be2","brown":"#a52a2a","burlywood":"#deb887",
    "cadetblue":"#5f9ea0","chartreuse":"#7fff00","chocolate":"#d2691e","coral":"#ff7f50","cornflowerblue":"#6495ed","cornsilk":"#fff8dc","crimson":"#dc143c","cyan":"#00ffff",
    "darkblue":"#00008b","darkcyan":"#008b8b","darkgoldenrod":"#b8860b","darkgray":"#a9a9a9","darkgreen":"#006400","darkkhaki":"#bdb76b","darkmagenta":"#8b008b","darkolivegreen":"#556b2f",
    "darkorange":"#ff8c00","darkorchid":"#9932cc","darkred":"#8b0000","darksalmon":"#e9967a","darkseagreen":"#8fbc8f","darkslateblue":"#483d8b","darkslategray":"#2f4f4f","darkturquoise":"#00ced1",
    "darkviolet":"#9400d3","deeppink":"#ff1493","deepskyblue":"#00bfff","dimgray":"#696969","dodgerblue":"#1e90ff",
    "firebrick":"#b22222","floralwhite":"#fffaf0","forestgreen":"#228b22","fuchsia":"#ff00ff",
    "gainsboro":"#dcdcdc","ghostwhite":"#f8f8ff","gold":"#ffd700","goldenrod":"#daa520","gray":"#808080","green":"#008000","greenyellow":"#adff2f",
    "honeydew":"#f0fff0","hotpink":"#ff69b4",
    "indianred ":"#cd5c5c","indigo":"#4b0082","ivory":"#fffff0","khaki":"#f0e68c",
    "lavender":"#e6e6fa","lavenderblush":"#fff0f5","lawngreen":"#7cfc00","lemonchiffon":"#fffacd","lightblue":"#add8e6","lightcoral":"#f08080","lightcyan":"#e0ffff","lightgoldenrodyellow":"#fafad2",
    "lightgrey":"#d3d3d3","lightgreen":"#90ee90","lightpink":"#ffb6c1","lightsalmon":"#ffa07a","lightseagreen":"#20b2aa","lightskyblue":"#87cefa","lightslategray":"#778899","lightsteelblue":"#b0c4de",
    "lightyellow":"#ffffe0","lime":"#00ff00","limegreen":"#32cd32","linen":"#faf0e6",
    "magenta":"#ff00ff","maroon":"#800000","mediumaquamarine":"#66cdaa","mediumblue":"#0000cd","mediumorchid":"#ba55d3","mediumpurple":"#9370d8","mediumseagreen":"#3cb371","mediumslateblue":"#7b68ee",
    "mediumspringgreen":"#00fa9a","mediumturquoise":"#48d1cc","mediumvioletred":"#c71585","midnightblue":"#191970","mintcream":"#f5fffa","mistyrose":"#ffe4e1","moccasin":"#ffe4b5",
    "navajowhite":"#ffdead","navy":"#000080",
    "oldlace":"#fdf5e6","olive":"#808000","olivedrab":"#6b8e23","orange":"#ffa500","orangered":"#ff4500","orchid":"#da70d6",
    "palegoldenrod":"#eee8aa","palegreen":"#98fb98","paleturquoise":"#afeeee","palevioletred":"#d87093","papayawhip":"#ffefd5","peachpuff":"#ffdab9","peru":"#cd853f","pink":"#ffc0cb","plum":"#dda0dd","powderblue":"#b0e0e6","purple":"#800080",
    "red":"#ff0000","rosybrown":"#bc8f8f","royalblue":"#4169e1",
    "saddlebrown":"#8b4513","salmon":"#fa8072","sandybrown":"#f4a460","seagreen":"#2e8b57","seashell":"#fff5ee","sienna":"#a0522d","silver":"#c0c0c0","skyblue":"#87ceeb","slateblue":"#6a5acd","slategray":"#708090","snow":"#fffafa","springgreen":"#00ff7f","steelblue":"#4682b4",
    "tan":"#d2b48c","teal":"#008080","thistle":"#d8bfd8","tomato":"#ff6347","turquoise":"#40e0d0",
    "violet":"#ee82ee",
    "wheat":"#f5deb3","white":"#ffffff","whitesmoke":"#f5f5f5",
    "yellow":"#ffff00","yellowgreen":"#9acd32"};

    if (typeof colours[colour.toLowerCase()] != 'undefined')
        return colours[colour.toLowerCase()];

    return false;
}

	$(document).ready(function() {        
  		
  		var searchFilterTimer;
		$(".searchfilter-control" ).change(function(e) {
			console.log("searchfilter-control changed: "+e.target.id);
			
			// wait for other changes before we search
			// if user is clicking on filter we don't
			// want to make a request instantly after every click
			// clear any previous timer and start a new one
			if(searchFilterTimer && typeof searchFilterTimer != 'undefined'){ 
				clearTimeout(searchFilterTimer);
				console.log('timer is cleared');
			}
			
			searchFilterTimer = setTimeout(function() {
				// make ajax request to update the products
				console.log("ajax request: "+{% url "goods:searchfilter" %});
					
				$.ajax({
					type: "GET",
					url: "{% url "goods:searchfilter" %}",
					dataType: "html",
					data: $("#searchfilter-form").serialize(),
					success: function(response, status){
						console.log('status from searchfilter call: '+status);
						$("#ajax-product-container").html(response);
					},
				});					
			}, 2000);
			
			console.log('timer is set: ');
			console.log(searchFilterTimer);
		});

		$('.slider').ionRangeSlider();

		$('#filter-container-color').find('.checkbox-label').each(function() {
		    color_hex = colourNameToHex($(this).text());
		    console.log(color_hex);
		    console.log($(this).closest('.checkbox-pseudocheckbox'));
		    $(this).closest('.color-checkbox').find('.checkbox-pseudocheckbox').css('background-color', color_hex);

		    });

		$('.category .reset').click(function() {
		    $(this).parent().parent().find('input[type="checkbox"]').attr('checked', false);
		    $(this).parent().parent().find('.slider').each(function() {
		      $(this).data("ionRangeSlider").reset();
		      });

		    $(this).closest('.filter-group').find('header .reset').addClass('hidden');

		  });

		$('.filter-group input').change(function() {
		    if ($(this).closest('.filter-group').find('input:checked').length) {
		    $(this).closest('.filter-group').find('header .reset').removeClass('hidden');
		    /*$(this).parent('.filter-group').css( "background", "yellow" );*/
		    /*$(this).parent('.filter-group').hide();*/
		    }
		    else if ($(this).closest('.filter-group').find('input[type="text"]').val() != "") {
		    $(this).closest('.filter-group').find('header .reset').removeClass('hidden');

		    } else {
		    ($(this).closest('.filter-group').find('input:checked').length);
		    }

		    });
	});
</script>
<script src="{{ STATIC_URL }}endless_pagination/js/endless-pagination.js"></script>
<script>
        $.endlessPaginate({
            paginateOnScroll: true,
            paginateOnScrollMargin: 200
        });
</script>

{% endblock endjs %}

