
<div class="row">
<div class="col-sm-12">
    <div class="product-description">
       <div class="product-slider">
            <ul class="slides">
                <li>
                    <figure>
                        <img src="{{ MEDIA_URL }}{{ product.productimage_set.first.image }}" alt=""/>
                    </figure>
                </li>
            </ul>
        </div>
       <div class="name">{{ product.short_name }}</div>
       <div class="description">{{ 'Living Room' }}</div>
       <div class="info-block">
           <h4>MADE OF</h4>
           <div class="info">
               {{ 'Leather' }}
           </div>
       </div>
       <div class="info-block">
           <h4>DIMENSIONS</h4>
           <div class="info">
               {{ '26.4W X 24.8D X 28H' }}
           </div>
       </div>
       <div class="info-block">
           <h4>COLOR</h4>
           <div class="info">
               {{ product.color }}
           </div>
       </div>
        <div class="price-wrapper">
            <div class="price">
                ${{ product.current_price }}
            </div>
        </div>                   
    </div>
</div>
</div>