<div class="col-sm-9">
    <div class="feedback">
        <h3>Feedback</h3>
        <ul>
            <li class="comment">
                <div class="likes-wrapper">
                    <div class="like"></div>
                </div>
                <figure>
                    <a href="#">
                        <img src="content/face1.jpg" alt=""/>
                    </a>
                </figure>
                <div class="user">
                    <a href="#">Jean Willes</a>
                    says:
                </div>
                <div class="content">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean suscpit metus quis leo cod sit amet viverra turpis tincidunt.
                </div>
                <div class="date">September 20th, 2013</div>
            </li>
            <li class="comment">
                <div class="likes-wrapper">
                    <div class="like"></div>
                </div>
                <figure>
                    <a href="#">
                        <img src="content/face2.jpg" alt=""/>
                    </a>
                </figure>
                <div class="user">
                    <a href="#">Madeleine Sherwood</a>
                    says:
                </div>
                <div class="content">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sed nunc sit
                    amet nunc auctor viverra non quis libero. Vestibulum non ligulari. Nunc quis nisi dapibus,
                    facilisis purus varius, placerat eros. Nulla sit amet convallis libero. Integer posuere egestas
                    aliquam. Donec justo felis, scelerisque sed pulvinar vitae, posuere elementum lacus.
                    Nullam sodales tincidunt diam vitae tincidunt. Cras ut tortor nullaonec mauris
                </div>
                <div class="date">September 20th, 2013</div>
            </li>
            <li class="comment">
                <div class="likes-wrapper">
                    <div class="dislike"></div>
                </div>
                <figure>
                    <a href="#">
                        <img src="content/face3.jpg" alt=""/>
                    </a>
                </figure>
                <div class="user">
                    <a href="#">Ronnie Spector</a>
                    says:
                </div>
                <div class="content">
                    Vestibulum non ligulari. Nunc quis nisi dapibus, facilisis purus variu,
                    placerat eros. Nulla sit amet convallis liberonteger posuere egestas
                </div>
                <div class="date">September 20th, 2013</div>
            </li>
            <li class="comment">
                <div class="likes-wrapper">
                    <div class="like"></div>
                </div>
                <figure>
                    <a href="#">
                        <img src="content/face4.jpg" alt=""/>
                    </a>
                </figure>
                <div class="user">
                    <a href="#">Stella Stevens</a>
                    says:
                </div>
                <div class="content">
                    Nam in varius ligula, id elementum dolor. Nullam tempor est est,
                    sit amet tristique justo lacinia sed. Mauris faucibus, magna et
                    aliquam convallis, nibh lectus convallis felis, a feugiat massa nunc ut metus.
                    Morbi eleifend suscipit leo id iaculis.
                </div>
                <div class="date">September 20th, 2013</div>
            </li>
        </ul>
    </div>
</div>
<aside class="col-sm-3">
    <div class="widget leave-feedback">
        <h3>Leave feedback</h3>
        <form role="form">
            <textarea name="feedback" class="form-control"></textarea>
            <input id="likes" type="hidden" name="likes" />
            <a href="#" class="like"></a>
            <a href="#" class="dislike"></a>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>
    <div class="widget small-text">
        apply for designer’s
        Professional Review
    </div>
    <div class="widget big-text">
        Get
        furniture
        that your
        wife will
        enjoy
    </div>
</aside>    