<section class="main-container comment-block blueback">
    <div class="container">
    <div class="row">
        <div class="col-sm-12 product-presentation-col">
            {% if comments %}<div class="feedback">
                <div class="row">
                    <div class="col-sm-12">
                        <ul>
                            <li class="comment">
                                {% for comment in comments %}
                                <div class="user">
                                    <b>{{ comment.authuser }}</b> {{ ' said' }}
                                    {% if comment.days_since_add %}
                                        {{ comment.days_since_add }} days ago:
                                    {% else %}
                                        today:
                                    {% endif %}
                                </div>
                                <div class="content">
                                    {{ comment.message }}
                                </div>
                                {% endfor %}
                            </li>
                        </ul>
                    </div>    
                </div>
            </div>{% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 product-presentation-col">
            <div class="widget leave-feedback">
                <form action="{% url 'goods:detail' product.id %}" method="post">
                    {% csrf_token %}
                    {{ form }}<br>
                    <div class="col-sm-12">
                    <button type="submit" class="btn btn-default">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    </div>
</section>