<section class="main-container">
    <div class="container product-detail">
        <div class="col-sm-6 product-presentation-col">
            <div class="product-presentation-tabs">
                <h4>A Quaint Chair...</h4>
                <div class="tab-content">
                    <div class="tab-pane active text-editor" id="product-info">
                        <p>
                            Mauris aliquam a ipsum id lacinia. Suspendisse neque ipsum, condimentum id lacinia non, luctus in dui. Praesent eu aliquam massa. Mauris blandit euismod lorem a suscipit. Phasellus a mauris diam. In posuere ipsum at tellus luctus pretium. 
                        </p>
                        <ul>
                            <li>Vestibulum ante ipsum primis in faucibus</li>
                            <li>Nunc a feugiat neque, porta adipiscing urna</li>
                            <li>Integer ut congue nunc, quis imperdiet risus</li>
                            <li>Etiam magna neque, rhoncus ac purus et</li>
                            <li>Cum sociis natoque penatibus et magnis dis</li>
                            <li>Aliquam dignissim felis leo, quis condimentum</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 product-presentation-col">
            <h4>Shoutouts</h4>
                <div class="feedback">
                    <div class="row">
                        <div class="col-sm-12">
                            <ul>
                                <li class="comment">
                                    <div class="user">
                                        <a href="#">Jean Willes</a>
                                        says 2 days ago:
                                    </div>
                                    <div class="content">
                                        Thats kinda cool - if only they had it in blueeeee...
                                    </div>
                                </li>
                            </ul>
                        </div>    
                    </div>
                </div>
                <div class="widget leave-feedback">
                    <form role="form">
                        <textarea name="feedback" class="form-control"></textarea>
                        <input id="likes" type="hidden" name="likes" />
                        <a href="#" class="like"></a>
                        <a href="#" class="dislike"></a>
                        <button type="submit" class="btn btn-default">Submit</button>
                    </form>
                </div>
        </div>
    </div>
</section>