{% load cloudinary %}
<div class="row">
<div class="col-sm-7 col-xs-12">
  <div class="row">
    <div class="col-xs-12">
      <div class="detail-image-large">
          {% cloudinary product.productimage_set.first.image width=550 height=550 crop="fit" %}
      </div>
      <div class="detail-image-med">
          {% cloudinary product.productimage_set.first.image width=400 height=400 crop="fit" %}
      </div>
      <div class="detail-image-small">
          {% cloudinary product.productimage_set.first.image width=275 height=350 crop="fit" %}
      </div>
    </div>
  </div>
</div>
<div class="col-sm-5 product-description">
  <div class="row">
    <div class="col-sm-12" style="width:90%">
       <div class="name">{{ product.short_name }}</div></br>
    </div>
  </div>
  <div class="row price-box">
    <div class="col-sm-12 price-wrapper">
        <div class="price">
            {% if product.is_sold %}{{ 'Sold'}}
            {% else %} ${{ product.current_price }}
            {% endif %}
        </div>
    </div>
  </div>
  <div class="row">
       <div class="info-block first">
           <h4>{% for subcategory in product.subcategory.all %}{{ subcategory }}{% endfor %} {% if product.segment.all %}({% for segment in product.segment.all %}{{ segment }}){% endfor %}{% endif %}</h4>
       </div>  
        <div class="info-block">
           <h4>AVAIlABLE @ <br><a href="{% url 'goods:storeprofile' product.store.id %}">{{ product.store.retailer }}</a></h4>
           <h5 class="get-in-store"> (<a href="{% url 'goods:popinmap' product.id %}">Get In-Store</a>)</h5>
       </div>  
       <div class="info-block">
           <h4>MADE OF</h4>
           <div class="info">
               {% for material in product.material.all %}<p>{{ material }}</p>{% endfor %}
           </div>
       </div>
       {% if product.dimensions %}
       <div class="info-block">
           <h4>DIMENSIONS</h4>
           <div class="info">
               
           </div>
       </div>
       {% else %}{% endif %}
       <div class="info-block">
           <h4>COLOR</h4>
           <div class="info">
               {{ product.color }}
           </div>
       </div>
    </div>
  </div><!--end row -->
</div>                   
</div>
</div>