<div class="row">
<div class="col-sm-7">
   <div class="product-slider">
        <figure style="width: 100%">
            <img style="width: 100%" src="{{ MEDIA_URL }}{{ product.productimage_set.first.image }}" alt=""/>
        </figure>
    </div>
</div>

<div class="col-sm-5 product-description">
   <div class="row">
    <div class="col-sm-12">
       <div class="name">{{ product.short_name }}</div></br>
       <div class=" info-block story">
        <p>
          Mauris aliquam a ipsum id lacinia. Suspendisse neque ipsum, condimentum id lacinia non, luctus in dui. Praesent eu aliquam massa. Mauris blandit euismod lorem a suscipit. Phasellus a mauris diam. In posuere ipsum at tellus luctus pretium. 
        </p>
        </div>
       <div class="info-block">
           <h4>{{ 'LoveSeat' }}/{{ 'New' }}</h4>
       </div>  
        <div class="info-block">
           <h4>AVAIlABLE @ <a href="#">{{ product.store.retailer }}</a></h4>
           <h5 class="get-in-store"> <a href="{% url 'goods:popinmap' product.store.id %}">Get In-Store</a></h5>
       </div>  
       <div class="info-block">
           <h4>MADE OF</h4>
           <div class="info">
               {{ 'Leather' }}
           </div>
       </div>
       <div class="info-block">
           <h4>DIMENSIONS</h4>
           <div class="info">
               {{ '26.4W X 24.8D X 28H' }}
           </div>
       </div>
       <div class="info-block">
           <h4>COLOR</h4>
           <div class="info">
               {{ product.color }}
           </div>
       </div>
    </div>
  </div><!--end row -->
  <div class="row">
    <div class="col-sm-12 price-wrapper">
        <div class="price">
            ${{ product.current_price }}
        </div>
    </div>
  </div>
</div>
                    
</div>
</div>