{% extends '_base.html' %}
{% load cloudinary %}

 {% block content %}
<section class="main-container">
        <div class="container detail-margin" id="first-content-after-nav">
            <div class="row">
				<div class="col-sm-7 col-xs-12">
				  <div class="row">
				    <div class="col-xs-12">
				      <div class="detail-image-large">
				          {% cloudinary product.productimage_set.first.image width=450 height=550 crop="fit" %}
				      </div>
				      <div class="detail-image-med">
				          {% cloudinary product.productimage_set.first.image width=400 height=400 crop="fit" %}
				      </div>
				      <div class="detail-image-small">
				          {% cloudinary product.productimage_set.first.image width=275 height=350 crop="fit" %}
				      </div>
				    </div>
				  </div>
				</div>
				<div class="col-sm-5 product-description">
				  <div class="row">
				    <div class="col-sm-12">
				       <div class="heading">{{ product.short_name }}</div></br>
				    </div>
				  </div>
				  <div class="row price-box">
				    <div class="col-sm-12 price-wrapper">
				        <div class="price sold">
				            {% if product.is_sold %}{{ 'Sold'}}
				            {% else %} ${{ product.current_price }}
				            {% endif %}
				        </div>
				    </div>
				  </div>
				  <div class="row">
				  	<div class="col-sm-12">
				  	{% if product.material.all %}
				       <div class="info-block">
				           <h4>Made of</h4>{% for material in product.material.all %}<p>{{ material }}</p>{% endfor %}
				       </div>
				    {% else %}{% endif %}
			        {% if product.has_dimensions %}	
				       <div class="info-block">
				           <h4>Dimensions</h4>
				           <div class="info">
				               {{ product.get_dimension_str }}
				           </div>
				       </div>
				    {% else %}{% endif %}
				    {% if product.seat_height %}
				       <div class="info-block">
				           <h4>Seat Height</h4>
				           <div class="info">
				               {{ product.seat_height }}
				           </div>
				       </div>
			       {% else %}{% endif %}
			       {% if product.diameter %}
				       <div class="info-block">
				           <h4>Diameter</h4>
				           <div class="info">
				               {{ product.diameter }}
				           </div>
				       </div>
			       {% else %}{% endif %}
			       {% if product.bed_size %}
				       <div class="info-block">
				           <h4>Bed Size</h4>
				           <div class="info">
				               {{ product.bed_size }}
				           </div>
				       </div>
			       {% else %}{% endif %}
			       {% if product.weight %}
				       <div class="info-block">
				           <h4>Bed Size</h4>
				           <div class="info">
				               {{ product.weight }}
				           </div>
				       </div>
				    {% else %}{% endif %}
				       <div class="info-block">
				           <h4>Color</h4>
				           <div class="info" style="text-transform: lowercase">
				           		{% for color in product.color.all %}{{ color }}{% endfor %}
				           </div>
				       </div>
				    </div>
				  </div><!--end row -->
				  <div class="row">
				  	<div>
				        <div class="col-xs-3 pic-detail-home">
				            
				            
				                {% if product.is_sold %}
				                    <span class="sold">{{ 'Sold' }}</span>
				                {% elif product.current_price %}
				                    <button type="button" class="btn btn-primary buy" id="buy_{{ product.id }}">
				                        ${{ product.current_price|floatformat:"0" }}
				                    </button>
				                {% else %}
				                    <button type="button" class="btn btn-primary buy" id="buy_{{ product.id }}">
				                    Request Price
				                    </button>
				                {% endif %}
				        </div>
				        <div class="col-xs-3 pull-right" style="margin-right:8%">
				            <button type="button" class="btn btn-default glyphs" id="heart_{{ product.id }}">
				                <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
				            </button>
				        </div>
    				</div>
				  </div>
				</div>                   
				</div>
				</div>
        </div>
    </section>
 {% endblock content %}