{% load cloudinary %}
<div class="col-xs-12 col-sm-6 col-m-4" style="margin-bottom: 2rem">
    <div class="grid-product centered-parent">
        <div class="centered-child detail-image-large">
                {% cloudinary piece.productimage_set.first.image width=350 height=300 crop="fit" %}
        </div>
        <div class="centered-child detail-image-med">
                {% cloudinary piece.productimage_set.first.image width=300 height=300 crop="fit" %}
        </div>
        <div class="centered-child detail-image-small">
                {% cloudinary piece.productimage_set.first.image width=275 height=275 crop="fit" %}
        </div>
        <a href="{{ piece.id }}" class="view-product">
            <div class="text"><h5>{{ piece.short_name }}</h5></div>
            <div class="text sold">from {{ piece.store.retailer.short_name|truncatechars:25 }}</div>
            <div class="text">Sold</div>
            <div class="background"></div>
        </a>
    </div>
</div> 