{% load cloudinary %}
<div class="col-xs-12 col-sm-6 col-m-4" style="margin-bottom: 0.5rem">
    <div class="grid-product homepg centered-parent">
        <div class="centered-child detail-image-large">
                {% cloudinary product.productimage_set.first.image width=350 height=300 crop="fit" %}
        </div>
        <div class="centered-child detail-image-med">
                {% cloudinary product.productimage_set.first.image width=300 height=300 crop="fit" %}
        </div>
        <div class="centered-child detail-image-small">
                {% cloudinary product.productimage_set.first.image width=275 height=275 crop="fit" %}
        </div>
        <a href="{% url 'goods:detail' product.id %}" class="view-product">
            <div class="text">View product</div>
            <div class="background"></div>
        </a>
    </div>
    {% include 'goods/productlabel.html' %}
</div> 