{% load staticfiles %}
{% load cloudinary %}
<section class="hp-tabs">
<div class="container-fluid tab-icons">
    <div class="row">
        <div class="col-sm-2">
            <div class="text">
                What are you looking for? <br/>
            </div>
        </div>
        <div class="col-sm-9">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#tab1" data-toggle="tab"><span class="inner"><img src="{% static 'img/Room-icons/couch.png' %}" title="livingroom" alt=""/></span></a></li>
                <li><a href="#tab2" data-toggle="tab"><span class="inner"><img src="{% static 'img/Room-icons/table2.svg' %}" title="dining room"alt=""/></span></a></li>
                <li><a href="#tab3" data-toggle="tab"><span class="inner"><img src="{% static 'img/Room-icons/bed.png' %}" title="bedroom" alt=""/></span></a></li>
                <li><a href="#tab4" data-toggle="tab"><span class="inner"><img src="{% static 'img/Room-icons/lamp.svg' %}" title="office" alt=""/></span></a></li>
                <li><a href="#tab5" data-toggle="tab"><span class="inner"><img src="{% static 'img/Room-icons/other.svg' %}" title="lighting" alt=""/></span></a></li>
                <li><a href="#tab6" data-toggle="tab"><span class="inner"><img src="{% static 'img/Room-icons/tab-img06.png' %}" title="other decor" alt=""/></span></a></li>
                <li><a href="#tab7" data-toggle="tab"><span class="inner"><img src="{% static 'img/Room-icons/tab-img06.png' %}" title="other decor" alt=""/></span></a></li>
            </ul>
        </div>
    </div>
</div>
<div class="container pic-tabs">        
    <div class="row">
        <div class="col-sm-12">
            <div class="tab-content">
                <div class="tab-pane fade in active" id="tab1">
                    <div class="grid-products-wrapper">
                        <div class="row">
                            {% for piece in living %}
                                {% include 'goods/home/_home_for_loop.html' %}
                            {% endfor %}
                        </div>
                    </div>
                </div><!-- end tab1 -->
                <div class="tab-pane fade in active" id="tab2">
                    <div class="grid-products-wrapper">
                        <div class="row">
                            {% for piece in dining %}
                                {% include 'goods/home/_home_for_loop.html' %}
                            {% endfor %}
                        </div>
                    </div>
                </div><!-- end tab2 -->
                <div class="tab-pane fade in active" id="tab3">
                    <div class="grid-products-wrapper">
                        <div class="row">
                            {% for piece in bedroom %}
                                {% include 'goods/home/_home_for_loop.html' %}
                            {% endfor %}
                        </div>
                    </div>
                </div><!-- end tab3 -->
                 <div class="tab-pane fade in active" id="tab4">
                    <div class="grid-products-wrapper">
                        <div class="row">
                            {% for piece in office %}
                                {% include 'goods/home/_home_for_loop.html' %}
                            {% endfor %}
                        </div>
                    </div>
                </div><!-- end tab4 -->
                 <div class="tab-pane fade in active" id="tab5">
                    <div class="grid-products-wrapper">
                        <div class="row">
                            {% for piece in lighting %}
                                {% include 'goods/home/_home_for_loop.html' %}
                            {% endfor %}
                        </div>
                    </div>
                </div><!-- end tab5 -->
                 <div class="tab-pane fade in active" id="tab6">
                    <div class="grid-products-wrapper">
                        <div class="row">
                            {% for piece in decor %}
                                {% include 'goods/home/_home_for_loop.html' %}
                            {% endfor %}
                        </div>
                    </div>
                </div><!-- end tab6 -->
                <div class="tab-pane fade in active" id="tab7">
                    <div class="grid-products-wrapper">
                        <div class="row">
                            {% for piece in other %}
                                {% include 'goods/home/_home_for_loop.html' %}
                            {% endfor %}
                        </div>
                    </div>
                </div><!-- end tab7 -->
            </div>
        </div>
    </div>
    </div>
</section>