{% extends 'goods/home/_home_base.html' %}
{% load staticfiles %}
{% load cloudinary %}

{% block content %}
      <div class="container homepage-slider-container">
        <div class="row-fluid">
            <div class="col-sm-12" style="padding-left:0px; padding-right:0px; background-image: url('http://res.cloudinary.com/trouvaay/image/upload/v1422166458/hand_seat_t7r0xt.jpg'); height:30em;">
            <!-- http://res.cloudinary.com/trouvaay/image/upload/v1422166458/hand_seat_t7r0xt.jpg -->
                    <div class="black_overlay">
                    </div><!-- end overlay -->
            <div class="landing-message">
                <h1>
                Discover cool furniture in Bay Area stores
                </h1>
                <h3><span class="subheading">The convenience of online shopping without the regret</span></h3>
            </div>
            </div>
        </div>
      </div>
      <div class="container-fluid how-it-works layer">
        <div class="row-fluid">
            <div class="col-md-6 statement">
                <h3>5-Day Discovery Period </h3>
                <h5>Go see your item in-store. Change of heart? Cancel the order — no cost, no questions asked.</h5>
            </div>
            <div class="col-md-6 statement">
                <h3>White Glove Delivery</h3>
                <h5>Ever find a great piece of furniture but discover that shipping cost more than the item itself? Pay no more than $75 for delivery</h5>
            </div>
            <div class="col-md-6 statement mobile-details">
                <a class="btn btn-link" href="#" data-toggle="modal" data-target="#how-it-works-modal"><h3>Details</h3></a>
            </div>
        </div>
      </div>
    {{ block.super }}
    

{% endblock content %}
{% block endjs %}{% endblock endjs %}

