{% extends '_base.html' %}
{% load staticfiles %}
{% load cloudinary %}

{% block content %}
  <div class="container homepage-slider-container">
    <div class="row-fluid">
        <div class="col-sm-12" style="padding-left:0px; padding-right:0px; background-image: url('http://res.cloudinary.com/trouvaay/image/upload/v1422166458/hand_seat_t7r0xt.jpg'); height:45rem;">
        <!-- http://res.cloudinary.com/trouvaay/image/upload/v1422166458/hand_seat_t7r0xt.jpg -->
                <div class="black_overlay">
                </div><!-- end overlay -->
		<div class="landing-message">
		    <h1>
			Discover cool furniture in Bay Area stores
		    </h1>
            <h3>The convenience of online shopping without the regret.</h3>
		</div>
        </div>
    </div>
  </div>
  <div class="container-fluid how-it-works layer">
    <div class="row-fluid">
    	<div class="col-md-6 statement">
    		<h2>5-Day Discovery Period </h2>
            <h4>Go see your item in-store.</br>Change of heart? Cancel the order — no cost, no questions asked.</h4>
    	</div>
    	<div class="col-md-6 statement">
    		<h2>White Glove Delivery</h2>
    		<h4>Ever find a great piece of furniture but discover that shipping cost more than the item itself? Pay no more than $75 for delivery</h4>
    	</div>
    </div>
  </div>
    <div class="container-fluid select-bar hp-tabs" style="box-shadow: 0 6px 4px -4px #333;">
        <div class="row-fluid">
            <div class="col-xs-12 col-sm-3 col-md-3 logo-div main-navigation hidden-xs">
    	     <a href="{% url 'goods:home' %}"> <img class="logo" src="{% static 'img/logos/Raredoor-logo-gold.png' %}"></a>
            </div>
    		<div class="col-xs-12 col-sm-6 col-md-6">
    			<div class="row-fluid">
    				<div class="tab-icons">
    					<div class="row-fluid">
    						<div class="col-sm-12 col-md-12">
    						<ul class="nav nav-tabs center-block">
    							<li class="hidden-lg hidden-md hidden-sm" style="padding-top: 20px;">filter</li>
    							<li class="active first"><a href="#tab1" data-toggle="tab"><span class="inner" style="display:list-item"><img src="{% static 'img/roomiconsnew/house128.png' %}" title="house" alt=""/></span><span class="inner icon-label" style="display:list-item">everything</span></a></li>
    							<li><a href="#tab2" data-toggle="tab"><span class="inner" style="display:list-item"><img src="{% static 'img/roomiconsnew/seating128.png' %}" title="seating" alt=""/></span><span class="inner icon-label" style="display:list-item">seating</span></a></li>
    							<li><a href="#tab3" data-toggle="tab"><span class="inner" style="display:list-item"><img src="{% static 'img/roomiconsnew/table128.png' %}" title="table" alt=""/></span><span class="inner icon-label" style="display:list-item">tables/desks</span></a></li>
    							<li><a href="#tab4" data-toggle="tab"><span class="inner" style="display:list-item"><img src="{% static 'img/roomiconsnew/bed128.png' %}" title="bed" alt=""/></span><span class="inner icon-label" style="display:list-item">beds</span></a></li>
    							<li><a href="#tab5" data-toggle="tab"><span class="inner" style="display:list-item"><img src="{% static 'img/roomiconsnew/storage128.png' %}" title="storage" alt=""/></span><span class="inner icon-label" style="display:list-item">storage</span></a></li>
    							<li><a href="#tab6" data-toggle="tab"><span class="inner" style="display:list-item"><img src="{% static 'img/roomiconsnew/lighting128.png' %}" title="lighting" alt=""/></span><span class="inner icon-label" style="display:list-item">lighting</span></a></li>
    						</ul>
    						</div>
    					</div>
    				</div>
    			</div>
    		</div>
    	<div class="col-xs-3 hidden-xs col-md-3">
    		<ul class="nav navbar-navt">
    		<li><a class="btn btn-link" href="#" data-toggle="modal" data-target="#how-it-works-modal">How it works</a></li>
    		{% if user.is_authenticated %}
    		<li><a class="btn btn-link" href="#">Profile</a></li>
    		<li><a class="btn btn-link" href="{% url 'members:logout' %}">Logout</a></li>
    		{% else %}
    		<li><a class="btn btn-link" href="{% url 'members:logout' %}">Login</a></li>
    		{% endif %}
    		</ul>
    	</div>
    </div>
    <div class="tab-icons mobile">
        <div class="row-fluid">
            <div class="col-sm-11 col-md-10">
            <ul class="nav nav-tabs pull-left">
                <li class="active"><a href="#tab1" data-toggle="tab"><span class="inner" style="display:list-item"><img src="{% static 'img/roomiconsnew/house128.png' %}" title="house" alt=""/></span><span class="inner icon-label" style="display:list-item">everything</span></a></li>
                <li><a href="#tab2" data-toggle="tab"><span class="inner" style="display:list-item"><img src="{% static 'img/roomiconsnew/seating128.png' %}" title="seating" alt=""/></span><span class="inner icon-label" style="display:list-item">seating</span></a></li>
                <li><a href="#tab3" data-toggle="tab"><span class="inner" style="display:list-item"><img src="{% static 'img/roomiconsnew/table128.png' %}" title="table" alt=""/></span><span class="inner icon-label" style="display:list-item">tables/desks</span></a></li>
                <li><a href="#tab4" data-toggle="tab"><span class="inner" style="display:list-item"><img src="{% static 'img/roomiconsnew/bed128.png' %}" title="bed" alt=""/></span><span class="inner icon-label" style="display:list-item">beds</span></a></li>
                <li><a href="#tab5" data-toggle="tab"><span class="inner" style="display:list-item"><img src="{% static 'img/roomiconsnew/storage128.png' %}" title="storage" alt=""/></span><span class="inner icon-label" style="display:list-item">storage</span></a></li>
                <li><a href="#tab6" data-toggle="tab"><span class="inner" style="display:list-item"><img src="{% static 'img/roomiconsnew/lighting128.png' %}" title="lighting" alt=""/></span><span class="inner icon-label" style="display:list-item">lighting</span></a></li>
            </ul>
            </div>
        </div>
    </div>
    </div>
	<div class="container pic-tabs">        
        <div class="row">
            <div class="col-sm-12">
                <div class="tab-content">
                    <div class="tab-pane fade in active" id="tab1">
                        <div class="grid-products-wrapper">
                            <div class="row">
                                {% for product in products %}
                                    {% include 'goods/_product_for_loop.html' %}
                                {% endfor %}
                            </div>
                        </div>
                    </div><!-- end tab1 -->
                    <div class="tab-pane fade" id="tab2">
                        <div class="grid-products-wrapper">
                            <div class="row">
                                {% for product in seating %}
                                    {% include 'goods/_product_for_loop.html' %}
                                {% endfor %}
                            </div>
                        </div>
                    </div><!-- end tab2 -->
                    <div class="tab-pane fade" id="tab3">
                        <div class="grid-products-wrapper">
                            <div class="row">
                                {% for product in tables %}
                                    {% include 'goods/_product_for_loop.html' %}
                                {% endfor %}
                            </div>
                        </div>
                    </div><!-- end tab3-->
                     <div class="tab-pane fade" id="tab4">
                        <div class="grid-products-wrapper">
                            <div class="row">
                                {% for product in beds %}
                                    {% include 'goods/_product_for_loop.html' %}
                                {% endfor %}
                            </div>
                        </div>
                    </div><!-- end tab4 -->
                     <div class="tab-pane fade" id="tab5">
                        <div class="grid-products-wrapper">
                            <div class="row">
                                {% for product in storage %}
                                    {% include 'goods/_product_for_loop.html' %}
                                {% endfor %}
                            </div>
                        </div>
                    </div><!-- end tab5 -->
                     <div class="tab-pane fade" id="tab6">
                        <div class="grid-products-wrapper">
                            <div class="row">
                                {% for product in lighting %}
                                    {% include 'goods/_product_for_loop.html' %}
                                {% endfor %}
                            </div>
                        </div>
                    </div><!-- end tab6 -->
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="margin: 0px">
            <div class="col-md-offset-5 col-xs-1">
                {% if page_obj.has_previous %}
                    <a href="?page={{ page_obj.previous_page_number }}">
                        prev
                    </a>
                {% else %}
                    <span>prev</span>
                {% endif %}
            </div>
            <div class="col-xs-1">
                    <span>{{ page_obj.number }}</span>
            </div>
            <div class="col-xs-1">
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">
                        next
                    </a>
                {% else %}
                    <span>next</span>
                {% endif %}
            </div>
    </div><!-- end pagination div -->
    <div class="modal fade" id="how-it-works-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
	<div class="container-fluid how-it-works layer">
    <div class="row-fluid">
    	<div class="col-md-12 statement">
    		<h2>5-Day Discovery Period </h2>
            <h4>While some items do have a return policy we what to give you the opportunity to experience the product before you pay for it.  Go touch, feel, and see your item in-store before it's delivered to your door.</br>If you change your mind cancel the order — no cost, no questions asked.</br>The convenience of online shopping without the regret.</h4>
    	</div>
    	<div class="col-md-12 statement">
    		<h2>White Glove Delivery</h2>
    		<h4>We know the disappointment that comes with finding a great piece of furniture and then realizing that shipping cost more than the item itself. Even worse, sometimes you have to coordinate the delivery on your own. We want to remove all that hassle. That’s why we have simple, 3 tier pricing for delivery: $25, $50, & $75 based on the size of the purchase.</h4>
            <h4>After you’ve placed your order, we’ll call you and coordinate a delivery time that is convenient for you.</h4>
    	</div>
    </div>
  </div>

      </div>
    </div>
  </div>
</div>

{% endblock content %}
{% block endjs %}{% endblock endjs %}

