{% extends '_base.html' %}
{% load staticfiles %}
{% load cloudinary %}
{% block beginjs %}
<script type="text/javascript" 
	src=https://maps.googleapis.com/maps/api/js?key=AIzaSyDZTlXL-J2h0DQO0CVDpXbtKOtn_TTCZTU&sensor=true>
</script>
{% endblock %}

{% block modal %}{% endblock %}

{% block content %}
  <div class="container homepage-slider-container">
    <div class="row">
        <div class="col-sm-12">
            <div class="homepage-slider">
                <ul class="slides">
                    <li style="background-image: url('static/img/picsamps/chairish.jpeg');">
                    </li>
                </ul>
            </div>
        </div>
    </div>
  </div>
  <div class="container-fluid homepage-quote">
    <div class="row">
        <div class="col-sm-12">
            <div class="heading main-quote">
              <div class="row">
              <div class="col-sm-12">
                More treasure less hunting
              </div>
              </div>
              <div class="row">
              <div class="col-sm-10 col-xs-offset-1">
                <h4>Find one of a kind home goods in stores near you. New or vintage, tell us what you’re looking for and we’ll do the hunting for you. New pieces posted daily. Check in before they’re gone.</h4>
                </div>
                </div> 
            </div>
        </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="grid-products-wrapper">
        <div class="row" style="margin:20px">
          <div class="col-m-12">
            <p>Some things wed thought you'd like...</p>
          </div>
        </div>
        <div class="row">
            {% for piece in pieces %}
                {% include 'goods/home/_home_for_loop.html' %}
            {% endfor %}
        </div>
    </div>
  </div>
{% endblock %}
{% block endjs %}
<script type="text/javascript"> 
	function  getpoints (userloc) {
    var products = {{ products_json|safe }};
    var userloc = {
     // 'lat': userloc.coords.latitude,
     // 'lng': userloc.coords.longitude,
     'lat': 37.798530,
    'lng': -122.417966,
    };
      
      var userpos = new google.maps.LatLng(userloc.lat, userloc.lng);
      initializemap(products, userloc);
      for (i in products) {
        add_dists(userpos,products[i],i);
      } 
    };

  function add_dists(userpos, prod, prodnum) {
    var productpos = new google.maps.LatLng(prod.fields.lat, prod.fields.lng);
    var request = {
          origin: userpos,
          destination: productpos,
          travelMode: google.maps.TravelMode.DRIVING
      };
    var directionsService = new google.maps.DirectionsService();
    directionsService.route(request, function(result, status) {
          if (status == google.maps.DirectionsStatus.OK) {
          }
          $(".dist").eq(prodnum).append('</br>('+result.routes[0].legs[0].distance.text+')');
        });
  };
	navigator.geolocation.getCurrentPosition(getpoints);
</script>
{% endblock %}