{% extends '_base.html' %}
{% load staticfiles %}
{% load cloudinary %}
{% load goods_extras %}
{% load endless %}

{% block content %}
<div class="container-fluid" id="index-banner" style="margin-top:50px">
	   <picture>
    <!--[if IE 9]><video style="display: none;"><![endif]-->
    <source srcset="https://res.cloudinary.com/trouvaay/image/upload/c_fill,w_1000,h_375/v1422902656/shutterstock_160709951_hsvzx9.jpg" media="(min-width: 992px)">
    <!--[if IE 9]></video><![endif]-->
    <img srcset='https://res.cloudinary.com/trouvaay/image/upload/c_fill,w_766,h_282/v1422902656/shutterstock_160709951_hsvzx9.jpg' alt="">
    <img srcset="{% static 'img/landing image_MAP_NO_PIN2.jpg' %}" alt="">
    </picture>
    <div class="row-fluid text-container">
        <div class="text "><div style="font-style: italic; text-transform: uppercase;'">Find one of a kind furniture available in </div><strong>Bay Area stores</strong></div>
    </div>

</div>

<div class="container" id="how-it-works">
	<div class="row">
		<div class="col-sm-4 info">
			<div class="browse">
				<header>Browse</header>
				<p>A curated selection of new and vintage furniture — all currently available in local stores — at <i>Raredoor.com.</i></p>
			</div>
		</div>
		<div class="col-sm-4 info">
			<div class="reserve">
				<header>Reserve</header>
				<p>Your perfect pieces online and take a few days to see the items in a store nearby.</p>
			</div>
		</div>
		<div class="col-sm-4 info">
			<div class="purchase">
				<header>Purchase</header>
				<p>Through us and receive great deals, as well as affordable delivery.</p>
			</div>
		</div>
	</div>
</div>
    <div class="container-fluid pic-tabs main" id="products">        
        <div class="row-fluid">
		<header class="col-md-12"></header>
            <div class="container" id="products-grid">
                <div class="tab-content">
                    <div class="tab-pane fade in active">
                        <div class="grid-products-wrapper">
                            <div class="row">
                    {% include 'goods/landingtest/landingtest_ajax_page.html' %}
                            </div>
                        </div>
                    </div><!-- end tab1 -->
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
{% block endjs %}
    {{ block.super }}
    {% include 'js/addlikeditems.html' %}
    <script src="{{ STATIC_URL }}endless_pagination/js/endless-pagination.js"></script>
    <script>
            $.endlessPaginate({
                paginateOnScroll: true,
                paginateOnScrollMargin: 200
            });
    </script>
    {% if show_referral_first_modal or show_referral_second_modal  %}
        <script type="text/javascript">
                $(document).ready(function () {
                
                    // ajax call to load referral
                    $.ajax({
                        type: "GET",
                        dataType: "html",
                        url: "{% if show_referral_first_modal %}{% url "members:referral_signup" %}{% else %}{% url "members:referral_info" %}{% endif %}",
                        success: function(response, status){
                            console.log('status ['+status+']');
                            if(status == 'success'){
                                $("#referral-modal-container").html(response);
                                $("#referral-signup-modal").modal({
                                    show: true,
                                    keyboard: true
                                });                 
                            }           
                        }
                    });
                    
                });
        </script>
    {% endif %}


    {% if promotion_offer and not request.user.is_authenticated %}
        <script type="text/javascript">
            $(document).ready(function () {
                $('#promotion-offer-modal').modal({"show": true});
            });
        </script>
    {% endif %}
{% endblock endjs %}

