<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" class="no-js">
	<head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Rare Door</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <link rel="icon" type="image/png" href="content/favicon.png">

        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/flexslider.css' %}">
        <link rel="stylesheet" href="{% static 'css/jquery.selectBoxIt.css' %}">
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
        <script src="{% static 'js/vendor/modernizr-2.6.2-respond-1.1.0.min.js' %}"></script>
    </head>
    <body>
        <div class="container-fluid top-bar">
            <div class="row">
                <div class="col-xs-6 logo-div"><h4><a id="logo" href="{% url 'goods:home' %}"> {{ 'Rare Door' }}</a></div></h4>
                <div class="col-xs-6 right-side">
                    <div class="row">
                        <div class="right-side" style="margin-right: 30px">
                            <a class="insta-icon" href="http://instagram.com/raredoor/" target="_blank">
                              <img src="{% static 'img/instagram-icon32.png' %}"/>
                            </a>
                            <a class="insta-icon" href="https://twitter.com/RareDoor/" target="_blank">
                              <img src="{% static 'img/twitter-icon.jpeg' %}" height="35px"/>
                            </a>
                            <div class="cart-info">
                                <span class="counter">1 item</span>
                            </div>
                            {% if user.is_authenticated %}
                                <a class="btn btn-link" href="#" data-toggle="modal" data-target="#login-modal">Logout</a>
                            {% else %}
                                <a class="btn btn-link" href="#" data-toggle="modal" data-target="#login-modal">Login</a>
                            {% endif %}
                        </div>
                    </div>
                    <div class="navbar-collapse collapse">
                          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        <div class="row">
                            <div class="col-sm-12 main-navigation">
                                <ul class="nav navbar-nav navbar-right">
                                    <li><a href="{% url 'goods:home' %}">Discover</a></li>
                                    <li>
                                        <a href="{% url 'goods:nearby' %}">Nearby</a>
                                        <!-- orginal dropdown <ul class="dropdown-menu" role="menu" aria-labelledby="navbarDrop1">
                                            <li><a href="#">Chairs</a></li>
                                            <li><a href="#">Bedroom Storage</a></li>
                                            <li><a href="#">Beds</a></li>
                                            <li>
                                                <a href="#">Decorations</a>
                                                <ul>
                                                    <li><a href="#">Outdoor</a></li>
                                                    <li>
                                                        <a href="#">Indoor</a>
                                                        <ul>
                                                            <li><a href="#">Bedroom Decorations</a></li>
                                                            <li><a href="#">Kitchen Decorations</a></li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li><a href="#">Outdoor Furniture</a></li>
                                        </ul>-->
                                    </li>
                                    <!--<li><a href="#">Loved it</a></li>-->
                                    <li><a href="#">About</a></li>
                                    <!--<li><a href="#">Blog</a></li>-->
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% block content %}
  
    {% endblock content %}
    <footer class="main-footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-2 col-sm-offset-1">
                    <div class="footer-widget">
                        <div class="footer-menu">
                            <h2><a href="#">About Us</a></h2>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="footer-widget">
                        <div class="footer-menu">
                            <h2><a href="#">FAQs</a></h2>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="footer-widget">
                        <div class="footer-menu">
                            <h2><a href="#">Shipping</a></h2>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="footer-widget">
                        <div class="footer-menu">
                            <h2><a href="#">Return Policy</a></h2>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="footer-widget">
                        <div class="footer-menu">
                            <h2><a href="#">Terms & Conditions</a></h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="final-line">
                        <div class="row">
                            <div class="col-sm-6 col-xs-6">
                                <p>&copy; 2014 Trouvaay, Inc. All Rights Reserved.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!--closing js -->
    {% block endjs %}
    {% endblock %}
    <div>
    	<script src="{% static 'js/vendor/jquery-1.10.1.min.js' %}"></script>
	    <script src="{% static 'js/vendor/jquery-ui-1.10.3.min.js' %}"></script>
	    <script src="{% static 'js/vendor/bootstrap.min.js' %}"></script>
	    <script src="{% static 'js/vendor/jquery.isotope.min.js' %}"></script>
	    <script src="{% static 'js/vendor/jquery.raty.min.js' %}"></script>
	    <script src="{% static 'js/vendor/jquery.flexslider.js' %}"></script>
	    <script src="{% static 'js/vendor/jquery.mousewheel.js' %}"></script>
	    <script src="{% static 'js/vendor/jquery.mCustomScrollbar.js' %}"></script>
	    <script src="{% static 'js/vendor/jquery.selectBoxIt.min.js' %}"></script>
	    <script src="{% static 'js/main.js' %}"></script>
	</div>
	</body>
</html>


