<!DOCTYPE html>
{% load cloudinary %}
{% load staticfiles %}
<html lang="en" class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Rare Door</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <link rel="icon" type="image/png" href="{% static 'img/standalone-R_web_RGB.png' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/flexslider.css' %}">
        <link rel="stylesheet" href="{% static 'css/jquery.selectBoxIt.css' %}">
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
        <script src="{% static 'js/vendor/modernizr-2.6.2-respond-1.1.0.min.js' %}"></script>
        {% cloudinary_includes %}
        {% cloudinary_js_config %}
        {% block beginjs %}{% endblock %}
    </head>
    <body>
        <div class="container-fluid top-bar">
            <div class="row">
                <div class="col-xs-6 logo-div"><a href="{% url 'goods:home' %}"> <img id="logo" src="{% static 'img/logos/keyhole_logo_web_RGB.png' %}"></a></div>
                <div class="navbar-collapse collapse col-xs-6 right-side" style="padding: 0">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse" id="mob-nav">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                        </button></a> 
                </div>

                <div id="main-menu" class="col-xs-6 right-side">
                    <div class="row">
                        <div class="col-sm-12 main-navigation">
                            <ul class="nav navbar-nav navbar-right">
                                <li><a class="insta-icon" href="http://instagram.com/raredoor/" target="_blank">
                                    <img src="{% static 'img/instagram-icon32.png' %}"/></a></li>
                                <li><a class="insta-icon" href="https://twitter.com/RareDoor/" target="_blank">
                                    <img src="{% static 'img/twitter-icon.jpeg' %}" height="35px"/></a></li>
                                <li><div class="cart-info">
                                        <a href="{% url 'members:cart' %}">
                                            <span class="counter">
                                            <span class="value">{{ request.user.authusercart_set.first.get_item_count}}</span>items</span>
                                        </a>
                                    </div></li>
                                <li>
                                    <a class="btn btn-link" style="padding-top:10px" href="{% url 'members:logout' %}">{% if user.is_authenticated %}Logout{% else %}logout{% endif %}</a>
                                </li>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 main-navigation">
                            <ul class="nav navbar-nav navbar-right">
                                <li><a href="{% url 'goods:vintage' %}">Vintage</a></li>
                                <li><a href="{% url 'goods:new' %}">New</a></li>
                                <li><a href="#">Profile</a></li>
                                <li><a href="{% url 'goods:blog' %}">Blog</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% block content %}{% endblock content %}
    <footer class="main-footer">
        <div class="container">
            <div class="row" style="margin-bottom: 2rem">
                <div class="col-xs-6 col-sm-2 col-sm-offset-2">
                    <div class="footer-widget">
                        <div class="footer-menu">
                            <h2><a href="#">About Us</a></h2>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-2">
                    <div class="footer-widget">
                        <div class="footer-menu">
                            <h2><a href="#">Shipping</a></h2>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-2">
                    <div class="footer-widget">
                        <div class="footer-menu">
                            <h2><a href="#">Return Policy</a></h2>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-3">
                    <div class="footer-widget">
                        <div class="footer-menu">
                            <h2><a href="#">Terms & Conditions</a></h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="final-line">
                        <div class="row">
                            <div class="col-sm-6 col-xs-12">
                                <p>&copy; 2014 Trouvaay, Inc. All Rights Reserved.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!--closing js -->
    
    <div>
        <script src="{% static 'js/vendor/jquery-1.10.1.min.js' %}"></script>
        <script src="{% static 'js/vendor/jquery-ui-1.10.3.min.js' %}"></script>
        <script src="{% static 'js/vendor/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/vendor/jquery.isotope.min.js' %}"></script>
        <script src="{% static 'js/vendor/jquery.raty.min.js' %}"></script>
        <script src="{% static 'js/vendor/jquery.mousewheel.js' %}"></script>
        <script src="{% static 'js/vendor/jquery.mCustomScrollbar.js' %}"></script>
        <script src="{% static 'js/vendor/jquery.selectBoxIt.min.js' %}"></script>
        <script src="{% static 'js/vendor/jquery.flexslider.js' %}"></script>
        <script src="{% static 'js/main.js' %}"></script>
        {% include 'custom.html' %}
    </div>
    {% block endjs %}
    {% endblock %}
    </body>
</html>


