 {% load staticfiles %}

 <div class="container-fluid select-bar hp-tabs">
        <div class="row-fluid">
            <div class="col-xs-12 col-sm-2 logo-div main-navigation hidden-xs">
                <a href="{% url 'goods:main' %}"> <img class="logo" src="{% static 'img/logos/Raredoor-logo-gold.png' %}"></a></br>
            </div>
            <!-- <div class="col-xs-12 col-sm-1 logo-div main-navigation hidden-xs">
                <a id="filter" href="#">filter</a></br>
            </div> -->
            <div id="desktop-search" class="col-xs-12 col-sm-7 col-md-offset-0 col-md-7">
                <div class="row-fluid">
                    <div class="tab-icons">
                        <div class="row-fluid">
                            <div class="col-sm-12 col-md-12">
                            <ul class="nav nav-tabs center-block">
                                <li class="hidden-lg hidden-md hidden-sm" style="padding-top: 20px;">filter</li>
                                <li id="everything">
                                    <a href="{% url 'goods:landing' %}" style="border-right: lightgray 1px solid; border-left: lightgray 1px solid;"><span class="inner" style="display:list-item"><img src="{% static 'img/roomiconsnew/house128.png' %}" title="house" alt=""/></span><span class="inner icon-label" style="display:list-item">All</span></a>
                                </li>
                                <li id="seating">
                                    <a href="{% url 'goods:main' %}?type=seating"><span class="inner" style="display:list-item"><img src="{% static 'img/roomiconsnew/seating128.png' %}" title="seating" alt=""/></span><span class="inner icon-label" style="display:list-item">seating</span></a>
                                </li>
                                <li id="tables">
                                    <a href="{% url 'goods:main' %}?type=tables"><span class="inner" style="display:list-item"><img src="{% static 'img/roomiconsnew/table128.png' %}" title="table" alt=""/></span><span class="inner icon-label" style="display:list-item">tables</span></a>
                                </li>
                                <li id="beds">
                                    <a href="{% url 'goods:main' %}?type=beds"><span class="inner" style="display:list-item"><img src="{% static 'img/roomiconsnew/bed128.png' %}" title="bed" alt=""/></span><span class="inner icon-label" style="display:list-item">beds</span></a>
                                </li>
                                <li id="storage">
                                    <a href="{% url 'goods:main' %}?type=storage"><span class="inner" style="display:list-item"><img src="{% static 'img/roomiconsnew/storage128.png' %}" title="storage" alt=""/></span><span class="inner icon-label" style="display:list-item">storage</span></a>
                                </li>
                                <li id="lighting">
                                    <a href="{% url 'goods:main' %}?type=lighting" style="border-right: lightgray 1px solid;"><span class="inner" style="display:list-item"><img src="{% static 'img/roomiconsnew/lighting128.png' %}" title="lighting" alt=""/></span><span class="inner icon-label" style="display:list-item">lighting</span></a>
                                </li>
                            </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-3 hidden-xs col-sm-3 col-md-3 pull-right" style="height:75px">
                <ul class="nav navbar-navt">
                <li><a class="btn btn-link" href="#" data-toggle="modal" data-target="#how-it-works-modal" style="height:40px"><h4 style="margin-top:0"><span id="how-it-works-button">How it works</span></h4></a></li>
                
                <!-- <li><a class="btn btn-link" href="#">Profile</a></li> -->
                <li><a class="btn btn-link tab-menu nav-login-button" href="#">Signup</a></li>
                {% if user.is_authenticated %}
                    <li><a class="btn btn-link tab-menu" href="{% url 'members:logout' %}">Logout</a></li>
                {% else %}
                    <li><a class="btn btn-link tab-menu nav-login-button" href="#">Login</a></li>
                {% endif %}
                </ul>
            </div>
        </div><!-- end row -->
    </div><!-- end hp-tabs -->


     -->