{% extends '_base.html' %}
{% load cloudinary %}
{% load staticfiles %}
{% block nav %}
        <div class="container-fluid top-bar non-white">
            <div class="row">
                <div class="col-xs-6 logo-div"><a href="{% url 'goods:home' %}"> <img id="logo" src="{% static 'img/logos/keyhole_logo_web_RGB.png' %}"></a></div>
                <div class="navbar-collapse collapse col-xs-6 right-side" style="padding: 0">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse" id="mob-nav">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                        </button></a> 
                </div>
                <div id="main-menu" class="col-xs-6 right-side">
                    <div class="row">
                        <div class="col-sm-12 main-navigation">
                            <ul class="nav navbar-nav navbar-right" style="border:none">
                                <li><a class="insta-icon" href="http://instagram.com/raredoor/" target="_blank">
                                    <img src="{% static 'img/instagram-icon32.png' %}"/></a></li>
                                <li><a class="insta-icon" href="https://twitter.com/RareDoor/" target="_blank">
                                    <img src="{% static 'img/twitter-icon.jpeg' %}" height="35px"/></a></li>
                                <li><div class="cart-info">
                                        <a href="{% url 'members:cart' %}">
                                            <span class="counter">
                                            <span class="value">{{ request.user.authusercart_set.first.get_item_count}}</span>items</span>
                                        </a>
                                    </div></li>
                                <li>
                                    <a class="btn btn-link" style="padding-top:10px" href="{% url 'members:logout' %}">{% if user.is_authenticated %}Logout{% else %}logout{% endif %}</a>
                                </li>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 main-navigation">
                            <ul class="nav navbar-nav navbar-right">
                                <li><a href="{% url 'goods:vintage' %}">Vintage</a></li>
                                <li><a href="{% url 'goods:new' %}">New</a></li>
                                <li><a href="#">Profile</a></li>
                                <li><a href="{% url 'goods:blog' %}">Blog</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock nav %}