{% load staticfiles %}
<script>
var trouvaay = {
	init: function() {

		var mobilemenutop = "<div id='mobil-nav' class='navbar-collapse'>" +
					"<ul class='nav navbar-nav'>" +
						"<li>{% if user.is_authenticated %}" +
							"<a href='{% url 'members:logout' %}'>Logout</a>" +
							"{% else %}" +
							"<a href='{% url 'members:login' %}'>Login</a>" +
							"{% endif %}" +
						"</li>" +
						"<li class='nav-divider'></li>" +
						"<li><a href='{% url 'goods:about' %}'>About</a></li>" +
						"<li class='nav-divider'></li>" +
						"<li><a style='display:inline-block' class='insta-icon mobile' href='http://instagram.com/raredoor/' target='_blank'>" +
								"<img src='{% static 'img/socialicons/instagram_gray32.png' %}'/></a>" +
							"<a style='display:inline-block' class='insta-icon mobile' href='https://www.facebook.com/RareDoor' target='_blank'>" +
								"<img src='{% static 'img/socialicons/facebook_gray32.png' %}'/></a>" +
							"<a style='display:inline-block'class='insta-icon mobile' href='https://twitter.com/RareDoor/' target='_blank'>" +
					 			"<img src='{% static 'img/socialicons/twitter_gray32.png' %}'/></a>" +
					 	"</li>" +
					 "</ul></div>";

		var mobilemenubottom = "<div id='mobil-nav' class='navbar-collapse'>" +
					"<ul class='nav navbar-nav'>" +
						"<li>{% if user.is_authenticated %}" +
							"<a href='{% url 'members:logout' %}'>Logout</a>" +
							"{% else %}" +
							"<a href='{% url 'members:login' %}'>Login</a>" +
							"{% endif %}" +
						"</li>" +
						"<li class='nav-divider'></li>" +
						"<li><a href='{% url 'goods:about' %}'>About</a></li>" +
						"<li class='nav-divider'></li>" +
						"<li><a style='display:inline-block' class='insta-icon mobile' href='http://instagram.com/raredoor/' target='_blank'>" +
								"<img src='{% static 'img/socialicons/instagram_gray32.png' %}'/></a>" +
							"<a style='display:inline-block' class='insta-icon mobile' href='https://www.facebook.com/RareDoor' target='_blank'>" +
								"<img src='{% static 'img/socialicons/facebook_gray32.png' %}'/></a>" +
							"<a style='display:inline-block'class='insta-icon mobile' href='https://twitter.com/RareDoor/' target='_blank'>" +
					 			"<img src='{% static 'img/socialicons/twitter_gray32.png' %}'/></a>" +
					 	"</li>" +
					 "</ul></div>";

		$("#mob-nav").on('click',function() {
                if (!$('#mobil-nav').length ) {
                  $(".container-fluid.top-bar").append(mobilemenutop);
                
                } else {
                  $("#mobil-nav").remove();
                }
        });
        //Highlights link of current page
        $(function(){
		  $('a').each(function() {
		    if ($(this).prop('href') == window.location.href) {
		      $(this).addClass('current');
		    }
		  });
		});

		//product-like AJAX post
        $(".btn.btn-default.glyphs").click(function() {
	    	var id = $(this).attr("id").substring(6);
	    	var data = {'id': id};
	   		if ($(this).hasClass("active")) {
		    	$(this).removeClass("active");
		    	}
		    else {
		    	$(this).addClass("active");
		    	}
	    	$.post(
	    		"{% url 'members:like' %}", 
	    		data,
	    		function(response){
	    			if(response == 'loginrequired'){
	    				window.location.replace("{% url "members:login" %}");
	    			}
	    		}
	    	);
	    });

        //Addtocart AJAX post
	    $(".btn.buy").click(function() {
	    	var id = $(this).attr("id").substring(4);
	    	var data = {'id': id};
	   		if ($(this).hasClass("active")) {
		    	$(this).removeClass("active");
		    	}
		    else {
		    	$("#addtocartmodal").show().delay(2000).fadeOut();
		    	$.post("{% url 'members:addtocart' %}", data, function(product) {
		    		$(".badge.cart-counter").html(product.count.toString());
		    		$(".badge.mobile-cart-counter").html(product.count.toString());
	    		});
		    }
	    })  
	}
}

$(document).ready(function() {
    trouvaay.init();
 

    //Django boilerplat to Auto add csrf token to template for $.POST Ajax
    function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie != '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        var csrftoken = getCookie('csrftoken');
        function csrfSafeMethod(method) {
    	// these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    // Send the token to same-origin, relative URLs only.
                    // Send the token only if the method warrants CSRF protection
                    // Using the CSRFToken value acquired earlier
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });
});
</script>