<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Trendy-ROOM</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <link rel="icon" type="image/png" href="content/favicon.png">

        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/font-awesome.min.css">
        <link rel="stylesheet" href="css/flexslider.css">
        <link rel="stylesheet" href="css/jquery.selectBoxIt.css">
        <link rel="stylesheet" href="css/main.css">
        <script src="js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
    </head>
    <body>
    <div class="top-bar">
        <div class="container">
            <div class="row">
                <div class="col-sm-3 col-xs-4">
                    <div class="btn-group language-selector">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            <i class="flag en"></i> English <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#"><i class="flag it"></i> Italian</a></li>
                            <li><a href="#"><i class="flag de"></i> German</a></li>
                            <li><a href="#"><i class="flag fr"></i> French</a></li>
                            <li><a href="#"><i class="flag es"></i> Spanish</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-9 col-xs-8">
                    <div class="right-side">
                        <div class="cart-info">
                            <span class="counter">1 item</span>
                            <span class="separator">/</span>
                            <span class="value">202,00$</span>
                        </div>
                        <a class="btn btn-link" href="#" data-toggle="modal" data-target="#login-modal">Login</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="navbar navbar-default">
        <div class="container">
            <div class="row">
                <div class="navbar-header col-sm-3">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">
                      <span class="inner">
                          <img src="content/logo.png" alt="Logo"/>
                      </span>
                    </a>
                </div>
                <div class="col-sm-9 right-side">
                    <div class="navbar-collapse collapse">
                        <div class="row secondary-navigation-wrap">
                            <address>
                                365 516 6248 <br/>
                                149 Gough St <br/>
                                San Francisco, CA 94102 <br/>
                            </address>
                            <ul class="nav navbar-nav secondary-navigation">
                                <li><a href="#">My account</a></li>
                                <li><a href="#">Wish List (0)</a></li>
                                <li><a href="#">Order History</a></li>
                                <li><a href="#">Returns</a></li>
                            </ul>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 main-navigation">
                                <ul class="nav navbar-nav navbar-right">
                                    <li><a href="/">New Arrivals</a></li>
                                    <li>
                                        <a href="#" id="navbarDrop1" class="dropdown-toggle" data-toggle="dropdown">Products</a>
                                        <ul class="dropdown-menu" role="menu" aria-labelledby="navbarDrop1">
                                            <li><a href="#">Chairs</a></li>
                                            <li><a href="#">Bedroom Storage</a></li>
                                            <li><a href="#">Beds</a></li>
                                            <li>
                                                <a href="#">Decorations</a>
                                                <ul>
                                                    <li><a href="#">Outdoor</a></li>
                                                    <li>
                                                        <a href="#">Indoor</a>
                                                        <ul>
                                                            <li><a href="#">Bedroom Decorations</a></li>
                                                            <li><a href="#">Kitchen Decorations</a></li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li><a href="#">Outdoor Furniture</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="our-story.html">Our Story</a></li>
                                    <li><a href="articles.html">Articles</a></li>
                                    <li><a href="contact.html">Contact</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="main-container">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
                    <div class="post">
                        <h2>
                            Quisque fermentum sapien in<br/>
                            mollis auctor. Ut auctor
                        </h2>
                        <div class="post-info">
                            <ul>
                                <li>November 20th, 2013 by Octavian Munteanu</li>
                                <li><hr/></li>
                                <li>
                                    <a href="#"></a>
                                </li>
                            </ul>
                        </div>
                        <figure>
                            <img src="content/single-product01.jpg" alt=""/>
                        </figure>
                        <div class="post-content text-editor">
                            <p>
                                Nulla vestibulum consequat libero id viverra. Vivamus sodales feugiat rutrum.
                                Proin ullamcorper, ante sed vulputate ultrices, risus orci facilisis turpis,
                                at lacinia nunc dolor eget est. Integer congue gravida ultrices. Nam tellus nisl,
                                eleifend quis molestie a, malesuada adipiscing risus. Cras vitae metus commodo,
                                mattis elit at, congue arcu. Class aptent taciti sociosqu ad litora torquent
                                per conubia nostra, per inceptos himenaeos. Duis ullamcorper turpis ut sodales imperdiet.
                                Quisque et congue tellus. Morbi a ullamcorper nisl. Morbi tincidunt, ligula in
                                euismod placerat, odio justo iaculis neque, vel tincidunt risus elit ac leo.
                            </p>
                            <p>
                                Nulla non sodales erat, in vehicula enim. Quisque massa metus,
                                sollicitudin nec justo eu, condimentum cursus tortor. Phasellus
                                luctus nisl ac sapien tincidunt vestibulum. Sed et ullamcorper lacus.
                                Fusce nec aliquam elit. Quisque non sollicitudin orci. Maecenas quam
                                lorem, consectetur id rutrum ac, auctor vel dui. Aliquam et viverra enim.
                                Cras et tortor vehicula, cursus libero faucibus, aliquam nulla. Ut vitae
                                mauris ac elit commodo pretium ut at eros. Interdum et malesuada fames ac
                                ante ipsum primis in faucibus. Integer euismod rhoncus felis, sit amet
                                tristique mi lacinia nec.
                            </p>
                            <hr/>
                            <div class="fb-likes">
                                <img src="content/fb-like.jpg" alt=""/>
                            </div>
                        </div>
                    </div>
                    <div class="comments">
                        <h3>3 comments</h3>
                        <ul>
                            <li class="comment">
                                <figure>
                                    <a href="#">
                                        <img src="content/face1.jpg" alt=""/>
                                    </a>
                                </figure>
                                <div class="user">
                                    <a href="#">Jean Willes</a>
                                    says:
                                </div>
                                <div class="content">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean suscpit metus quis leo cod sit amet viverra turpis tincidunt.
                                </div>
                                <div class="date">September 20th, 2013</div>
                            </li>
                            <ul>
                                <li class="comment">
                                    <figure>
                                        <a href="#">
                                            <img src="content/face2.jpg" alt=""/>
                                        </a>
                                    </figure>
                                    <div class="user">
                                        <a href="#">Jean Willes</a>
                                        says:
                                    </div>
                                    <div class="content">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean suscpit metus quis leo cod sit amet viverra turpis tincidunt.
                                    </div>
                                    <div class="date">September 20th, 2013</div>
                                </li>
                                <ul>
                                    <li class="comment">
                                        <figure>
                                            <a href="#">
                                                <img src="content/face3.jpg" alt=""/>
                                            </a>
                                        </figure>
                                        <div class="user">
                                            <a href="#">Jean Willes</a>
                                            says:
                                        </div>
                                        <div class="content">
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean suscpit metus quis leo cod sit amet viverra turpis tincidunt.
                                        </div>
                                        <div class="date">September 20th, 2013</div>
                                    </li>
                                </ul>
                            </ul>
                            <li class="comment">
                                <figure>
                                    <a href="#">
                                        <img src="content/face4.jpg" alt=""/>
                                    </a>
                                </figure>
                                <div class="user">
                                    <a href="#">Madeleine Sherwood</a>
                                    says:
                                </div>
                                <div class="content">
                                    Realy awesome article.
                                </div>
                                <div class="date">September 20th, 2013</div>
                            </li>
                            <li class="comment">
                                <figure>
                                    <a href="#">
                                        <img src="content/face5.jpg" alt=""/>
                                    </a>
                                </figure>
                                <div class="user">
                                    <a href="#">Ronnie Spector</a>
                                    says:
                                </div>
                                <div class="content">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean suscpit metus quis leo cod sit amet viverra turpis tincidunt.
                                </div>
                                <div class="date">September 20th, 2013</div>
                            </li>
                        </ul>
                    </div>
                    <div class="write-comments">
                        <h3>Write comment</h3>
                        <form role="form">
                            <div class="col-sm-6">
                                <label for="name">Your Name*</label>
                                <input type="text" class="form-control" id="name" name="name">
                                <label for="email">Your Email*</label>
                                <input type="email" class="form-control" id="email" name="email">
                                <label for="url">URL</label>
                                <input type="text" class="form-control" id="url" name="url">
                            </div>
                            <div class="col-sm-6">
                                <textarea class="form-control" name="message"></textarea>
                                <button type="submit" class="btn btn-default">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer class="main-footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <div class="footer-widget">
                        <h2>Search</h2>
                        <div class="footer-search">
                            <form action="">
                                <div class="input-group">
                                    <input type="text" class="form-control" name="s">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
                                    </span>
                                </div>
                            </form>
                        </div>
                        <ul class="social-icons">
                            <li><a href="#" class="social-icon twitter"></a></li>
                            <li><a href="#" class="social-icon instagram"></a></li>
                            <li><a href="#" class="social-icon facebook"></a></li>
                            <li><a href="#" class="social-icon flickr"></a></li>
                            <li><a href="#" class="social-icon dribble"></a></li>
                            <li><a href="#" class="social-icon picasa"></a></li>
                            <li><a href="#" class="social-icon googleplus"></a></li>
                            <li><a href="#" class="social-icon rss"></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="footer-widget">
                        <h2>Products</h2>
                        <div class="footer-menu">
                            <ul>
                                <li><a href="#">Armchairs & Sofas</a></li>
                                <li><a href="#">Office chairs</a></li>
                                <li><a href="#">Beds</a></li>
                                <li><a href="#">Living room Storage</a></li>
                                <li><a href="#">TV & media furniture</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="footer-widget">
                        <h2>Sitemap</h2>
                        <div class="sitemap">
                            <ul>
                                <li><a href="#">New arrivals</a></li>
                                <li><a href="#">Products</a></li>
                                <li><a href="#">Our story</a></li>
                                <li><a href="#">Articles</a></li>
                                <li><a href="#">Contact</a></li>
                            </ul>
                            <ul>
                                <li><a href="#">FAQ</a></li>
                                <li><a href="#">Terms of Use</a></li>
                                <li><a href="#">Affiliates</a></li>
                                <li><a href="#">Privacy & Security</a></li>
                                <li><a href="#">Returns</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="footer-widget">
                        <h2>Payment&Shipping</h2>
                        <div class="payment-icons">
                            <ul>
                                <li class="visa"></li>
                                <li class="mastercard"></li>
                                <li class="maestro"></li>
                                <li class="ebay"></li>
                                <li class="twoco"></li>
                                <li class="paypal"></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="final-line">
                        <div class="row">
                            <div class="col-sm-6 col-xs-6">
                                <p>&copy; 2014 Trendy room. All Rights Reserved.</p>
                            </div>
                            <div class="col-sm-6 text-right col-xs-6">
                                <p>Developed by <a href="http://teothemes.com" title="WordPress Themes">TeoThemes</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="js/vendor/jquery-1.10.1.min.js"></script>
    <script src="js/vendor/jquery-ui-1.10.3.min.js"></script>
    <script src="js/vendor/bootstrap.min.js"></script>
    <script src="js/vendor/jquery.isotope.min.js"></script>
    <script src="js/vendor/jquery.raty.min.js"></script>
    <script src="js/vendor/jquery.flexslider.js"></script>
    <script src="js/vendor/jquery.mousewheel.js"></script>
    <script src="js/vendor/jquery.mCustomScrollbar.js"></script>
    <script src="js/vendor/jquery.selectBoxIt.min.js"></script>
    <script src="js/main.js"></script>
    </body>
</html>
