<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Trendy-ROOM</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <link rel="icon" type="image/png" href="content/favicon.png">

        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/font-awesome.min.css">
        <link rel="stylesheet" href="css/flexslider.css">
        <link rel="stylesheet" href="css/jquery.selectBoxIt.css">
        <link rel="stylesheet" href="css/main.css">
        <script src="js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
    </head>
    <body>
    <div class="top-bar">
        <div class="container">
            <div class="row">
                <div class="col-sm-3 col-xs-4">
                    <div class="btn-group language-selector">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            <i class="flag en"></i> English <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#"><i class="flag it"></i> Italian</a></li>
                            <li><a href="#"><i class="flag de"></i> German</a></li>
                            <li><a href="#"><i class="flag fr"></i> French</a></li>
                            <li><a href="#"><i class="flag es"></i> Spanish</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-9 col-xs-8">
                    <div class="right-side">
                        <div class="cart-info">
                            <span class="counter">1 item</span>
                            <span class="separator">/</span>
                            <span class="value">202,00$</span>
                        </div>
                        <a class="btn btn-link" href="#" data-toggle="modal" data-target="#login-modal">Login</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="navbar navbar-default">
        <div class="container">
            <div class="row">
                <div class="navbar-header col-sm-3">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">
                      <span class="inner">
                          <img src="content/logo.png" alt="Logo"/>
                      </span>
                    </a>
                </div>
                <div class="col-sm-9 right-side">
                    <div class="navbar-collapse collapse">
                        <div class="row secondary-navigation-wrap">
                            <address>
                                365 516 6248 <br/>
                                149 Gough St <br/>
                                San Francisco, CA 94102 <br/>
                            </address>
                            <ul class="nav navbar-nav secondary-navigation">
                                <li><a href="#">My account</a></li>
                                <li><a href="#">Wish List (0)</a></li>
                                <li><a href="#">Order History</a></li>
                                <li><a href="#">Returns</a></li>
                            </ul>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 main-navigation">
                                <ul class="nav navbar-nav navbar-right">
                                    <li><a href="/">New Arrivals</a></li>
                                    <li>
                                        <a href="#" id="navbarDrop1" class="dropdown-toggle" data-toggle="dropdown">Products</a>
                                        <ul class="dropdown-menu" role="menu" aria-labelledby="navbarDrop1">
                                            <li><a href="#">Chairs</a></li>
                                            <li><a href="#">Bedroom Storage</a></li>
                                            <li><a href="#">Beds</a></li>
                                            <li>
                                                <a href="#">Decorations</a>
                                                <ul>
                                                    <li><a href="#">Outdoor</a></li>
                                                    <li>
                                                        <a href="#">Indoor</a>
                                                        <ul>
                                                            <li><a href="#">Bedroom Decorations</a></li>
                                                            <li><a href="#">Kitchen Decorations</a></li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li><a href="#">Outdoor Furniture</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="our-story.html">Our Story</a></li>
                                    <li><a href="articles.html">Articles</a></li>
                                    <li><a href="contact.html">Contact</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="main-container">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="product-description">
                       <div class="product-slider">
                            <ul class="slides">
                                <li>
                                    <figure>
                                        <img src="content/single-product01.jpg" />
                                    </figure>
                                </li>
                                <li>
                                    <figure>
                                        <img src="content/single-product02.jpg" />
                                    </figure>
                                </li>
                                <li>
                                    <figure>
                                        <img src="content/single-product03.jpg" />
                                    </figure>
                                </li>
                                <li>
                                    <figure>
                                        <img src="content/single-product04.jpg" />
                                    </figure>
                                </li>
                            </ul>
                        </div>
                       <div class="name">Svelik</div>
                       <div class="description">Queen and King beds</div>
                       <div class="info-block">
                           <h4>Combination</h4>
                           <div class="info">
                               Frame: 11-454<br/>
                               Seat: 16-280<br/>
                               Bed dimensions: 200x190<br/>
                           </div>
                       </div>
                        <div class="info-block">
                            <h4>Colors</h4>
                            <div class="info">
                                <ul>
                                    <li>
                                        <span class="inner" style="background: #9b8d7c"/>
                                    </li>
                                    <li>
                                        <span class="inner" style="background: #993333"/>
                                    </li>
                                    <li>
                                        <span class="inner" style="background: #336666"/>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="price-wrapper">
                            <div class="price">
                                2500,00$
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-9">
                    <div class="product-presentation-tabs">
                        <div class="tab-content">
                            <div class="tab-pane active text-editor" id="product-info">
                                <p>
                                    Mauris aliquam a ipsum id lacinia. Suspendisse neque ipsum, condimentum id lacinia non, luctus in dui. Praesent eu aliquam massa. Mauris blandit euismod lorem a suscipit. Phasellus a mauris diam. In posuere ipsum at tellus luctus pretium. 
                                </p>
                                <ul>
                                    <li>Vestibulum ante ipsum primis in faucibus</li>
                                    <li>Nunc a feugiat neque, porta adipiscing urna</li>
                                    <li>Integer ut congue nunc, quis imperdiet risus</li>
                                    <li>Etiam magna neque, rhoncus ac purus et</li>
                                    <li>Cum sociis natoque penatibus et magnis dis</li>
                                    <li>Aliquam dignissim felis leo, quis condimentum</li>
                                </ul>
                            </div>
                            <div class="tab-pane text-editor" id="product-details">
                                <p>
                                    Vivamus suscipit, quam eu tempor hendrerit, metus nisl porttitor ante, sit amet congue nisl ipsum quis urna. Duis non nisl vitae risus fermentum malesuada. Ut tincidunt sagittis nulla in blandit.
                                </p>
                                <ul>
                                    <li>Pellentesque viverra ligula ullamcorper, eleifend</li>
                                    <li>Nam vitae augue ante. Aenean tellus purus</li>
                                    <li>Vestibulum laoreet arcu turpis, vel condimentum sapien</li>
                                    <li>Nullam semper tempus odio, vel vehicula nunc. </li>
                                    <li>Maecenas vitae arcu nec dui rhoncus varius.</li>
                                    <li>Nunc posuere, dolor ut porttitor imperdiet</li>
                                </ul>
                            </div>
                            <div class="tab-pane text-editor" id="delivery">
                                <p>
                                    Suspendisse eleifend sollicitudin ligula, et vehicula diam faucibus ac. Fusce risus enim, convallis vel vulputate adipiscing, vehicula sit amet augue. Duis pretium lacus eu libero pretium pulvinar.
                                </p>
                                <ul>
                                    <li>Suspendisse neque ipsum, condimentum id lacinia non, luctus in dui.</li>
                                    <li>Maecenas et dolor non lorem condimentum rutrum</li>
                                    <li>Cum sociis natoque penatibus et magnis dis parturient montes</li>
                                    <li>Nulla nibh est, gravida a elit non, bibendum sodales neque</li>
                                    <li>Donec volutpat posuere orci ac tincidunt</li>
                                    <li>Sed at pulvinar nisi, vel sollicitudin quam</li>
                                </ul>
                            </div>
                            <div class="tab-pane text-editor" id="rate">
                                <p>
                                    Proin pretium purus nec eros consectetur tempor. Maecenas congue libero vehicula est iaculis, eget molestie ante bibendum. Cras eu pellentesque purus, at condimentum nisi. 
                                </p>
                                <ul>
                                    <li>Vestibulum vel diam ac justo fermentum placerat.</li>
                                    <li>Nunc a feugiat neque, porta adipiscing urna</li>
                                    <li>Etiam magna neque, rhoncus ac purus et</li>
                                    <li>Phasellus vestibulum hendrerit lectus nec malesuada</li>
                                    <li>Cum sociis natoque penatibus et magnis dis parturient</li>
                                    <li>Maecenas vitae arcu nec dui rhoncus varius</li>
                                </ul>
                            </div>
                        </div>
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#product-info" data-toggle="tab">Product Information</a></li>
                            <li><a href="#product-details" data-toggle="tab">Product Details</a></li>
                            <li><a href="#delivery" data-toggle="tab">Delivery and returns</a></li>
                            <li><a href="#rate" data-toggle="tab">Rate and share</a></li>
                        </ul>
                    </div>
                </div>
                <aside class="col-sm-3">
                    <div class="widget sketch">
                        <figure>
                            <img src="content/sketch.png" alt=""/>
                        </figure>
                    </div>
                </aside>
                <div class="col-sm-9">
                    <div class="feedback">
                        <h3>Feedback</h3>
                        <ul>
                            <li class="comment">
                                <div class="likes-wrapper">
                                    <div class="like"></div>
                                </div>
                                <figure>
                                    <a href="#">
                                        <img src="content/face1.jpg" alt=""/>
                                    </a>
                                </figure>
                                <div class="user">
                                    <a href="#">Jean Willes</a>
                                    says:
                                </div>
                                <div class="content">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean suscpit metus quis leo cod sit amet viverra turpis tincidunt.
                                </div>
                                <div class="date">September 20th, 2013</div>
                            </li>
                            <li class="comment">
                                <div class="likes-wrapper">
                                    <div class="like"></div>
                                </div>
                                <figure>
                                    <a href="#">
                                        <img src="content/face2.jpg" alt=""/>
                                    </a>
                                </figure>
                                <div class="user">
                                    <a href="#">Madeleine Sherwood</a>
                                    says:
                                </div>
                                <div class="content">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sed nunc sit
                                    amet nunc auctor viverra non quis libero. Vestibulum non ligulari. Nunc quis nisi dapibus,
                                    facilisis purus varius, placerat eros. Nulla sit amet convallis libero. Integer posuere egestas
                                    aliquam. Donec justo felis, scelerisque sed pulvinar vitae, posuere elementum lacus.
                                    Nullam sodales tincidunt diam vitae tincidunt. Cras ut tortor nullaonec mauris
                                </div>
                                <div class="date">September 20th, 2013</div>
                            </li>
                            <li class="comment">
                                <div class="likes-wrapper">
                                    <div class="dislike"></div>
                                </div>
                                <figure>
                                    <a href="#">
                                        <img src="content/face3.jpg" alt=""/>
                                    </a>
                                </figure>
                                <div class="user">
                                    <a href="#">Ronnie Spector</a>
                                    says:
                                </div>
                                <div class="content">
                                    Vestibulum non ligulari. Nunc quis nisi dapibus, facilisis purus variu,
                                    placerat eros. Nulla sit amet convallis liberonteger posuere egestas
                                </div>
                                <div class="date">September 20th, 2013</div>
                            </li>
                            <li class="comment">
                                <div class="likes-wrapper">
                                    <div class="like"></div>
                                </div>
                                <figure>
                                    <a href="#">
                                        <img src="content/face4.jpg" alt=""/>
                                    </a>
                                </figure>
                                <div class="user">
                                    <a href="#">Stella Stevens</a>
                                    says:
                                </div>
                                <div class="content">
                                    Nam in varius ligula, id elementum dolor. Nullam tempor est est,
                                    sit amet tristique justo lacinia sed. Mauris faucibus, magna et
                                    aliquam convallis, nibh lectus convallis felis, a feugiat massa nunc ut metus.
                                    Morbi eleifend suscipit leo id iaculis.
                                </div>
                                <div class="date">September 20th, 2013</div>
                            </li>
                        </ul>
                    </div>
                </div>
                <aside class="col-sm-3">
                    <div class="widget leave-feedback">
                        <h3>Leave feedback</h3>
                        <form role="form">
                            <textarea name="feedback" class="form-control"></textarea>
                            <input id="likes" type="hidden" name="likes" />
                            <a href="#" class="like"></a>
                            <a href="#" class="dislike"></a>
                            <button type="submit" class="btn btn-default">Submit</button>
                        </form>
                    </div>
                    <div class="widget small-text">
                        apply for designer’s
                        Professional Review
                    </div>
                    <div class="widget big-text">
                        Get
                        furniture
                        that your
                        wife will
                        enjoy
                    </div>
                </aside>
                <div class="col-sm-12">
                    <div class="recommended-products grid-products-wrapper">
                        <h3>Recommended</h3>
                        <div class="row">
                                <div class="col-sm-3">
                                    <div class="grid-product first">
                                        <figure>
                                            <a href="">
                                                <img src="content/single-product01.jpg" alt=""/>
                                            </a>
                                        </figure>
                                        <div class="overlay">
                                            <div class="price">105,00$</div>
                                            <div class="background"></div>
                                        </div>
                                        <a href="product-page.html" class="view-product">
                                            <div class="text">View product</div>
                                            <div class="background"></div>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="grid-product">
                                        <figure>
                                            <a href="">
                                                <img src="content/single-product02.jpg" alt=""/>
                                            </a>
                                        </figure>
                                        <div class="overlay">
                                            <div class="price">705,00$</div>
                                            <div class="background"></div>
                                        </div>
                                        <a href="product-page.html" class="view-product">
                                            <div class="text">View product</div>
                                            <div class="background"></div>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="grid-product">
                                        <figure>
                                            <a href="">
                                                <img src="content/single-product03.jpg" alt=""/>
                                            </a>
                                        </figure>
                                        <div class="overlay">
                                            <div class="price">2450,00$</div>
                                            <div class="background"></div>
                                        </div>
                                        <a href="product-page.html" class="view-product">
                                            <div class="text">View product</div>
                                            <div class="background"></div>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="grid-product">
                                        <figure>
                                            <a href="">
                                                <img src="content/single-product04.jpg" alt=""/>
                                            </a>
                                        </figure>
                                        <div class="overlay">
                                            <div class="price">515,00$</div>
                                            <div class="background"></div>
                                        </div>
                                        <a href="product-page.html" class="view-product">
                                            <div class="text">View product</div>
                                            <div class="background"></div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer class="main-footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <div class="footer-widget">
                        <h2>Search</h2>
                        <div class="footer-search">
                            <form action="">
                                <div class="input-group">
                                    <input type="text" class="form-control" name="s">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
                                    </span>
                                </div>
                            </form>
                        </div>
                        <ul class="social-icons">
                            <li><a href="#" class="social-icon twitter"></a></li>
                            <li><a href="#" class="social-icon instagram"></a></li>
                            <li><a href="#" class="social-icon facebook"></a></li>
                            <li><a href="#" class="social-icon flickr"></a></li>
                            <li><a href="#" class="social-icon dribble"></a></li>
                            <li><a href="#" class="social-icon picasa"></a></li>
                            <li><a href="#" class="social-icon googleplus"></a></li>
                            <li><a href="#" class="social-icon rss"></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="footer-widget">
                        <h2>Products</h2>
                        <div class="footer-menu">
                            <ul>
                                <li><a href="#">Armchairs & Sofas</a></li>
                                <li><a href="#">Office chairs</a></li>
                                <li><a href="#">Beds</a></li>
                                <li><a href="#">Living room Storage</a></li>
                                <li><a href="#">TV & media furniture</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="footer-widget">
                        <h2>Sitemap</h2>
                        <div class="sitemap">
                            <ul>
                                <li><a href="#">New arrivals</a></li>
                                <li><a href="#">Products</a></li>
                                <li><a href="#">Our story</a></li>
                                <li><a href="#">Articles</a></li>
                                <li><a href="#">Contact</a></li>
                            </ul>
                            <ul>
                                <li><a href="#">FAQ</a></li>
                                <li><a href="#">Terms of Use</a></li>
                                <li><a href="#">Affiliates</a></li>
                                <li><a href="#">Privacy & Security</a></li>
                                <li><a href="#">Returns</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="footer-widget">
                        <h2>Payment&Shipping</h2>
                        <div class="payment-icons">
                            <ul>
                                <li class="visa"></li>
                                <li class="mastercard"></li>
                                <li class="maestro"></li>
                                <li class="ebay"></li>
                                <li class="twoco"></li>
                                <li class="paypal"></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="final-line">
                        <div class="row">
                            <div class="col-sm-6 col-xs-6">
                                <p>&copy; 2014 Trendy room. All Rights Reserved.</p>
                            </div>
                            <div class="col-sm-6 text-right col-xs-6">
                                <p>Developed by <a href="http://teothemes.com" title="WordPress Themes">TeoThemes</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="js/vendor/jquery-1.10.1.min.js"></script>
    <script src="js/vendor/jquery-ui-1.10.3.min.js"></script>
    <script src="js/vendor/bootstrap.min.js"></script>
    <script src="js/vendor/jquery.isotope.min.js"></script>
    <script src="js/vendor/jquery.raty.min.js"></script>
    <script src="js/vendor/jquery.flexslider.js"></script>
    <script src="js/vendor/jquery.mousewheel.js"></script>
    <script src="js/vendor/jquery.mCustomScrollbar.js"></script>
    <script src="js/vendor/jquery.selectBoxIt.min.js"></script>
    <script src="js/main.js"></script>
    </body>
</html>
