.team-members-container {
  padding: 0px;
  header {
    background: $lily;
  color: #FFF;
  font-family: "Droid Serif";
  font-size: 23px;
  font-weight: bold;
  line-height: 25px;
  padding: 22px 0px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 40px; 

    @include breakpoint(md) {
      background: $lily;
      font-size: 17px;
      margin-bottom: 10px;
    }
  }

  .name-container {
    padding: 15px;
    .name {
      font-size: 20px;
      line-height: 25px;

      @include breakpoint(sm) {
	font-size: 22px;
	line-height: 22px;
      }
    }

    .subline {
      font-size: 13px;
    }
  }

  .grid-item {
    margin-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
