.product-description {
  
  font-family: "Droid Serif";
  font-weight: 600;
  font-size: 13px;
  
  .heading {
    float: left;
    color: white;
    width: 100%;
    padding: 12px 10%;
    letter-spacing: 2px;
    background: none;
    color: black;
    border: black 2px solid;
    line-height: 25px;

    h4 {
      font-size: 15px;
      font-weight: 800;
    }

    @include breakpoint(sm) {
      padding: 12px 5%;
      max-width: 500px;
      text-align: center;
      margin-top: 2em;
      font-size: 14px;
    }
  }

  .row-attrs.descrip-detail > .col-sm-12 {
    padding-right: 28px;
    padding-left: 28px;  
  }

  .attr {
    font-weight: 500;
  }

}


.container.detail {
  margin-top: 8%
}

fieldset{

  @include breakpoint(sm) {

    legend {
      margin-bottom: 5px;
    }
    .table {
      margin-bottom: 5px;
    }
    .alert {
      padding: 10px 5px;
    }
  }
}


#loader {
    width: 128px;
    height: 128px;
    position: absolute;
    left: 50%;
    margin-left: - 64px;
    margin-top: -64px;
    top: 0px;
    top: 50%;
    background: url('/static/img/335.GIF');
    z-index: 9;

    &:not(.invisible) + .detail {

        pointer-events: none;
        opacity: 0.3;
    }

}
