footer {
  background: #000;
  color: #FFF;
  font-family: "Droid Serif";
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding-top: 10px;
  //padding-bottom: 10px;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;


  .container { 
    max-width: 100%;
   
    .row {
      padding-top: 10px;

      @include breakpoint(md) {
        padding-top: 0px;
      }
    }
  }

  .social-icons {
    //line-height: 100px;
    font-size: 35px;
  }

  .help-info {
    //line-height: 100px;
    padding-top: 15px;

    @include breakpoint(md) {
      text-align: center;
      line-height: 30px;
      padding-top: 5px;
    }

    > * {

     
    }

    .row > * {

      @include breakpoint(sm, True) {
      float: none;
      width: auto;
	padding-left: 0px;
    }
       &:not(:last-child) {
	//margin-right: 50px;
      padding-right: 50px;
	border-right: 1px solid #FFF;
	@include breakpoint(md) {
	  padding-right: 10px;
	  //margin-right: 10px;

	}
	@include breakpoint(xs) {
	  border-right: 0px;
	}
      }
    }

  }

  .copyright {
    font-size: 11px;
    text-align: center;

    border-top: 1px solid #FFF;
    padding-top: 10px;
    padding-bottom: 10px;

    @include breakpoint(md) {
	border-top: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
    }
  }

  a {
    color: #FFF;
    &:hover {
      text-decoration: none;
      color: #FFF;
    }
  }
}

footer, .push {
  height: 110px;
  

  @include breakpoint(md) {
    height: 70px;
    font-size: 13px;
  }
  
  @include breakpoint(xs) {
    height: 90px;
    padding-top:0px;
  }


}
