#logo {
  height: 28px;

  @include breakpoint(sm) {
	  height: 20px;
	  margin-top: 10px;

  }
}

header.top-bar {
  background: #333;
  line-height: 60px;
  height: 60px;
  position: fixed;
  width: 100%;
  top: 0px;
  z-index: 10;
  left: 0px;

  @include breakpoint(md) {
    height: 50px;
    position: fixed;
    z-index: 10;
    
    & + div {
      margin-top: 50px;

    }
  }


  a {
    color: #FFF;

    &:hover {
      color: #FFF;
      text-decoration: none;
    }
  }

  .logo-div {
    height: 60px;
    padding-left: 20px;
    img {
      vertical-align: top;
      margin-top: 16px;
    }

    @include breakpoint(md) {
      height: 50px;

      img {
        margin-top: 11px;
      }
    }

    @include breakpoint(sm) {
      text-align: center;
      height: 50px;

      img {
	margin-top: 10px;

      }
    }
  }

  #logo {
    margin-right: 25px;
    @include breakpoint(sm) {
      margin-right: 0px;

    }
  }

  a {
    font-family: "Ostrich Sans";
  }

  a.btn {
    font-size: 17px;
    font-weight: 800;
    line-height: 17px;
    text-transform: uppercase;

    padding: 5px 13px;

    border: 1px solid #FFF;
    border-radius: 0px;
    
    transition: all 0.1s;
    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    -o-transition: all 0.1s;

    

    @include breakpoint(md) {
      margin-top: -10px;
    }

    &:focus {
      color: #FFF;
    }

    &:hover {
      border-color: $gold;

    }

  }

  a.btn + a.btn {
    margin-left: 10px;

  }

  #filter-btn {
      &:before {  
          position: relative;
          font-size: 21px;
          line-height: 15px;
          vertical-align: top;
          top: 0px;
          margin-right: 9px;
          left: -2px;

      }
  }

  .right-bottom-buttons-cnt {
    position: absolute;
    right: 0px;
    bottom: 0px;
    line-height: 25px;

    a {
      display: inline-block;
    }

  }

  a.white-right-button {
    background-color: #FFF;
    color: #000;
    font-weight: 800;
    padding: 0px 8px;
    line-height: 25px;
    width: 91px;
    text-align: center;
    margin-right: 0px;
  }

  .mobile-about, .mobile-menu {
    
    label {
      color: #FFF;
      display: block;
      text-align: center;
      margin-top: 10px;
      cursor: pointer;
      @include breakpoint(sm) {

      }
      &:before {
	line-height: 28px;
	vertical-align: top;

	@include breakpoint(sm) {
		font-size: 24px;
		line-height: 24px;
		vertical-align: top;
		font-size: 11px;

	}
      }
    span {
      display: none;

      }
    }

  }

  .icon-question-mark, a.icon-question-mark {
      background: #FFF;
      border-radius: 14px;
      color: #000;
      font-size: 13px;
      
      width: 28px;
      height: 28px;
      min-width: 28px;
      min-height: 28px;
      position: relative;
      
      &:before {
        position: absolute;
        left: 0px;
        top: 0px;
        display: inline-block;
        text-align: center;
        width: 28px;
        color: #000;
        line-height: 28px;
      }
      
      @include breakpoint(sm) {
	      width: 28px;
	      height: 28px;
	      min-width: 28px;


          &:before {
            width: 28px;
              left: -1px;
          }

      }

      &:focus {
        color: #000;
      }

      
    span {
      display: none;

    }
  }

  .mobile-menu {
    label {
      text-align: right;
      &:before {
	font-size: 32px;

	@include breakpoint(sm) {
		font-size: 27px;
	}
      }
    }
  }

  .social-icons {
    a {
      font-size: 25px;
      line-height: 40px;
      margin-right: 10px;

      &:before {
	line-height: 40px;
      }
    }
  }

  .links {
    a {
      font-size: 18px;

      &:not(:last-child) {
      border-right: 1px solid #000;
      
      padding-right: 10px;
      margin-right: 10px;
    }
    }
  }

}

input#display-how-it-works {
  display: none;

  @include breakpoint(sm) {
    + #how-it-works {
      display: none;
    }

    &:checked + #how-it-works-mobile {
      display: block !important;
      visibility: visible !important;
    }
  }

}

input#mobile-menu-switch {
  display: none;
  & + #mobile-menu {
  display: none;
}

&:checked + #mobile-menu {
  display: block;
}

}

#mobile-menu {
  position: fixed;
  top: 50px;
  left: 0px;
  background: #EFEFEF;
  line-height: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  z-index: 2;

  a {
    color: #000;
    font-weight: 800;
  }
}
