#index-banner {
  position: relative;
  //margin-bottom: 40px;
  margin-top: 60px;
  padding: 0px;
  max-height: 452px;
  height: auto;
  overflow: hidden;

  /*background: url('../static/img/index-banner-photo.jpg');*/

  @include breakpoint(md) {
    margin-top: 50px;
  }
  @include breakpoint(sm) {
    margin-bottom: 0px;
    min-height: 165px;
    //margin-top: 113px;
  }

  

  img {
    width: 100%;

    @include breakpoint(sm) {
	    width: 1667px;
      max-width: inherit;
      position: absolute;

    }
  }

  a {
    color: #FFF;
  }

  .arrow-link {
    background-color: #333;
    border: 3px solid #E6BE46;
    font-size: 30px;
    line-height: 40px;
    margin-top: -28px;
    padding: 0px 11px;

    top: 60%;
    left: 22%;
    margin-left: -93px;
    position: absolute;

    @include breakpoint(sm) {
	    left: 50%;
	    top: auto;
	    /*bottom: 35px;*/
	    position: absolute;
	    margin-top: 18px;

    }

  }

  .text-container {
    position: absolute;
    /*left: 50%;*/
    top: 0px;
    width: 100%;
    height: 100%;
    /*margin-left: -585px;*/

    .text {
        position: relative;
        padding-left: 35px;

        @include breakpoint(sm) {
            padding-left: 10px;
            width: 100%;
        }
    }
    &.landingtest {
      margin-top: 30px
    }
    
    @include breakpoint(lg, True) {
      /*margin-left: -485px;*/
    }

    @include breakpoint(md) {
      /*margin-left: -375px;*/
    }

    @include breakpoint(sm) {
	    padding-left: 0px;
      margin-left: 0px;
      margin-top: 0px;
      left: 0%;
      width: 100%;
      background: #939598;
    }
    
    @include breakpoint(lg) {
      /*margin-left: -585px;*/
    }
  }

  .text {
    font-family: "Droid Serif";
    font-size: 24px;
    color: #FFF;
    top: 25%;
    position: relative;

    > * {
        background: $gold;
        padding: 0px 10px;

    }

    @include breakpoint(sm) {
      font-size: 18px;
      text-align: center;
      margin-top: 25px;
      top: auto;
      padding: 10px
    }
    strong {
      //display: block;
      /*color: $gold;*/
      //font-family: "Ostrich Sans";
      font-family: "Droid Serif";
      text-transform: uppercase;
      font-weight: normal;
      font-size: 26px;
      line-height: 36px;
      font-style: italic;
      @include breakpoint(sm) {
      }
    }

  }
}

#how-it-works {
    background: #91c3c3;
}

#how-it-works, #how-it-works-mobile {
  padding-top: 35px;

  @include breakpoint(sm) {
      padding-top: 0px;

  }

  @include breakpoint(md, True) {
      padding-bottom: 35px;
      
  }

  .info {
    text-align: center;
    font-size: 14px;
    font-family: "Droid Serif";
    font-weight: bold;
    margin-top: 30px;

    @include breakpoint(md, True) {
      float: none;
      display: table-cell;
      &:not(:last-child) {
          border-right: 1px solid #FFF;
      }

    }

    @include breakpoint(sm) {
      font-size: 12px;
    }

    &:not(:last-child) {

      @include breakpoint(sm) {
	padding-right: 15px;
      }
    }

    > div {
      background: $lily;
      border: 2px solid $lily;
      color: #FFF;
      padding: 28px 18px 5px;
      position: relative;

      @include breakpoint(md, True) {
	height: 100%;
	display: inline-table;
      }

      @include breakpoint(sm) {
	margin-bottom: 30px;
	padding: 16px 18px 6px;
      }

      &:before {
	content: 'a';
	color: $lily;
	display: block;
	position: absolute;
	background: #FFF;
	border-radius: 22px;
	border: 2px solid $lily;
	width: 44px;
	height: 44px;
	line-height: 40px;
	top: -22px;
	left: 50%;
	margin-left: -22px;
	font-family: "raredoor";
	text-align: center;

	@include breakpoint(sm) {
	  width: 30px;
	  height: 30px;
	  line-height: 27px;
	  top: -15px;
	  margin-left: -15px;

	}


      }

      &.browse:before {
	content: 'k';
	font-size: 26px;

	@include breakpoint(sm) {
	  font-size: 19px;

	}

      }

      &.purchase:before {
	content: 'o';
  //content: url('/static/img/calendar.svg');
	font-size: 20px;

	@include breakpoint(sm) {
	  font-size: 18px;
	}
      }

      &.reserve {

	&:before {
	  font-size: 19px;
	  content: 'h';

	  @include breakpoint(sm) {
	    font-size: 16px;
	  }
	}

      }
    }

    header {
      border-bottom: 1px solid #FFF;
      font-size: 20px;
      font-style: italic;
      text-transform: uppercase;
      margin-bottom: 5px;
      color: white;


      @include breakpoint(sm) {
	font-size: 16px;
      }
    }

  }

}

#products {
  padding: 0px;

  header {
    background: #979391;
    color: #FFF;
    font-family: "Droid Serif";
    font-size: 23px;
    font-weight: bold;
    line-height: 25px;
    padding: 10px 0px;
    text-align: center;
    text-transform: uppercase;

    @include breakpoint(sm) {
      font-size: 17px;
      font-weight: normal;
      margin-bottom: 10px;
    }
  }

  .see-more {
    float: right;
    background: $lily;
    color: #FFF;
    font-size: 30px;
    padding: 0px 20px;
    height: 50px;
    line-height: 53px;
    margin-bottom: 25px;
    margin-top: -10px;

    @include breakpoint(sm) {
      background: $yellow;
      width: 100%;
      text-align: center;
      margin-top: 0px;
      margin-bottom: 10px;

    }

    &:before {
      font-size: 30px;
    }

  }


}

.grid {
  @include breakpoint(sm) {
    padding: 0px;
  }
  img {
    width: 100%;
  }

  .grid-item {
    
    img {
      border-radius: 25%;
      width: 100%;
      
      margin-bottom: 20px;

      @include breakpoint(sm) {
	border-radius: 0px;
	margin-bottom: 10px;
      }
    }
    a {
      display: block;
    }
  }

  .grid-item {
    margin-bottom: 35px;

    @include breakpoint(sm) {
      margin-bottom: 10px;
      &:nth-child(even) {
	padding-right: 0px;
	padding-left: 5px;
      }
      &:nth-child(odd) {
	padding-left: 0px;
	padding-right: 5px;
      }

    }


    @include breakpoint(sm) {
      .name-container {
	text-align: left;
      }
      &:nth-child(odd) {
	.name-container {
	  text-align: right;
	}

      }

    }

  }

  .image-container {
    padding: 0px 10px;

    @include breakpoint(sm) {
      padding: 0px;
    }
  }

  .name-container {
    border: 3px solid $product-title-border;
    font-family: "Droid Serif";
    font-weight: bold;
    text-align: center;
    padding: 13px;
    height: 100%;
    min-height: 72px;

    @include breakpoint(sm) {
      background: $product-title-border;
      color: #FFF;

    }

    .name {
      font-family: "Ostrich Sans";
      font-size: 30px;
      font-weight: 800;
      line-height: 40px;
      letter-spacing: 1px;

      @include breakpoint(sm) {
	font-size: 20px;
	line-height: 20px;
      }

      a {
	color: #000;

	@include breakpoint(sm) {
	  color: #FFF;
	}

	&:hover {
	  text-decoration: none;
	}
      }
    }

    .subline {
      font-size: 14.5px;

      @include breakpoint(sm) {
	      font-size: 12px;

      }
    }
  }
}

#quotes {
  background: $light-brown-gray;
  color: #FFF;
  margin-bottom: 120px;
  padding: 20px;
  position: relative;
  text-align: center;

  @include breakpoint(sm) {
    margin-bottom: 0px;
  }

  &:after {
    
    content: '';
    display: block;
    position: absolute;
    width: 75px;
    height: 80px;
    border-left: 75px solid transparent;
    border-right: 0px solid transparent;
    border-top: 80px solid #524b48;
    left: 0px;
    bottom: -80px;

    @include breakpoint(sm) {
      content: none;
    }
  }

  q {
    display: block;

    font-family: "Droid Serif";
    font-style: italic;
    font-size: 17px;
    margin-bottom: 10px;

    @include breakpoint(md) {
      font-size: 15px;
    }


  }

  .author-name {
    display: block;
    font-family: "Ostrich Sans";
    font-weight: 800;
    font-size: 20px;
    letter-spacing: 1px;
    &:before {
      content: '—';
      margin-right: 5px;
    }
  }

  .quote:not(:last-child) {
    border-right: 1px solid #FFF;
    height: 135px;

    @include breakpoint(sm) {
      border-right: 0px;
      height: auto;
      margin-bottom: 15px;

      &:after {
	content: '';
	width: 52%;
	height: 1px;
	display: block;
	background: #FFF;
	margin: 15px auto 0px;

      }
    }
  }

  header {
    background: $yellow;
    font-size: 30px;
    font-family: "Droid Serif";
    font-style: italic;
    line-height: 60px;
    text-transform: uppercase;
    height: 60px;
    width: 100%;
  }

  .header-container {
    width: 100%;
    position: absolute;
    padding-left: 93px;
    bottom: -80px;
    right: 0px;
  }

}
