.grid-products-wrapper, #filter-container {
    margin-top: 60px;

}
.grid-products-wrapper {
    padding-top: 20px;
    background: transparent;

    .row {
        margin-left: 0px;
        margin-right: 0px;

        @include breakpoint(sm) {
            margin-left: -15px;
            margin-right: -15px;

        }

    }

    .product-container {
        padding-bottom: 10px;
        margin-bottom: 20px;

        @include breakpoint(sm) {
            padding-bottom: 0px;
            &:nth-child(odd) {
                padding-right: 10px;
                padding-left: 0px;

            }

            &:nth-child(even) {
                padding-left: 10px;
                padding-right: 0px;
            }

        }

        &:hover {
            background: #FFF;
            box-shadow: #AAA 0px 0px 5px;

            .main-image {
                /* Remove with main_old.css */
                opacity: 1;

            }

            .actions {
                display: block;

            }

        }
    }

    .grid-product {
        padding: 10px 15px;
        @include breakpoint(sm) {
            height: 330px;
            padding: 0px;
        }

        @include breakpoint(xs) {
            height: 165px;
            padding: 0px;
        }

         .centered-child {
        display: block;

        img {
          max-height: 100%;

          @include breakpoint(sm) {
            padding-bottom: 15px;

          }
              @include breakpoint(xs) {
                  max-height: 165px;

              }
              }
            }

    }

    .pic-detail-home {
      text-align: center;
      margin: 2px 0px 3px;
      clear: both;
      float: none;

      @include breakpoint(xs) {
            padding-top: 15px;
            margin-top: 10px;
        }

    }

    .price {
        font-family: "Droid Serif";
        font-size: 13px;
        margin-bottom: 3px;
    }

    .name {
        font-family: "Droid Serif";
        font-size: 9px;
        font-style: italic;

        a {
            color: #000;

            &:hover {
                text-decoration: none;
            }

        }

    }

    .neighborhood-like-container {
      position: relative;
    }

    .neighborhood {
      border-top: 1px solid #636466;
      border-top: 1px solid rgba(99, 100, 102, 0.25);
      font-family: "Droid Serif";
      font-size: 13px;
      font-style: italic;
      text-transform: uppercase;
      text-align: center; 
    }

    .neighborhood, .actions {
      padding-top: 4px;
      line-height: 20px; 
    }

    .actions {
      display: none;
      position: absolute;
      top: 0px;
      width: 100%;

      a {
	text-decoration: none;
      }

      .like-btn {
	display: block;
	color: $gold;
	font-size: 15px;
	line-height: inherit;

        &.active {
          color: red
        }
        &:hover {
          text-decoration: none;
        }


      }


    }

}

#display-categories {
    display: none;

    @include breakpoint(sm) {
        + ul {
            display: none;
        }

        &:checked + ul {
            display: block;
        }
    }

}

#close-filter {
    color: #000;
    font-family: "Ostrich Sans";
    text-decoration: none;

    position: absolute;
    top: 80px;

    &:before {
        content: '×';
        display: inline-block;
        font-size: 20px;

    }
    span {
        display: none;
    }
}


#searchfilter-form {

    width: 245px;
    background: #e6e7e8;
    color: #000;
    position: fixed;
    padding: 90px 20px 35px 35px;
    overflow: auto;
    height: 100%;
    top: 0px;
    z-index: 1;
    left: -245px;

    
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;

    
    + .wrap {
        //margin-left: 245px;

        
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        margin-left: 0px;

        @include breakpoint(sm) {
            margin-left: auto;
            margin-top: 50px;

        }

        .container {

          width: 1170px - 245px;

          @include breakpoint(md) {
            width: 970px - 245px;

          }

          @include breakpoint(sm) {
            width: 750px - 245px;

          }

        }


    }

    &.open {
      left: 0px;

      + .wrap {
        margin-left: 245px;
      }

      @include breakpoint(sm) {
        + .wrap {
          margin-left: 0px;
        }

      }
    }

    b {
        font-family: "Droid Serif";
        font-weight: bold;
        font-size: 11px;

    }

    .filters-container {
        
            //background: #FFF;
            //height: 100%;
            //width: 100%;
            //top: 50px;
            position: relative;
            //position: fixed;
            //z-index: 3;
            //padding-top: 15px;
            //padding-bottom: 80px;
            overflow: auto;

            li {
                padding-left: 10px;
            }

            @include breakpoint(sm) {
                li {
                    padding-left: 0px;
                }

            }

        }

    #filter-container-furnituretype {
        label {
            width: 100%;

        }

    }

    @include breakpoint(sm) {
        width: 100%;
        height: auto;
        padding: 0px;
        overflow: visible;
        z-index: 2;
        left: 0px;


        #filter-container-furnituretype header, #refine {
            border: 1px solid #939598;
            color: #939598;
            display: inline-block;
            cursor: pointer;
            width: 130px;
            position: relative;



            label {
                cursor: pointer;
                display: block;
                padding: 4px 11px;

                &:after {
                    position: absolute;
                    right: 11px;
                    font: normal normal normal 18px/1 FontAwesome;
                    top: 7px;


                }
            }

        }

        #filter-container-furnituretype {
            display: inline-block;
            float: left;
            position: relative;


            header {
                margin-left: 76px;

                @include breakpoint(xs) {
                    margin-left: 25px;

                }

                label:after {
                    content: '\f107';

                }

            }
            ul {
                position: absolute;
                z-index: 3;
                left: 76px;
                top: 37px;
                z-index: 3;
                background: #e6e7e8;
                border: 1px solid #939598;
                border-top: 0px;

                li {
                    padding: 4px 11px;
                    font-size: 14px;
                }
            }



        }

        #refine {

            background: #939598;
            color: #FFF;
            float: right;
            margin-right: 76px;

            @include breakpoint(xs) {
                margin-right: 25px;
            }

            label:after {

                content: '\f105';
            }
        }

    }

    ul {
        padding-left: 0px;
    }
    li {
        list-style: none;
        padding-left: 30px;
        text-overflow: ellipsis;
        max-width: 100%;
        white-space: nowrap;
        line-height: 17px;
        @include breakpoint(sm) {
            padding-left: 0px;
        }
    }


    label {
        width: auto;
        float: none;
        font-size: inherit;
        line-height: inherit;
        font-weight: inherit;
        letter-spacing: inherit;
        margin-bottom: 0px;
        height: auto;
    }

    header {
        font-family: "Ostrich Sans";
        font-size: 20px;
        font-weight: 800;
        margin-bottom: 15px;

        border-bottom: 1px solid black;
    }

    /* Category */

    .category {
        margin-bottom: 50px;

        @include breakpoint(sm) {
            margin-bottom: 0px;

        }

        header {
            a.reset {
                color: #000;
                float: right;

                &:hover {
                    text-decoration: none;
                }

                &:after {
                    content: '×';
                    font-weight: normal;

                }

                span {
                    display: none;
                }
            }

        }

    }

    .category.filters {

        @include breakpoint (md) {
        }

        div header {
            border-bottom: 1px dotted #939598;
            padding-bottom: 2px;

        }
        div a {
            font-family: "Droid Serif";
            color: #000;
            font-size: 11px;
            font-weight: bold;

            display: block;

            &:hover {
                text-decoration: none;
            }

            i {
                float: right;
                font-size: 20px;
                margin-top: -3px;

                &:before {
                    content: "\f106";
                }

            }

        }

        div header {
            position: relative;
            a.reset {
                position: absolute;
                left: -20px;
                top: -3px;
                font-size: 16px;

            }

        }

        div a.collapsed i {
            &:before {
                content: "\f107";

            }
        }

        > div {
            padding-left: 30px;

            @include breakpoint (sm) {
                padding-left: 70px;
                padding-right: 36px;
            }

        }

        .mobile {
            padding-bottom: 15px;

            .col-xs-6 {
                &:nth-child(odd) {
                    padding-right: 10px;
                }
                &:nth-child(even) {
                    padding-left: 10px;
                }

            }
            input {
                width: 100%;
                font-family: "Ostrich Sans";
                font-size: 11px;
                letter-spacing: 1px;

            }
            label {
                font-family: "Ostrich Sans";
                font-size: 11px;
                letter-spacing: 1px;
                display: block;
            }
        }

        .fold .c-checkbox {
            .checkbox-pseudocheckbox {
                width: 4px;
                height: 4px;
                border: 1px solid #939598;
                display: inline-block;
                vertical-align: middle;
                margin-top: 0px;
                margin-right: 4px;

                @include breakpoint(sm) {
                    display: none;

                }

            }

            input:checked + .checkbox-pseudocheckbox {
                background: #939598;

            }

            .checkbox-label {
                @include breakpoint(sm) {
                    height: 20px;
                    line-height: 20px;
                    background: #91c3c3;
                    color: #FFF;
                    width: 100%;
                    text-align: center;
                    margin-bottom: 5px;
                    border-radius: 3px;
                    font-family: "Ostrich Sans";
                    text-transform: uppercase;
                    font-weight: 800;
                    font-size: 15px;
                    letter-spacing: 1px;

                }

            }

        }

    }

    #filter-container-color {
        li {
            display: inline-block;
            padding-left: 0px;
        }

    }

    .color-checkbox {

        display: inline-block;

        input {
            display: none;
        }

        input:checked + label {
            border: 2px solid #939598;

        }

        .checkbox-pseudocheckbox {
            width: 15px;
            height: 15px;
            -moz-border-radius: 8px;
            border-radius: 8px;
            background: #000;

            @include breakpoint (sm) {
                width: 40px;
                height: 40px;
                border-radius: 20px;
                margin-right: 30px;
                margin-bottom: 10px;

            }

        }

    }


    .c-checkbox {
        font-family: "Droid Serif"; 
        font-weight: bold;
        font-size: 11px;
        color: #000;

        input {
            display: none;
        }

        .checkbox-label {
            position: relative;
        }

        input:checked + .checkbox-label:before {
            content: '×';
            font-size: 16px;
            display: block;
            position: absolute;
            top: 0px;
            left: -20px;

            @include breakpoint (sm) {
                content: none;

            }
        }

        input:checked + label {
            color: #000;
        }

        label {
            cursor: pointer;
        }


    }



}


#searchfilter-form #display-filters {
    display: none;

    @include breakpoint(sm) {
        +.filters-container > * {
            display: none;
        }
        
        +.filters-container > header {
            display: block;
        }

        &:checked + .filters-container > .category {
            display: block;
        }

        &:checked + .filters-container {
            
            background: #FFF;
            height: 100%;
            width: 100%;
            top: 50px;
            position: fixed;
            z-index: 3;
            //padding-top: 15px;
            padding-bottom: 80px;
        }

        &:checked + .filters-container #refine {
            background: #000;
            float: none;
            width: 100%;
            padding-left: 70px;
            border: 0px;

            label {
                padding: 6px 0px;
            }

            label:after {
                background: #e6be46;
                border: 2px solid #FFF;
                content: 'Done';
                font-family: "Ostrich Sans";
                font-size: 12px;
                padding: 6px 17px;
                font-weight: 800;
                top: 6px;
                margin-right: 25px;
                
            }

        }

    }

}

/* Override main_old.css */
.collapse {

    @include breakpoint(sm) {
        display: none;

    }
}

.row { 
    @include breakpoint(sm) {
    margin-left: -15px;
    margin-right: -15px;
}
}
