.how-it-works {
    @include breakpoint(md, True) {
      padding: 5px inherit;
  }
}

.how-it-works .statement {
  margin: 10px 0;
  min-height: 100px;
  padding: 0 2.5em;
}
#input-promo-code, #input_offer_price {
    max-width: 95px;
}
.how-it-works h4 {
  padding: 0 15px;
  text-align: center;
  font-family: 'ralewaylight';
  font-size: 16px
}
#how-it-works-modal .how-it-works .statement:not(:last-child) {
  border-right: 0px;
}
.how-it-works .col-md-12.statement {
  text-align: left;
  padding: 0;
}
.how-it-works .col-md-12.statement h3 {
  font-family: 'Chunkfive';
}
.signup-login {
    .btn {
        width: 100%;
    }

    h5 {
      font-size: 18px;
  }

    .login form {
        margin-bottom: 20px;

    }

    .login .btn-primary {
        background: #999;
        border: 1px solid #999;

    }

    .modal-content {
        padding: 0px 20px;

        .col-sm-6 {
            text-align: center;

            &:first-child {
                border-right: 1px solid #eee;
            }
        }
    }

}

.modal-dialog .modal-content {
  
  h3, h2 {
    margin: 0;
    font-family: 'Chunkfive';
    font-size: 18px;
    line-height: 22px;
    font-weight: 700;
    color: #333;
    letter-spacing: 2px;
    text-align: center;
    /* margin-bottom: 20px; */
  }
}
