.how-it-works {
    @include breakpoint(md, True) {
      padding: 5px inherit;
  }
}

.how-it-works .statement {
  margin: 10px 0;
  min-height: 100px;
  padding: 0 2.5em;
}
#input-promo-code, #input_offer_price {
    max-width: 95px;
}
.how-it-works h4 {
  padding: 0 15px;
  text-align: center;
  font-family: 'ralewaylight';
  font-size: 16px
}
#how-it-works-modal .how-it-works .statement:not(:last-child) {
  border-right: 0px;
}
.how-it-works .col-md-12.statement {
  text-align: left;
  padding: 0;
}
.how-it-works .col-md-12.statement h3 {
  font-family: 'Chunkfive';
}
#signup-login-modal .modal-dialog {
  &.modal-content {
    float: left;
    padding: 20px;
    border: 0;
    max-width: 100%;
    width: 100%;

    &button.close {
      position: absolute;
      right: 8px;
      top: 8px;
    }
  }

}
.modal-dialog .modal-content {
  
  h3, h2 {
    margin: 0;
    font-family: 'Chunkfive';
    font-size: 18px;
    line-height: 22px;
    font-weight: 700;
    color: #333;
    letter-spacing: 2px;
    text-align: center;
    /* margin-bottom: 20px; */
  }
}
