.main-container {
  width: 100%;
  background: white;
  padding-bottom: 40px;
  min-height: 100%;
  margin-top: 10%;
}

.rslides img {

	float: none;
	max-width: 100%;
	margin: 0 auto;
	width: auto;

}

#first-content-after-nav {
  padding-top: 75px;
}

.heading {
  color: #333;
  text-transform: none;
  text-align: center;
  font-weight: 400;
  line-height: 30px;
  font-family: "Chunkfive";
  /* text-transform: uppercase; */
}

.product-description .heading {
  float: left;
  color: white;
  width: 100%;
  padding: 12px 10%;
  letter-spacing: 2px;
  background: none;
  color: black;
  border: black 2px solid;
  font-size: 16px;
  font-weight: 600;

  @include breakpoint(sm) {
      padding: 12px 5%;
      max-width: 500px;
      text-align: center;
      margin-top: 2em;
      font-size: 14px;
    }
}

.row-attrs {
  margin-top: 5%;
}

.product-description {
  background: white;
  float: left;
  margin-bottom: 10px;
  /* padding-top: 3rem; */
}

.like-btn {
  color: #e6be46;
  font-size: 20px;
}
.btn.btn-default.sold, .btn.btn-primary.buy, .btn.btn-danger.buy.reserve {
  max-width: 140px;
  min-width: 75px;
  height: 2.75em;
  font-weight: 800;
  /* background-color: rgb(201,177,62); */
}
.btn.btn-primary.buy.reserve {
  background-color: black;
}
.btn.btn-primary.buy.profile {
  width: 100%;
  max-width: 100%;
  min-width: 90px
}
.attr {
  font-size: 14px;
  line-height: 50px;
  color: #333;
  margin: 0;
}
.row.attributes {
  border-top: solid lightgray 1px;
  border-bottom: solid lightgray 1px;
}

.attr-label {
  font-size: 14px;
  line-height: 50px;
  font-weight: 700;
  color: #333;
  text-transform: uppercase;
  margin: 0;
  text-align: left;
}
