{% load cloudinary %}
<div class="product col-md-4 col-xs-6">
	<a href="{% url 'goods:detail' product.slug  %}" class="image-container">

		<picture>
		<!--[if IE 9]><video style="display: none;"><![endif]-->
		<source srcset="{% cloudinary_url product.productimage_set.first.image width=252 height=252 crop="fill" %}" media="(min-width: 992px)">
		<source srcset="{% cloudinary_url product.productimage_set.first.image width=375 height=375 crop="fill" %}" media="(min-width: 413px)">
		<!--[if IE 9]></video><![endif]-->
		<img srcset='{% cloudinary_url product.productimage_set.first.image width=292 height=292 crop="fill" %}' alt="">
		</picture>
	</a>
	<div class="name-container">
		{% include 'goods/landing/_landingproductlabel.html' %}
	</div>
</div>

