{% extends '_base.html' %}
{% load staticfiles %}
{% load cloudinary %}

{% block nav %}
{% endblock nav %}
{% block content %}
<div class="container-fluid" id="index-banner">
	<picture>
	<!--[if IE 9]><video style="display: none;"><![endif]-->
	<!-- <source srcset="https://res.cloudinary.com/trouvaay/image/upload/c_fill,w_1000,h_375/v1422902656/shutterstock_160709951_hsvzx9.jpg" media="(min-width: 992px)"> -->
	<!--[if IE 9]></video><![endif]-->
	<!-- <img srcset='https://res.cloudinary.com/trouvaay/image/upload/c_fill,w_766,h_282/v1422902656/shutterstock_160709951_hsvzx9.jpg' alt=""> -->
	<img srcset="{% static 'img/landing_image_MAP_NO PIN1.jpg' }" alt="">
	</picture>
	<!-- <div class="row-fluid text-container">
		<div class="text "><div style="font-style: italic; text-transform: uppercase;'">Find one of a kind furniture available in </div><strong>Bay Area stores</strong></div>
	</div> -->

</div>

<div class="container" id="how-it-works">
	<div class="row">
		<div class="col-sm-4 info">
			<div class="browse">
				<header>Browse</header>
				<p>A curated selection of new and vintage furniture — all currently available in local stores — at <i>Raredoor.com.</i></p>
			</div>
		</div>
		<div class="col-sm-4 info">
			<div class="reserve">
				<header>Reserve</header>
				<p>Your perfect pieces online and take a few days to see the items in a store nearby.</p>
			</div>
		</div>
		<div class="col-sm-4 info">
			<div class="purchase">
				<header>Purchase</header>
				<p>Through us and receive great deals, as well as affordable delivery.</p>
			</div>
		</div>
	</div>
</div>

<div class="container-fluid" id="products">
	<div class="row-fluid">
		<header class="col-md-12">A Taste of What's In Bay Area Neighborhoods</header>
		<!-- <header class="col-md-12">Check out furniture in your neighborhood</header> -->
		<div id="products-grid" class="container grid">
			<div class="row-fluid">

				{% for product in products %}
				{% include 'goods/landing/_landingproduct_for_loop.html' %}
				{% endfor %}
				
			</div>

		</div>
	

	</div>
</div>
<div class="container" id="quotes">
	<div class="header-container hidden-xs">
		<header>What people are saying about us</header>
	</div>

	<div class="row">
		<div class="col-sm-4 quote">
			<q>
				As a designer this saves me a ton of time instead of going store to store.
			</q>
			<span class="author-name">Morgan, Los Altos</span>
		</div>

		<div class="col-sm-4 quote">
			<q>
				Hassle-free way to find interesting pieces that have a story.  
			</q>
			<span class="author-name">Hafeeza, Oakland</span>
		</div>

		<div class="col-sm-4 quote">
			<q>
				Great option for unique, quality finds.  They make it easy.
			</q>
			<span class="author-name">Jaime, Russian Hill</span>
		</div>
	</div>

</div>

	<div id="promotion-modal-container">
		


	</div>
	{% if show_referral_first_modal or show_referral_second_modal  %}<div id="referral-modal-container"></div>{% endif %}

{% endblock content %}
{% block endjs %}

<!-- {% if show_referral_first_modal or show_referral_second_modal  %}
	<script type="text/javascript">
	$(document).ready(function () {
	
		// ajax call to load referral
		$.ajax({
			type: "GET",
			dataType: "html",
			url: "{% if show_referral_first_modal %}{% url "members:referral_signup" %}{% else %}{% url "members:referral_info" %}{% endif %}",
			success: function(response, status){
				console.log('status ['+status+']');
				if(status == 'success'){
					$("#referral-modal-container").html(response);
					$("#referral-signup-modal").modal({
						show: true,
						keyboard: true
					});					
				}			
			}
		});
		
	});
	</script>
{% endif %} -->


{% if promotion_offer and not request.user.is_authenticated %}
	<script type="text/javascript">
		$(document).ready(function () {
			$('#promotion-offer-modal').modal({"show": true});
		});
	</script>
{% endif %}
	<script>
	// 	(mixpanel.track('LandingPage viewed', {
	// 	    'page name' : document.title,
	// 	    'url' : window.location.pathname
	// 	}));
	// 	console.log( "{{ request.session.cid }}");
	// 	console.log('send mixpanel landing pageview event');
	// </script>
{% endblock endjs %}
