{% load staticfiles %}
{% load cloudinary %}
<section class="hp-tabs">
<div class="container-fluid tab-icons">
    <div class="row">
        <div class="col-sm-offset-1 col-sm-2 col-md-offset-2 col-md-2">
            <div class="heading">
                Refine by room <br/>
            </div>
        </div>
        <div class="col-sm-9 col-md-8">
            <ul class="nav nav-tabs pull-left">
                <li class="active first"><a href="#tab1" data-toggle="tab"><span class="inner" style="display:list-item"><img src="{% static 'img/roomiconsnew/house128.png' %}" title="house" alt=""/></span><span class="inner icon-label" style="display:list-item">want it all</span></a></li>
                <li><a href="#tab2" data-toggle="tab"><span class="inner" style="display:list-item"><img src="{% static 'img/roomiconsnew/livingroom128.png' %}" title="livingroom" alt=""/></span><span class="inner icon-label" style="display:list-item">living</span></a></li>
                <li><a href="#tab3" data-toggle="tab"><span class="inner" style="display:list-item"><img src="{% static 'img/roomiconsnew/diningroom128.png' %}" title="diningroom" alt=""/></span><span class="inner icon-label" style="display:list-item">dining</span></a></li>
                <li><a href="#tab4" data-toggle="tab"><span class="inner" style="display:list-item"><img src="{% static 'img/roomiconsnew/bedroom128.png' %}" title="bedroom" alt=""/></span><span class="inner icon-label" style="display:list-item">bedroom</span></a></li>
                <li><a href="#tab5" data-toggle="tab"><span class="inner" style="display:list-item"><img src="{% static 'img/roomiconsnew/office128.png' %}" title="office" alt=""/></span><span class="inner icon-label" style="display:list-item">office</span></a></li>
                <li><a href="#tab6" data-toggle="tab"><span class="inner" style="display:list-item"><img src="{% static 'img/roomiconsnew/lighting128.png' %}" title="lighting" alt=""/></span><span class="inner icon-label" style="display:list-item">lighting</span></a></li>
                <li><a href="#tab7" data-toggle="tab"><span class="inner" style="display:list-item"><img src="{% static 'img/roomiconsnew/other128.png' %}" title="decor" alt=""/></span><span class="inner icon-label" style="display:list-item">decor</span></a></li>
            </ul>
        </div>
    </div>
</div>
<div class="container pic-tabs">        
    <div class="row">
        <div class="col-sm-12">
            <div class="tab-content">
                <div class="tab-pane fade in active" id="tab1">
                    <div class="grid-products-wrapper">
                        <div class="row">
                            {% for piece in goods %}
                                {% include 'goods/new/_new_for_loop.html' %}
                            {% endfor %}
                        </div>
                    </div>
                </div><!-- end tab1 -->
                <div class="tab-pane fade" id="tab2">
                    <div class="grid-products-wrapper">
                        <div class="row">
                            {% for piece in living %}
                                {% include 'goods/new/_new_for_loop.html' %}
                            {% endfor %}
                        </div>
                    </div>
                </div><!-- end tab2 -->
                <div class="tab-pane fade" id="tab3">
                    <div class="grid-products-wrapper">
                        <div class="row">
                            {% for piece in dining %}
                                {% include 'goods/new/_new_for_loop.html' %}
                            {% endfor %}
                        </div>
                    </div>
                </div><!-- end tab3 -->
                <div class="tab-pane fade" id="tab4">
                    <div class="grid-products-wrapper">
                        <div class="row">
                            {% for piece in bedroom %}
                                {% include 'goods/new/_new_for_loop.html' %}
                            {% endfor %}
                        </div>
                    </div>
                </div><!-- end tab4 -->
                 <div class="tab-pane fade" id="tab5">
                    <div class="grid-products-wrapper">
                        <div class="row">
                            {% for piece in office %}
                                {% include 'goods/new/_new_for_loop.html' %}
                            {% endfor %}
                        </div>
                    </div>
                </div><!-- end tab5 -->
                 <div class="tab-pane fade" id="tab6">
                    <div class="grid-products-wrapper">
                        <div class="row">
                            {% for piece in lighting %}
                                {% include 'goods/new/_new_for_loop.html' %}
                            {% endfor %}
                        </div>
                    </div>
                </div><!-- end tab6 -->
                 <div class="tab-pane fade" id="tab7">
                    <div class="grid-products-wrapper">
                        <div class="row">
                            {% for piece in decor %}
                                {% include 'goods/new/_new_for_loop.html' %}
                            {% endfor %}
                        </div>
                    </div>
                </div><!-- end tab7 -->
            
            </div>
        </div>
    </div>
    </div>
</section>