{% extends '_base.html' %}
{% block beginjs %}

{% endblock beginjs %}
 {% block content %}
 	<div class="container-fluid page-quote" id="first-content-after-nav">
    <div class="row">
        <div class="col-sm-12">
            <div class="heading main-quote">
                <h4 class="subheading">If vintage isn't your thing here's some new items that bring style to your home. Improve your feed by <span style="color:rgb(0,128,183)" class="glyphicon glyphicon-heart" aria-hidden="true"></span> the items you like.</h4> 
            </div>
        </div>
    </div>
	</div>
	
    {% include 'goods/new/_new_pic_tile.html' %}

 {% endblock content %}
 {% block endjs %}
 {% include 'js/addlikeditems.html' %}
<!--<script type="text/javascript">
	// $('#signup').on('click', function () {
	//     	$('#addtocartmodal').modal({"show": true});
	// });
	// var directionsDisplay;
	// var directionsService = new google.maps.DirectionsService();

	// function initialize (storelat, storelng, userloc, prodnum) {    
	//     var storepos = new google.maps.LatLng(storelat, storelng);
	//     var userpos = new google.maps.LatLng(userloc.lat, userloc.lng);
	    
	// 	var request = {
	// 	    origin: userpos,
	// 	    destination: storepos,
	// 	    travelMode: google.maps.TravelMode.DRIVING
	// 	};

	// 	directionsService.route(request, function(result, status) {
	// 	    if (status == google.maps.DirectionsStatus.OK) {
	// 	    	console.log(result.routes[0].legs[0].distance.text);
	// 	     	$(".dist").eq(prodnum).append('('+result.routes[0].legs[0].distance.text+')');
	// 	    }
	// 	  });
	// 	}
	// function  getpoints (userloc) {
	// 	var products = {{ products_json|safe }};
	// 	console.log(products);
	// 	var userloc = {
	// 		'lat': userloc.coords.latitude,
	// 		'lng': userloc.coords.longitude,
	// 	};
	// 	var distances = []
	// 	for (i in products) {
	// 		initialize(products[i].fields.lat, products[i].fields.lng, userloc, i);
	// 		}	
	// };

	// navigator.geolocation.getCurrentPosition(getpoints);
</script>-->
{% endblock %}