<div class="homepage-slider-wrap">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="homepage-slider">
                        <ul class="slides">
                            <li style="background-image: url('content/homepage-slider01.jpg');">
                                <div class="overlay"></div>
                            </li>
                            <li style="background-image: url('content/homepage-slider02.jpg');">
                                <div class="overlay"></div>
                            </li>
                            <li style="background-image: url('content/homepage-slider03.jpg');">
                                <div class="overlay"></div>
                            </li>
                            <li style="background-image: url('content/homepage-slider04.jpg');">
                                <div class="overlay"></div>
                            </li>
                            <li style="background-image: url('content/homepage-slider05.jpg');">
                                <div class="overlay"></div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
</div>