{% extends '_base.html' %}

{% block content %}
<div class="main-container">
<div class="row">
<div class="col-sm-7 product-description">
   <div class="container" style="max-width: 100%">
      {% block mainphoto %}
      <div class="row">
          <div class="col-sm-12">
              <div id="map-canvas"> </div>
          </div>
      </div>
      {% endblock %}
  </div>
</div>
<div class="col-sm-5 product-description">
    {% block mainphotodescrip %}
       <div class="name map"><a href="/{{ product.id }}">{{ product.short_name }}</a></div>
       <div class="info-block">
           <h5>AVAIlABLE @</h5>
           <h4><a href="{% url 'goods:storeprofile' store.id %}">{{ store.retailer }}</a></h4>
           <div class="info">
               {{ store.street }}
               {{ store.street2 }}</br>
               {{ store.city }} {{ store.state }}, {{ store.zipcd }}
           </div>
       </div>
       <div class="info-block image">
        <figure style="width: 80%">
          <img style="width: 100%" src="{{ MEDIA_URL }}{{ product.productimage_set.first.image }}" alt=""/>
        </figure>
        </div>
       <div class="info-block">
           <h4>Getting there...</h4>
           <div class="info" id="directions"></div>
       </div>
       <div class="info-block">
           <h5>No way to pickup?</h5>
           <div class="info">
               Purchase now for {{ '$15' }} delivery.
           </div>
       </div>    
    {% endblock %}     
</div>
</div>
{% block itemfeed %}
{% endblock %}
{% endblock content %}
