{% extends 'goods/map/_map_main.html' %}

{% block endjs %}
<script type="text/javascript" 
	src=https://maps.googleapis.com/maps/api/js?key=AIzaSyDZTlXL-J2h0DQO0CVDpXbtKOtn_TTCZTU&sensor=true>
</script>
<script type="text/javascript">
	
	var directionsDisplay;
	var directionsService = new google.maps.DirectionsService();
	var map

	function initialize (storeloc, userloc) {    
	    directionsDisplay = new google.maps.DirectionsRenderer();
	    stepDisplay = new google.maps.InfoWindow();
	    
	    var storepos = new google.maps.LatLng(storeloc.lat, storeloc.lng);
	    var userpos = new google.maps.LatLng(userloc.lat, userloc.lng);
	    
	    var mapOptions = {
		    center: storepos,
		    zoom: 12
	    };

	    map = new google.maps.Map(document.getElementById("map-canvas"), mapOptions);
	    directionsDisplay.setMap(map);
	    
		var request = {
		    origin: userpos,
		    destination: storepos,
		    travelMode: google.maps.TravelMode.DRIVING
		};

		directionsService.route(request, function(result, status) {
		    if (status == google.maps.DirectionsStatus.OK) {
		      directionsDisplay.setDirections(result);
		      showSteps(result);
		    }
		  });
		}
		function showSteps(directionResult) {
  			var myDuration = directionResult.routes[0].legs[0].duration.text;
  			var myDistance = directionResult.routes[0].legs[0].distance.text;
  			var myinstructions = [ ]
  			for ( i in directionResult.routes[0].legs[0].steps) {
  				myinstructions[i] = directionResult.routes[0].legs[0].steps[i].instructions;	
  			}
  			var directionsPanel = document.getElementById("directions");
  			directionsPanel.innerHTML = "<h5>" + myDuration + " - " + myDistance + "</h5></br>" + myinstructions; 
  		}

  		

</script>
<script type="text/javascript"> 
	// var outty = navigator.geolocation.getCurrentPosition(initialize);
	var store = {
		'lat': {{ store.lat }},
		'lng': {{ store.lng }},
	}
	function  getpoints (userloc) {
		var userloc = {
			'lat': userloc.coords.latitude,
			'lng': userloc.coords.longitude,
		}
		
		initialize(store, userloc);
		
	}
	navigator.geolocation.getCurrentPosition(getpoints);
	
</script>
{% endblock %}
