{% extends '_base.html' %}
{% load staticfiles %}
{% load cloudinary %}
{% block beginjs %}
<script type="text/javascript" 
	src=https://maps.googleapis.com/maps/api/js?key=AIzaSyDZTlXL-J2h0DQO0CVDpXbtKOtn_TTCZTU&sensor=true>
</script>
<script type="text/javascript">
  var directionsService = new google.maps.DirectionsService();
	function initialize (products, userloc) {    
    var userpos = new google.maps.LatLng(userloc.lat, userloc.lng);
    
    var mapOptions = {
	    center: userpos,
	    zoom: 12
    };

    var map = new google.maps.Map(document.getElementById("map-canvas"), mapOptions);	

    var UserPin = new google.maps.Marker({
		    position: userpos,
		    map: map,
		    title: 'You'
	    });

    for (i in products) {
      
      var productpos = new google.maps.LatLng(products[i].fields.lat, products[i].fields.lng);

      var request = {
          origin: userpos,
          destination: productpos,
          travelMode: google.maps.TravelMode.DRIVING
      };

      directionsService.route(request, function(result, status, i) {
          if (status == google.maps.DirectionsStatus.OK) {
            console.log(result.routes[0].legs[0].distance.text);
          }
        });


     	var homeMarker = new google.maps.Marker({
        		position: productpos,
        		map: map,
        		tite: products[i].fields.short_name
      });
     };
  };
    

</script>{% endblock %}

{% block content %}
<div class="container">
    <div class="row" style="margin-top: 40px;">
          <div class="col-sm-12 product-description">
              <div id="map-canvas"> </div>
          </div>
      </div>
</div>

<div class="container">
    <table class="table">
    	<tr class="blueback">
    		<td>Item</td>
    		<td>Store</td>
    		<td>Distance</td>
    	</tr>
    	{% for product in products %}
  		<tr> 
  			<td><h4>{{ product.short_name }}</h4>
          {% cloudinary product.productimage_set.first.image width=150 height=150 crop="fit" %}
        </td>
  			<td><h4><a href="{% url 'goods:storeprofile' product.store.id %}">{{ product.store.retailer }}</a></h4>{{ product.store.street }}</td>
  			<td class="dist"></td>
  		</tr>
		{% endfor %}
    </table>
</div>
{% endblock %}
{% block endjs %}
<script type="text/javascript"> 
	function  getpoints (userloc) {
    var products = {{ products_json|safe }};
    var userloc = {
     'lat': userloc.coords.latitude,
     'lng': userloc.coords.longitude,
    };
     initialize(products, userloc); 
    };
	navigator.geolocation.getCurrentPosition(getpoints);
</script>
{% endblock %}