{% extends '_base.html' %}

{% block content %}

<div class='col-sm-8 col-sm-offset-2'>
{% if empty %}

<h1 style='text-align:center;'>{{ empty_message }}</h1>

{% else %}


<table class='table'>
<thead>
<th>Item</th>
<th>Price</th>
<th></th>
</thead>
<tfoot>
<tr>
<td></td>
<td id="total"></td>
</tr>
</tfoot>

{% for product in cart.saved_items.all %}
<tr id="prodrow_{{ product.id }}">
<td>{{ product.short_name }} </td>
<td>{{ product.current_price }}</td>
<td></td>
<td><a class="btn btn-link" id="prodremove_{{ product.id}}" href='#'>Remove</a></tr>
{% endfor %}

</table>

<br/>
<a href='#'>Checkout</a>
{% endif %}
</div>
{% endblock %}
{% block endjs %}
 <script type="text/javascript">
 	
	$(document).ready(function(){
		$(".btn.btn-link").click(function() {
			var id = $(this).attr("id").substring(11);
	    	var data = {'id': id};
	    	$.post("{% url 'members:removefromcart' %}", data, function(productid) {
		    		var row = 'prodrow_'+productid;
		    		console.log(row);
		    		document.getElementById(row).remove();
	    		});
		});
	});
</script>
{% endblock %}