{% extends 'goods/map/_map_main.html' %}
{% load staticfiles %}
{% load cloudinary %}
{% block mainphoto %}
      <div class="row">
          <div class="col-sm-12">
              <div class="grid-product centered-parent">
                <div class="centered-child detail-image-large">
                        {% cloudinary retailer.retailerimage_set.first.image width=750 height=750 crop="fit" %}
                </div>
                <div class="centered-child detail-image-med">
                        {% cloudinary retailer.retailerimage_set.first.image width=450 height=450 crop="fit" %}
                </div>
                <div class="centered-child detail-image-small">
                        {% cloudinary retailer.retailerimage_set.first.image width=275 height=275 crop="fit" %}
                </div>
              </div>
          </div>
      </div>
     
{% endblock %}

{% block mainphotodescrip %}
       <!-- <div class="name map">{{ store.retailer }}</div> -->
        <div class="info-block store-addy">
           {{ store.street }}
           {{ store.street2 }}</br>
           {{ store.city }} {{ store.state }}, {{ store.zipcd }}
        </div> 
       <div class="info-block store-profile">
          About {{ retailer }}...
          <div class="info">
               {{ store.description }}
          </div>
       </div>

{% endblock %}
{% block itemfeed %}
<div class="container-fluid top-bar-border" style="max-width: 100%">
  <div class="row">
    <div class="col-sm-12 similar-items descrip">
     {{ 'A few other items they carry...'}}
    </div>
  </div>
</div>
<div class="container-fluid" style="max-width: 100%">
  <div class="row similar-items">
    {% for piece in products %}
      <div class="col-sm-3 product-description">
        <a href="{% url 'goods:detail' piece.id %}"> {% cloudinary piece.productimage_set.first.image width=150 height=150 crop="fit" %}</a>
      </div>
    {% endfor %}
  </div>
</div>

{% endblock %}
